<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>2主页面-方案管理-二级-查看</title>
    <link rel="stylesheet" href="../css/style.css"/>
  </head>
  <body class="bgF7">
    <div class="wrap wrap--bg">
      <div class="top">欢迎，设计师<em class="top__user-name">轩亦辰</em>|<a class="top__btn top__btn--blue" href="">退出</a></div>
      <div class="head"><img class="head__logo" src="../images/icon-home/logo.png" alt=""/>
        <ul class="head__nav">
          <li class="head__nav-glfa head__nav--active"><a class="head__nav-item" href="">管理方案</a></li>
          <li class="head__nav-glkh"><a class="head__nav-item" href="">管理客户</a></li>
          <li class="head__nav-qb"><a class="head__nav-item" href="">钱包</a></li>
          <li class="head__nav-add"><a class="head__nav-item" href="">添加设计方案</a></li>
        </ul>
      </div>
      <div class="content dotWrap">
        <h3 class="dot__title">客厅 / 20平方米 / 美式简约 / 淡蓝色</h3>
        <div class="imgWrap"><img class="imgWrap__img" src="../images/temp/dotimg.jpg"/><a class="dot" href="javascript:;" style="left:30%; top: 30%;"></a><a class="dot dot--active" href="javascript:;" style="left:50%; top: 50%;"></a><a class="dot dot--unread" href="javascript:;" style="left:30%; top: 80%;"></a></div>
        <div class="replyWrap">
          <div class="replyBox">
            <div class="textareaWrap">
              <textarea class="replyBox__textarea" placeholder="请输入当前锚点表达信息" maxlength="50"></textarea>
              <div class="textareaWrap__tips">最多50个字</div>
            </div>
            <div class="replyStataWrap" data-active="0">
              <div class="replyStata replyStata--praise">客户已赞</div>
              <div class="replyStata replyStata--step">客户已踩</div>
              <div class="replyStata replyStata--waiting">等待回复</div>
            </div>
          </div>
          <div class="btnWrap"><a class="btn" href="javascript:;">提交</a><a class="btn btn--line" href="javascript:;">删除锚点</a></div>
        </div>
      </div>
    </div>
    <script src="../js/jquery/1.8.3/jquery.js"></script>
    <script src="../js/common.js"></script>
  </body>
</html>