<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>2主页面-钱包-充值-支付</title>
    <link rel="stylesheet" href="../css/style.css"/>
  </head>
  <body class="bgF7">
    <div class="wrap wrap--bg">
      <div class="top">欢迎，设计师<em class="top__user-name">轩亦辰</em>|<a class="top__btn top__btn--blue" href="">退出登录</a></div>
      <div class="head"><img class="head__logo" src="../images/icon-home/logo.png" alt=""/>
        <ul class="head__nav">
          <li class="head__nav-glfa head__nav--active"><a class="head__nav-item" href="">管理方案</a></li>
          <li class="head__nav-glkh"><a class="head__nav-item" href="">管理客户</a></li>
          <li class="head__nav-qb"><a class="head__nav-item" href="">钱包</a></li>
          <li class="head__nav-add"><a class="head__nav-item" href="">添加设计方案</a></li>
        </ul>
      </div>
      <div class="content pay">
        <div class="payHead">
          <div class="orderNumber">订单号：BJ2017052120180001</div>
          <div class="payNumWrap">支付 (¥):<em class="payNum">4000</em></div>
        </div>
        <div class="payType" id="cTab">
          <div class="payTypeHead"><a class="payTypeHead__item payTypeHead__weixin" href="javascript:;">微信</a><a class="payTypeHead__item payTypeHead__alipay" href="javascript:;">支付宝</a></div>
          <div class="payEwmWrap">
            <div class="payEwmWrapBox payEwm--weixin"><img class="payEwm" src="../images/temp/weixin_ewm.png"/>
              <p class="payEwm__txt">扫码付款</p>
            </div>
            <div class="payEwmWrapBox payEwm--alipay none"><img class="payEwm" src="../images/temp/alipay_ewm.png"/>
              <p class="payEwm__txt">扫码付款</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/jquery/1.8.3/jquery.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/rechargeType.js"></script>
  </body>
</html>