<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>2主页面-钱包-充值-支付-支付成功</title>
    <link rel="stylesheet" href="../css/style.css"/>
  </head>
  <body class="bgF7">
    <div class="wrap wrap--bg">
      <div class="top"><a class="top__btn" href="">登录</a>|<a class="top__btn" href="">注册</a></div>
      <div class="head"><img class="head__logo" src="../images/icon-home/logo.png" alt=""/>
        <ul class="head__nav">
          <li class="head__nav-zc"><a class="head__nav-item" href="">注册</a></li>
        </ul>
      </div>
      <div class="content register">
        <div class="register__examine"><img class="register__examine-bg" src="../images/public/examine_bg_1.png"/>
          <h3 class="register__examine-title">支付成功</h3><a class="register__btn register__btn--blue register__btn--max" href="">确定</a>
        </div>
      </div>
    </div>
    <script src="../js/jquery/1.8.3/jquery.js"></script>
    <script src="../js/common.js"></script>
  </body>
</html>