<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>2主页面-钱包</title>
    <link rel="stylesheet" href="../css/style.css"/>
  </head>
  <body class="bgF7">
    <div class="wrap wrap--bg">
      <div class="top">欢迎，设计师<em class="top__user-name">轩亦辰</em>|<a class="top__btn top__btn--blue" href="">退出登录</a></div>
      <div class="head"><img class="head__logo" src="../images/icon-home/logo.png" alt=""/>
        <ul class="head__nav">
          <li class="head__nav-glfa head__nav--active"><a class="head__nav-item" href="">管理方案</a></li>
          <li class="head__nav-glkh"><a class="head__nav-item" href="">管理客户</a></li>
          <li class="head__nav-qb"><a class="head__nav-item" href="">钱包</a></li>
          <li class="head__nav-add"><a class="head__nav-item" href="">添加设计方案</a></li>
        </ul>
      </div>
      <div class="masterUserInof"><img class="masterUserInof__img none" src="../images/public/default_male.png"/><img class="masterUserInof__img" src="../images/public/default_female.png"/>
        <p class="masterUserInof__txt">晚上好，轩亦辰</p>
        <p class="masterUserInof__txt masterUserInof__txt--xs">手机号：18610996127</p>
      </div>
      <div class="content master balanceWrap">
        <div class="balance">
          <div class="balanceNumWrap">钢镚：<span class="balanceNumber">1444</span></div><a class="topUpBtn" href="javascript:;">充值</a>
        </div>
        <table class="masterList masterList--topUp">
          <thead>
            <tr>
              <th>交易时间</th>
              <th>类型</th>
              <th>名称</th>
              <th>钢镚</th>
              <th>现金消耗</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2017-05-23</td>
              <td class="red">支出</td>
              <td class="W300">制作效果图消费（BJ201705210001)</td>
              <td class="red">-1500</td>
              <td></td>
            </tr>
            <tr>
              <td>2017-05-23</td>
              <td class="green">收入</td>
              <td class="W300">充值</td>
              <td class="green">+1500</td>
              <td class="red">-5000¥</td>
            </tr>
            <tr>
              <td>2017-05-23</td>
              <td class="red">支出</td>
              <td class="W300">制作效果图消费（BJ201705210001)</td>
              <td class="red">-1500</td>
              <td></td>
            </tr>
            <tr>
              <td>2017-05-23</td>
              <td class="green">收入</td>
              <td class="W300">充值</td>
              <td class="green">+1500</td>
              <td class="red">-5000¥</td>
            </tr>
          </tbody>
        </table>
        <div class="masterPage"><a class="masterPage__btn masterPage__previous masterPage__btn--disable" href="javascript:;"> 上一页</a><a class="masterPage__btn masterPage__btn--page masterPage__btn--active" href="javascript:;">1</a><a class="masterPage__btn masterPage__btn--page" href="javascript:;">2</a><a class="masterPage__btn masterPage__btn--page" href="javascript:;">3</a><a class="masterPage__btn masterPage__next" href="javascript:;">下一页</a></div>
        <div class="pubPopLayout" id="">
          <div class="pubPopMain">
            <div class="pubPopContent"><a class="pubPopClose" href="javascript:;" close="true">✕</a>
              <div class="pubPopHead">
                <h3 class="pubPopHead__tit">充值</h3>
                <ul class="eidtFamilyInfo">
                  <li class="eidtFamilyInfo__item">
                    <label class="eidtFamilyInfo__label">购买钢镚：</label>
                    <div class="eidtBox">
                      <input class="eidtInput eidtInput--max" placeholder="钢镚数量" type="number"/><span class="eidt__tips">枚</span>
                    </div>
                  </li>
                </ul>
                <div class="topUp">
                  <p class="topUp__tit">应付金额(¥)</p>
                  <p class="topUp__number">1500</p>
                </div><a class="btn recommendedBtn" href="javascript:;">提交订单</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/jquery/1.8.3/jquery.js"></script>
    <script src="../js/common.js"></script>
  </body>
</html>