<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>注册审核</title>
    <link rel="stylesheet" href="../css/style.css"/>
  </head>
  <body>
    <div class="wrap wrap--bg">
      <div class="top"> <a class="top__btn" href="">登录</a>| <a class="top__btn" href="">注册</a></div>
      <div class="head"><img class="head__logo" src="../images/icon-home/logo.png" alt=""/>
        <ul class="head__nav">
          <li class="head__nav-zc"><a class="head__nav-item" href="">注册</a></li>
        </ul>
      </div>
      <div class="content register">
        <div class="register__examine"><img class="register__examine-bg" src="../images/public/examine_bg_1.png"/>
          <h3 class="register__examine-title">提交成功，审核中！请耐心等待~~~</h3>
          <p class="register__examine-subtitle">您是未认证设计师，审核还在进行。过程中不影响您的正常使用！</p><a class="register__btn register__btn--blue register__btn--max" href="">开始设计</a>
        </div>
      </div>
    </div>
    <script src="../js/index.js"></script>
  </body>
</html>