<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>登录</title>
    <link rel="stylesheet" href="../css/style.css"/>
  </head>
  <body>
    <div class="wrap login blur">
      <video class="loginVideo" src="../images/login/bg.mp4" autoplay="autoplay" loop="loop"></video>
    </div>
    <div class="loginMain">
      <h1 class="loginLogo">装修设计互动体验平台</h1>
      <div class="loginForm">
        <h3 class="loginTitle">密码登录</h3>
        <div class="loginInp">
          <label class="loginInp__label loginInp__label--id" for="user_name">
            <input class="loginInp__input" type="text" id="user_name" placeholder="手机号/邮箱"/>
          </label>
          <label class="loginInp__label loginInp__label--password" for="pass_word">
            <input class="loginInp__input" type="password" id="pass_word" placeholder="密码"/>
          </label>
        </div><a class="loginSubmit" href="javascript:;">登录</a>
        <div class="loginAuxi"><a class="loginAuxi__item loginAuxi__item--active" href="">忘记密码</a><a class="loginAuxi__item" href="">免费注册</a></div><a class="loginEwm" href="javascript:;">
          <div class="loginEwm__tips">扫码登录更安全</div></a>
      </div>
    </div>
    <script src="../js/index.js"></script>
  </body>
</html>