<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>管理方案</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/viewer.min.css" />
</head>

<body class="bgF7">
    <div class="wrap wrap--bg">
        <div class="top">欢迎，设计师<em class="top__user-name">轩亦辰</em>|<a class="top__btn top__btn--blue" href="">退出</a></div>
        <div class="head"><img class="head__logo" src="../images/icon-home/logo.png" alt="" />
            <ul class="head__nav">
                <li class="head__nav-glfa head__nav--active"><a class="head__nav-item" href="">管理方案</a></li>
                <li class="head__nav-glkh"><a class="head__nav-item" href="">管理客户</a></li>
                <li class="head__nav-qb"><a class="head__nav-item" href="">钱包</a></li>
                <li class="head__nav-add"><a class="head__nav-item" href="">添加设计方案</a></li>
            </ul>
        </div>
        <div class="manageUserInof">
            <div class="manageUserInof__item">客户：轩亦辰</div>
            <div class="manageUserInof__item">电话：18610996127</div>
            <div class="manageUserInof__item">最后修改:2017-06-22</div>
        </div>
        <div class="content manage" id="manage">
            <form id="cForm" action="">
                <div class="manageHead">
                    <h3 class="manageHead__title">方案名称：
                    <input class="manageHead__titleValue" id="planName" disabled="disabled" type="text" value="方案名称" />
                    <input type="hidden" value="" name="planName" />
                </h3>
                    <div class="manageHead__tags"><span class="manageHead__tagsLabel">风格：</span>
                        <div id="ctags" class="manageHead__tagsBox manageHead__tagsBox--edit none"><span class="manageHead__tag ">中国风1</span><span class="manageHead__tag ">中国风2</span><span class="manageHead__tag ">中国风3</span><span class="manageHead__tag ">中国风4</span><span class="manageHead__tag ">中国风5</span><span class="manageHead__tag ">中国风6</span><span class="manageHead__tag ">中国风7</span><span class="manageHead__tag manageHead__tag--active">中国风8</span>
                        </div>
                        <div id="ctag" class="manageHead__tagsBox">
                            <span>中国风1</span>
                            <input name="planType" type="hidden" value="中国风">
                        </div>
                    </div><a class="manageHead__btn none" hrfef="javascript:;" id="btnConfirm"> 确定</a><a class="manageHead__btn" hrfef="javascript:;" id="btnEdit"> 编辑</a>
                </div>
                <div class="manageMod">
                    <h4 class="manageMod__tit">效果图</h4>
                    <ul class="manageList">
                        <li class="manageList__item manageList__item--unread" pro_id="i_0">
                        	<a class="manageList__close" href="javascript:;">✕</a>
                        	<a class="imgPush" href="javascript:;">推送</a>
                        	<span class=" imgPush--gary">已推送</span>
                            <a class="manageList__link" href="javascript:;"><img class="manageList__img" src="../images/temp/glfa.png" data-original="../images/temp/glfa.png" /></a>
                            <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
                            <input type="hidden" value="客厅 / 20平方米 / 美式简 约 / 淡蓝色" name="i_0" />
                        </li>
                        <li class="manageList__item manageList__item--unread" pro_id="i_1"><a class="manageList__close" href="javascript:;">✕</a>
                            <a class="manageList__link" href="javascript:;"><img class="manageList__img" src="../images/temp/glfa.png" data-original="../images/temp/glfa.png" /></a>
                            <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
                            <input type="hidden" value="客厅 / 20平方米 / 美式简 约 / 淡蓝色" name="i_1" />
                        </li>
                        <li class="manageList__item manageList__item--unread" pro_id="i_2"><a class="manageList__close" href="javascript:;">✕</a>
                            <a class="manageList__link" href="javascript:;"><img class="manageList__img" src="../images/temp/glfa.png" data-original="../images/temp/glfa.png" /></a>
                            <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
                            <input type="hidden" value="客厅 / 20平方米 / 美式简 约 / 淡蓝色" name="i_2" />
                        </li>
                        <li class="manageList__item manageList__item--unread" pro_id="i_3"><a class="manageList__close" href="javascript:;">✕</a>
                            <a class="manageList__link" href="javascript:;"><img class="manageList__img" src="../images/temp/glfa.png" data-original="../images/temp/glfa.png" /></a>
                            <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
                            <input type="hidden" value="客厅 / 20平方米 / 美式简 约 / 淡蓝色" name="i_3" />
                        </li>
                        <li class="manageList__item manageList__item--unread" pro_id="i_4"><a class="manageList__close" href="javascript:;">✕</a>
                            <a class="manageList__link" href="javascript:;"><img class="manageList__img" src="../images/temp/glfa.png" data-original="../images/temp/glfa.png" /></a>
                            <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
                            <input type="hidden" value="客厅 / 20平方米 / 美式简 约 / 淡蓝色" name="i_4" />
                        </li>
                        <li class="manageList__item manageList__item--unread" pro_id="i_5"><a class="manageList__close" href="javascript:;">✕</a>
                            <a class="manageList__link" href="javascript:;"><img class="manageList__img" src="../images/temp/glfa.png" data-original="../images/temp/glfa.png" /></a>
                            <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
                            <input type="hidden" value="客厅 / 20平方米 / 美式简 约 / 淡蓝色" name="i_5" />
                        </li>
                    </ul>
                </div>
                <div class="manageMod manageMod--vedio">
                    <h4 class="manageMod__tit">视频</h4>
                    <ul class="manageList">
                        <li class="manageList__item" pro_id="v_0"><a class="manageList__close" href="javascript:;">✕</a>
                            <a class="manageList__link vedioIcon" href="javascript:;" src="/images/login/bg.mp4"><img class="manageList__img" src="../images/temp/glfa.png" /></a>
                            <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
                            <input type="hidden" value="客厅 / 20平方米 / 美式简 约 / 淡蓝色" name="v_0" />
                        </li>
                        <li class="manageList__item" pro_id="v_1"><a class="manageList__close" href="javascript:;">✕</a>
                            <a class="manageList__link vedioIcon" href="javascript:;" src="/images/login/bg.mp4"><img class="manageList__img" src="../images/temp/glfa.png" /></a>
                            <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
                            <input type="hidden" value="客厅 / 20平方米 / 美式简 约 / 淡蓝色" name="v_1" />
                        </li>
                        <li class="manageList__item" pro_id="v_2"><a class="manageList__close" href="javascript:;">✕</a>
                            <a class="manageList__link vedioIcon" href="javascript:;" src="/images/login/bg.mp4"><img class="manageList__img" src="../images/temp/glfa.png" /></a>
                            <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
                            <input type="hidden" value="客厅 / 20平方米 / 美式简 约 / 淡蓝色" name="v_2" />
                        </li>
                        <li class="manageList__item" pro_id="v_3"><a class="manageList__close" href="javascript:;">✕</a>
                            <a class="manageList__link vedioIcon" href="javascript:;" src="/images/login/bg.mp4"><img class="manageList__img" src="../images/temp/glfa.png" /></a>
                            <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
                            <input type="hidden" value="客厅 / 20平方米 / 美式简 约 / 淡蓝色" name="v_3" />
                        </li>
                        <li class="manageList__item" pro_id="v_4"><a class="manageList__close" href="javascript:;">✕</a>
                            <a class="manageList__link vedioIcon" href="javascript:;" src="/images/login/bg.mp4"><img class="manageList__img" src="../images/temp/glfa.png" /></a>
                            <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
                            <input type="hidden" value="客厅 / 20平方米 / 美式简 约 / 淡蓝色" name="v_4" />
                        </li>
                        <li class="manageList__item" pro_id="v_5"><a class="manageList__close" href="javascript:;">✕</a>
                            <a class="manageList__link vedioIcon" href="javascript:;" src="/images/login/bg.mp4"><img class="manageList__img" src="../images/temp/glfa.png" /></a>
                            <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
                            <input type="hidden" value="客厅 / 20平方米 / 美式简 约 / 淡蓝色" name="v_5" />
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <input type="hidden" id="removeURI" value="/" />
    <div class="pubPop none" id="pubPop"><a class="pubPop__close" href="javascript:;"> ✕</a>
        <div class="pubPop__main">
            <video class="pubPop__video" src="../images/login/bg.mp4" autoplay="autoplay" loop="loop"></video>
        </div>
    </div>
    <script src="../js/jquery/1.8.3/jquery.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/viewer-jquery.min.js"></script>
    <script src="../js/mangerOneStep.js"></script>
</body>

</html>
