<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>管理方案</title>
    <link rel="stylesheet" href="../css/style.css"/>
  </head>
  <body class="bgF7">
    <div class="wrap wrap--bg blur">
      <div class="top">欢迎，设计师<em class="top__user-name">轩亦辰</em>|<a class="top__btn top__btn--blue" href="">退出</a></div>
      <div class="head"><img class="head__logo" src="../images/icon-home/logo.png" alt=""/>
        <ul class="head__nav">
          <li class="head__nav-glfa head__nav--active"><a class="head__nav-item" href="">管理方案</a></li>
          <li class="head__nav-glkh"><a class="head__nav-item" href="">管理客户</a></li>
          <li class="head__nav-qb"><a class="head__nav-item" href="">钱包</a></li>
          <li class="head__nav-add"><a class="head__nav-item" href="">添加设计方案</a></li>
        </ul>
      </div>
      <div class="content manage manage--edit">
        <div class="manageHead">
          <h3 class="manageHead__title">紫金新干线10号楼3单元201（方案1：简约第一版）</h3><a class="manageHead__btn" hrfef=""> 确定</a>
        </div>
        <div class="manageMod">
          <h4 class="manageMod__tit">效果图</h4>
          <ul class="manageList">
            <li class="manageList__item"><a class="manageList__close" href="javascript:;">✕</a><a class="manageList__link" href=""><img class="manageList__img" src="../images/temp/glfa.png"/></a>
              <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
            </li>
            <li class="manageList__item"><a class="manageList__close" href="javascript:;">✕</a><a class="manageList__link" href=""><img class="manageList__img" src="../images/temp/glfa.png"/></a>
              <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
            </li>
            <li class="manageList__item"><a class="manageList__close" href="javascript:;">✕</a><a class="manageList__link" href=""><img class="manageList__img" src="../images/temp/glfa.png"/></a>
              <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
            </li>
            <li class="manageList__item"><a class="manageList__close" href="javascript:;">✕</a><a class="manageList__link" href=""><img class="manageList__img" src="../images/temp/glfa.png"/></a>
              <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
            </li>
            <li class="manageList__item"><a class="manageList__close" href="javascript:;">✕</a><a class="manageList__link" href=""><img class="manageList__img" src="../images/temp/glfa.png"/></a>
              <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
            </li>
            <li class="manageList__item"><a class="manageList__close" href="javascript:;">✕</a><a class="manageList__link" href=""><img class="manageList__img" src="../images/temp/glfa.png"/></a>
              <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
            </li>
          </ul>
        </div>
        <div class="manageMod manageMod--vedio">
          <h4 class="manageMod__tit">视频</h4>
          <ul class="manageList">
            <li class="manageList__item"><a class="manageList__close" href="javascript:;">✕</a><a class="manageList__link vedioIcon" href=""><img class="manageList__img" src="../images/temp/glfa.png"/></a>
              <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
            </li>
            <li class="manageList__item"><a class="manageList__close" href="javascript:;">✕</a><a class="manageList__link vedioIcon" href=""><img class="manageList__img" src="../images/temp/glfa.png"/></a>
              <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
            </li>
            <li class="manageList__item"><a class="manageList__close" href="javascript:;">✕</a><a class="manageList__link vedioIcon" href=""><img class="manageList__img" src="../images/temp/glfa.png"/></a>
              <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
            </li>
            <li class="manageList__item"><a class="manageList__close" href="javascript:;">✕</a><a class="manageList__link vedioIcon" href=""><img class="manageList__img" src="../images/temp/glfa.png"/></a>
              <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
            </li>
            <li class="manageList__item"><a class="manageList__close" href="javascript:;">✕</a><a class="manageList__link vedioIcon" href=""><img class="manageList__img" src="../images/temp/glfa.png"/></a>
              <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
            </li>
            <li class="manageList__item"><a class="manageList__close" href="javascript:;">✕</a><a class="manageList__link vedioIcon" href=""><img class="manageList__img" src="../images/temp/glfa.png"/></a>
              <div class="manageList__desc">| 客厅 / 20平方米 / 美式简 约 / 淡蓝色</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pubPop"><a class="pubPop__close" href="javascript:;"> ✕</a>
      <div class="pubPop__main">
        <video class="pubPop__video" src="../images/login/bg.mp4" autoplay="autoplay" loop="loop"></video><img class="pubPop__img none" src="../images/temp/glfa.png" alt=""/>
      </div>
    </div>
    <script src="../js/index.js"></script>
  </body>
</html>