<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>管理方案二级</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/viewer.min.css" />
</head>

<body class="bgF7">
    <div class="wrap wrap--bg">
        <div class="top">欢迎，设计师<em class="top__user-name">轩亦辰</em>|<a class="top__btn top__btn--blue" href="javascript:;">退出登录</a></div>
        <div class="head"><img class="head__logo" src="../images/icon-home/logo.png" alt="" />
            <ul class="head__nav">
                <li class="head__nav-glfa head__nav--active"><a class="head__nav-item" href="">管理方案</a></li>
                <li class="head__nav-glkh"><a class="head__nav-item" href="">管理客户</a></li>
                <li class="head__nav-qb"><a class="head__nav-item" href="">钱包</a></li>
                <li class="head__nav-add"><a class="head__nav-item" id="addNewPlan" href="javascript:;">添加设计方案</a></li>
            </ul>
        </div>
        <div class="content scheme">
            <div class="screening">
                <div class="screening__item">
                    <label class="screening__label">时间：</label>
                    <select class="screening__select">
                        <option>全部</option>
                        <option>2017</option>
                        <option>2016</option>
                    </select>
                </div>
                <div class="screening__item">
                    <label class="screening__label">城市：</label>
                    <select class="screening__select">
                        <option>全部</option>
                        <option>北京-朝阳</option>
                        <option>河南-郑州-新乡</option>
                    </select>
                </div>
                <div class="screening__item">
                    <label class="screening__label">小区：</label>
                    <select class="screening__select">
                        <option>全部</option>
                        <option>北京-朝阳</option>
                        <option>河南-郑州-新乡</option>
                    </select>
                </div>
            </div>
            <div class="noData"><img class="noData__img" src="../images/public/nodata.jpg" />
                <p class="noData__txt">暂无数据</p>
            </div>
            <ul class="schemeList" id="schemeList">
                <li class="schemeList__item">
                    <div class="infoSimple">
                        <img class="infoSimple__img" src="../images/temp/glfa.png" alt="" />
                        <div class="infoSimple__txtBox">
                            <div class="pbox">
                                <p class="infoSimple__txt infoSimple__txt--tit"><span>紫金新干线10号楼3单元200</span><a class="editDoorModel" href="javascript:;">编辑户型信息</a></p>
                            </div>
                            <div class="pbox">
                                <p class="infoSimple__txt">所属城市：北京-朝阳</p>
                                <p class="infoSimple__txt">所属小区：紫金新干线</p>
                                <p class="infoSimple__txt">3室2厅2卫1厨<span class="m--l30">130平</span></p>
                            </div>
                            <div class="pbox">
                                <p class="infoSimple__txt">方案数：<em class="txtColor--blue">12</em></p>
                            </div>
                        </div>
                        <div class="infoSimple__txtBox--poa">
                            <a class="infoSimple__open" href="javascript:;"></a><a class="addPlan" href="./2主页面-开始新设计-3D装修-智能装.html"> 添加方案</a></div>
                    </div>
                    <div class="infoDetail">
                        <div class="infoDetail__item">
                            <div class="infoDetail__head">
                                <div class="infoDetail__left">
                                    <h4 class="infoDetail__tit">方案1：简约第一版 (简约)<a class="infoDetail__style" href="管理方案.html">编辑</a></h4>
                                    <div class="userInof"><span class="userInof__item">客户：轩亦辰</span><span class="userInof__item">电话：18610996127</span><span class="userInof__item">最后修改:2017-06-22</span></div>
                                </div><a class="infoDetail__btn" href="管理方案.html">编辑方案</a>
                            </div>
                            <div class="infoDetail__main">
                                <div class="detailBlock detailBlock--photo">
                                    <div class="detailBlock__head">
                                        <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all detailBlock__all--unread" href="管理方案.html">查看全部</a>
                                    </div>
                                    <ul class="detailList">
                                        <li class="detailList__item">
                                            <a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png" /></a>
                                            <p class="detailList__txt">客房</p>
                                        </li>
                                        <li class="detailList__item">
                                            <a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png" /></a>
                                            <p class="detailList__txt">客房</p>
                                        </li>
                                        <li class="detailList__item">
                                            <a class="img_default detailList__link" href="2主页面-方案管理-二级-查看.html"><img class="detailList__img" src="../images/public/img_default.png" alt="" /></a>
                                            <p class="detailList__txt">暂无图片</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="detailBlock detailBlock--vedio">
                                    <div class="detailBlock__head">
                                        <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="管理方案.html">查看全部</a>
                                    </div>
                                    <ul class="detailList">
                                        <li class="detailList__item">
                                            <a class="detailList__link vedioIcon" href="javascript:;" src="/images/login/bg.mp4"><img class="detailList__img" src="../images/temp/glfa.png" alt="" /></a>
                                            <p class="detailList__txt">厨房</p>
                                        </li>
                                        <li class="detailList__item">
                                            <a class="detailList__link vedioIcon" href="javascript:;" src="/images/login/bg.mp4"><img class="detailList__img" src="../images/temp/glfa.png" alt="" /></a>
                                            <p class="detailList__txt">厨房</p>
                                        </li>
                                        <li class="detailList__item">
                                            <a class="detailList__link--default vedio_default detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt="" /></a>
                                            <p class="detailList__txt">暂无视频</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="infoDetail__item">
                            <div class="infoDetail__head">
                                <div class="infoDetail__left">
                                    <h4 class="infoDetail__tit">方案2：简约第一版 (简约)<a class="infoDetail__style" href="管理方案.html">编辑</a></h4>
                                    <div class="userInof"><span class="userInof__item">客户：轩亦辰</span><span class="userInof__item">电话：18610996127</span><span class="userInof__item">最后修改:2017-06-22</span></div>
                                </div><a class="infoDetail__btn" href="管理方案.html">编辑方案</a>
                            </div>
                            <div class="infoDetail__main">
                                <div class="detailBlock detailBlock--photo">
                                    <div class="detailBlock__head">
                                        <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all detailBlock__all--unread" href="管理方案.html">查看全部</a>
                                    </div>
                                    <ul class="detailList">
                                        <li class="detailList__item">
                                            <a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png" /></a>
                                            <p class="detailList__txt">客房</p>
                                        </li>
                                        <li class="detailList__item">
                                            <a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png" /></a>
                                            <p class="detailList__txt">客房</p>
                                        </li>
                                        <li class="detailList__item">
                                            <a class="img_default detailList__link" href="2主页面-方案管理-二级-查看.html"><img class="detailList__img" src="../images/public/img_default.png" alt="" /></a>
                                            <p class="detailList__txt">暂无图片</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="detailBlock detailBlock--vedio">
                                    <div class="detailBlock__head">
                                        <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="管理方案.html">查看全部</a>
                                    </div>
                                    <ul class="detailList">
                                        <li class="detailList__item">
                                            <a class="detailList__link vedioIcon" href="javascript:;" src="/images/login/bg.mp4"><img class="detailList__img" src="../images/temp/glfa.png" alt="" /></a>
                                            <p class="detailList__txt">厨房</p>
                                        </li>
                                        <li class="detailList__item">
                                            <a class="detailList__link vedioIcon" href="javascript:;" src="/images/login/bg.mp4"><img class="detailList__img" src="../images/temp/glfa.png" alt="" /></a>
                                            <p class="detailList__txt">厨房</p>
                                        </li>
                                        <li class="detailList__item">
                                            <a class="detailList__link--default vedio_default detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt="" /></a>
                                            <p class="detailList__txt">暂无视频</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="infoDetail__item">
                            <div class="infoDetail__head">
                                <div class="infoDetail__left">
                                    <h4 class="infoDetail__tit">方案3：简约第一版 (简约)<a class="infoDetail__style" href="管理方案.html">编辑</a></h4>
                                    <div class="userInof"><span class="userInof__item">客户：轩亦辰</span><span class="userInof__item">电话：18610996127</span><span class="userInof__item">最后修改:2017-06-22</span></div>
                                </div><a class="infoDetail__btn" href="管理方案.html">编辑方案</a>
                            </div>
                            <div class="infoDetail__main">
                                <div class="detailBlock detailBlock--photo">
                                    <div class="detailBlock__head">
                                        <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all detailBlock__all--unread" href="管理方案.html">查看全部</a>
                                    </div>
                                    <ul class="detailList">
                                        <li class="detailList__item">
                                            <a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png" /></a>
                                            <p class="detailList__txt">客房</p>
                                        </li>
                                        <li class="detailList__item">
                                            <a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png" /></a>
                                            <p class="detailList__txt">客房</p>
                                        </li>
                                        <li class="detailList__item">
                                            <a class="img_default detailList__link" href="2主页面-方案管理-二级-查看.html"><img class="detailList__img" src="../images/public/img_default.png" alt="" /></a>
                                            <p class="detailList__txt">暂无图片</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="detailBlock detailBlock--vedio">
                                    <div class="detailBlock__head">
                                        <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="管理方案.html">查看全部</a>
                                    </div>
                                    <ul class="detailList">
                                        <li class="detailList__item">
                                            <a class="detailList__link vedioIcon" href="javascript:;" src="/images/login/bg.mp4"><img class="detailList__img" src="../images/temp/glfa.png" alt="" /></a>
                                            <p class="detailList__txt">厨房</p>
                                        </li>
                                        <li class="detailList__item">
                                            <a class="detailList__link vedioIcon" href="javascript:;" src="/images/login/bg.mp4"><img class="detailList__img" src="../images/temp/glfa.png" alt="" /></a>
                                            <p class="detailList__txt">厨房</p>
                                        </li>
                                        <li class="detailList__item">
                                            <a class="detailList__link--default vedio_default detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt="" /></a>
                                            <p class="detailList__txt">暂无视频</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul><a class="loadMore" href="javascript:;" id="loadMore"> 点击加载更多</a><a class="gotoTop" href="#">返回顶部</a>
        </div>
    </div>
    <input type="hidden" id="loadMoreURI" value="/" />
    <div class="pubPop none" id="pubPop"><a class="pubPop__close" href="javascript:;"> ✕</a>
        <div class="pubPop__main">
            <video class="pubPop__video" src="../images/login/bg.mp4" autoplay="autoplay" loop="loop"></video>
        </div>
    </div>
    <div class="pubPopLayout none" id="editPlan">
        <div class="pubPopMain">
            <div class="pubPopContent pubPopMain--ov"><a class="pubPopClose" href="javascript:;" close="true">✕</a>
                <div class="pubPopHead">
                    <h3 class="pubPopHead__tit">添加方案</h3>
                </div>
                <ul class="eidtFamilyInfo">
                    <li class="eidtFamilyInfo__item">
                        <label class="eidtFamilyInfo__label">户型小区：</label>
                        <div class="eidtBox">
                            <input id="newName" class="eidtInput eidtInput--noborder" value="紫金新干线10号楼201" disabled="disabled" />
                        </div>
                    </li>
                    <li class="eidtFamilyInfo__item">
                        <label class="eidtFamilyInfo__label">方案名称：</label>
                        <div class="eidtBox">
                            <input class="eidtInput" value="紫金新干线10号楼201" />
                        </div>
                    </li>
                    <li class="eidtFamilyInfo__item">
                        <label class="eidtFamilyInfo__label">方案风格：</label>
                        <div class="eidtBox">
                            <div class="stylesTags"><a class="stylesTag" href="javascript:;">欧美风</a><a class="stylesTag" href="javascript:;">北欧风</a><a class="stylesTag stylesTag--active" href="javascript:;">中国风</a><a class="stylesTag" href="javascript:;">地中海风</a><a class="stylesTag" href="javascript:;">复古风</a><a class="stylesTag" href="javascript:;">现代风</a><a class="stylesTag" href="javascript:;">简约风</a></div>
                        </div>
                    </li>
                    <li class="eidtFamilyInfo__item">
                        <label class="eidtFamilyInfo__label">客户姓名：</label>
                        <div class="eidtBox">
                            <input class="eidtInput eidtInput--300" value="" type="text" />
                            <p class="error">客户姓名填写后即不可更改请慎重填写</p>
                        </div>
                    </li>
                    <li class="eidtFamilyInfo__item">
                        <label class="eidtFamilyInfo__label">客户电话：</label>
                        <div class="eidtBox">
                            <input class="eidtInput eidtInput--300" value="" type="text" />
                            <p class="error">客户电话填写后即不可更改，且该电话为客户的手机端账号，请重填写。</p>
                        </div>
                    </li>
                </ul>
                <div class="price">
                    <p class="price__tips">当前添加价格(钢镚)</p>
                    <h3 class="price__num">1600</h3>
                </div>
                <p class="curprice">当前余额：2457钢镚</p><a class="btn determineBtn" href="javascript:;" confirm="true">确  定</a>
                <p class="error">电话格式错误</p>
            </div>
        </div>
    </div>
    <div class="pubPopLayout none" id="editHouseType">
        <div class="pubPopMain">
            <div class="pubPopContent"><a class="pubPopClose" href="javascript:;" close="true">✕</a>
                <div id="cEditHouseType"></div>
                <!-- <div class="pubPopHead">
                    <h3 class="pubPopHead__tit">编辑户型信息</h3>
                </div>
                <ul class="eidtFamilyInfo">
                    <li class="eidtFamilyInfo__item">
                        <label class="eidtFamilyInfo__label">户型名称：</label>
                        <div class="eidtBox">
                            <input class="eidtInput" value="新湖家园3号楼201" />
                        </div>
                    </li>
                    <li class="eidtFamilyInfo__item">
                        <label class="eidtFamilyInfo__label">所在城市：</label>
                        <div class="eidtBox">
                            <div class="lenovo lenovo--active1">
                                <input class="lenovo__inp" type="text" disabled="disabled" value="河南省" />
                                <ul class="lenovoList">
                                    <li class="lenovoList__item">河南省</li>
                                    <li class="lenovoList__item">河南省</li>
                                    <li class="lenovoList__item">河南省</li>
                                    <li class="lenovoList__item">河南省</li>
                                </ul>
                            </div>
                            <div class="lenovo">
                                <input class="lenovo__inp" type="text" disabled="disabled" value="郑州市" />
                                <ul class="lenovoList">
                                    <li class="lenovoList__item">郑州市</li>
                                    <li class="lenovoList__item">郑州市</li>
                                    <li class="lenovoList__item">郑州市</li>
                                </ul>
                            </div>
                            <div class="lenovo">
                                <input class="lenovo__inp" type="text" disabled="disabled" value="新郑市" />
                                <ul class="lenovoList">
                                    <li class="lenovoList__item">新郑市</li>
                                    <li class="lenovoList__item">新郑市</li>
                                    <li class="lenovoList__item">新郑市</li>
                                    <li class="lenovoList__item">新郑市</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="eidtFamilyInfo__item">
                        <label class="eidtFamilyInfo__label">选择小区：</label>
                        <div class="eidtBox">
                            <div class="lenovo W300 lenovo--active1">
                                <input class="lenovo__inp" type="text" />
                                <ul class="lenovoList">
                                    <li class="lenovoList__item">和平小区</li>
                                    <li class="lenovoList__item">和平小区</li>
                                    <li class="lenovoList__item">和平小区</li>
                                </ul>
                            </div><span class="eidt__tips">（选择或输入小区）</span>
                        </div>
                    </li>
                    <li class="eidtFamilyInfo__item">
                        <label class="eidtFamilyInfo__label">选择格局：</label>
                        <div class="eidtBox">
                            <input class="eidtInput eidtInput--xs" type="tel" /><span class="eidt__tips">室</span>
                            <input class="eidtInput eidtInput--xs" type="tel" /><span class="eidt__tips">厅</span>
                            <input class="eidtInput eidtInput--xs" type="tel" /><span class="eidt__tips">卫</span>
                            <input class="eidtInput eidtInput--xs" type="tel" /><span class="eidt__tips">厨</span>
                        </div>
                    </li>
                    <li class="eidtFamilyInfo__item">
                        <label class="eidtFamilyInfo__label">平方数：</label>
                        <div class="eidtBox">
                            <input class="eidtInput" value="150" type="number" /><span class="eidt__tips">㎡</span>
                        </div>
                    </li>
                </ul><a class="btn btn-blue eidtBtn" href="javascript:;" confirm="true">确定</a> -->
            </div>
        </div>
    </div>
    <div class="pubPopLayout none" id="addNewPlanPop">
        <div class="pubPopMain">
            <div class="pubPopContent"><a class="pubPopClose" href="javascript:;" close="true">✕</a>
                <div id="addNewPlanPopInner"></div>
                <!-- <div class="pubPopHead">
                    <h3 class="pubPopHead__tit">开始新设计-创建户型</h3>
                </div>
                <ul class="eidtFamilyInfo">
                    <li class="eidtFamilyInfo__item">
                        <label class="eidtFamilyInfo__label">户型名称：</label>
                        <div class="eidtBox">
                            <input class="eidtInput" value="" placeholder="请输入户型名称" />
                        </div>
                    </li>
                    <li class="eidtFamilyInfo__item">
                        <label class="eidtFamilyInfo__label">所在城市：</label>
                        <div class="eidtBox">
                            <div class="lenovo lenovo--active1">
                                <select name="" id="provincial">
                                  <option value="0">北京1</option>
                                  <option value="1">北京2</option>
                                  <option value="2">北京3</option>
                                  <option value="3">北京4</option>
                                  <option value="4">北京5</option>
                                </select>
                            </div>
                            <div class="lenovo">
                                <select name="" id="city">
                                  <option value="0">丰台1</option>
                                  <option value="1">丰台2</option>
                                  <option value="2">丰台3</option>
                                </select>
                            </div>
                            <div class="lenovo">
                                <select name="" id="county">
                                  <option value="0">六里桥1</option>
                                  <option value="1">六里桥1</option>
                                  <option value="2">六里桥2</option>
                                  <option value="3">六里桥3</option>
                                  <option value="4">六里桥4</option>
                                  <option value="5">六里桥5</option>
                                </select>
                            </div>
                        </div>
                    </li>
                    <li class="eidtFamilyInfo__item">
                        <label class="eidtFamilyInfo__label">选择小区：</label>
                        <div class="eidtBox">
                            <div class="lenovo W300 lenovo--active1">
                                <select name="" id="village">
                                  <option value="0">首开</option>
                                  <option value="0">首开</option>
                                  <option value="0">首开</option>
                                  <option value="0">首开</option>
                                </select>
                            </div><span class="eidt__tips">（选择或输入小区）</span>
                        </div>
                    </li>
                    <li class="eidtFamilyInfo__item">
                        <label class="eidtFamilyInfo__label">选择户型：</label>
                        <div class="chooseFamily">
                            <p class="chooseFamily__txt">（输入城市小区看看有没有匹配户型）</p>
                            <p class="chooseFamily__txt chooseFamily__txt--red">未搜索到当前小区户型</p>
                            <a class="chooseFamily__link--active chooseFamily__link" href="javascript:;"><img class="chooseFamily__img" src="../images/temp/huxing.png" />
                                <p class="chooseFamily__name">北北京 富贵新苑 2016京 富贵新苑 2016</p>
                            </a>
                            <a class="chooseFamily__link" href="javascript:;"><img class="chooseFamily__img" src="../images/temp/huxing.png" />
                                <p class="chooseFamily__name">北北京 富贵新苑 2016京 富贵新苑 2016</p>
                            </a>
                            <a class="chooseFamily__link" href="javascript:;"><img class="chooseFamily__img" src="../images/temp/huxing.png" />
                                <p class="chooseFamily__name">北北京 富贵新苑 2016京 富贵新苑 2016</p>
                            </a>
                            <a class="chooseFamily__link" href="javascript:;"><img class="chooseFamily__img" src="../images/temp/huxing.png" />
                                <p class="chooseFamily__name">北北京 富贵新苑 2016京 富贵新苑 2016</p>
                            </a>
                            <a class="chooseFamily__link" href="javascript:;"><img class="chooseFamily__img" src="../images/temp/huxing.png" />
                                <p class="chooseFamily__name">北北京 富贵新苑 2016京 富贵新苑 2016</p>
                            </a>
                            <a class="chooseFamily__link" href="javascript:;"><img class="chooseFamily__img" src="../images/temp/huxing.png" />
                                <p class="chooseFamily__name">北北京 富贵新苑 2016京 富贵新苑 2016</p>
                            </a>
                        </div>
                    </li>
                    <li class="eidtFamilyInfo__item">
                        <label class="eidtFamilyInfo__label">选择格局：</label>
                        <div class="eidtBox">
                            <input id="newRoom" class="eidtInput eidtInput--xs" type="tel" /><span class="eidt__tips">室</span>
                            <input id="newHall" class="eidtInput eidtInput--xs" type="tel" /><span class="eidt__tips">厅</span>
                            <input id="newToilet" class="eidtInput eidtInput--xs" type="tel" /><span class="eidt__tips">卫</span>
                            <input id="newKitchen" class="eidtInput eidtInput--xs" type="tel" /><span class="eidt__tips">厨</span>
                        </div>
                    </li>
                    <li class="eidtFamilyInfo__item">
                        <label class="eidtFamilyInfo__label">平方数：</label>
                        <div class="eidtBox">
                            <input class="eidtInput" id="newRoomSize" value="150" type="number" /><span class="eidt__tips">㎡</span>
                        </div>
                    </li>
                </ul><a class="btn btn-blue eidtBtn" href="javascript:;" confirm="true">确定</a> -->
            </div>
        </div>
    </div>
    <script type="text/template" id="editHouseTemp">
        {{#info}}
        <div class="pubPopHead">
            <h3 class="pubPopHead__tit">{{title}}</h3>
        </div>
        <ul class="eidtFamilyInfo">
            <li class="eidtFamilyInfo__item">
                <label class="eidtFamilyInfo__label">户型名称：</label>
                <div class="eidtBox">
                    <input class="eidtInput" value="{{name}}" placeholder="请输入户型名称" />
                </div>
            </li>
            <li class="eidtFamilyInfo__item">
                <label class="eidtFamilyInfo__label">所在城市：</label>
                <div class="eidtBox">
                    <div class="lenovo lenovo--active1">
                        <select name="" class="provincial">
                            <option value="0">北京1</option>
                            <option value="1">北京2</option>
                            <option value="2">北京3</option>
                            <option value="3">北京4</option>
                            <option value="4">北京5</option>
                        </select>
                    </div>
                    <div class="lenovo">
                        <select name="" class="city">
                            <option value="0">丰台1</option>
                            <option value="1">丰台2</option>
                            <option value="2">丰台3</option>
                        </select>
                    </div>
                    <div class="lenovo">
                        <select name="" class="county">
                            <option value="0">六里桥1</option>
                            <option value="1">六里桥1</option>
                            <option value="2">六里桥2</option>
                            <option value="3">六里桥3</option>
                            <option value="4">六里桥4</option>
                            <option value="5">六里桥5</option>
                        </select>
                    </div>
                </div>
            </li>
            <li class="eidtFamilyInfo__item">
                <label class="eidtFamilyInfo__label">选择小区：</label>
                <div class="eidtBox">
                    <div class="lenovo W300 lenovo--active1">
                        <select name="" class="village">
                            <option value="0">首开</option>
                            <option value="0">首开</option>
                            <option value="0">首开</option>
                            <option value="0">首开</option>
                        </select>
                    </div><a href="javascript:;" class="eidt__tips eidt__tips--link">没有小区?试试手动输入</a>
                </div>
            </li>

            {{#showType}}
            <li class="eidtFamilyInfo__item">
                <label class="eidtFamilyInfo__label">小区名称：</label>
                <div class="eidtBox">
                    <input class="eidtInput" value="" placeholder="小区名称" />
                </div>
            </li>
            <li class="eidtFamilyInfo__item">
                <label class="eidtFamilyInfo__label">选择户型：</label>
                <div class="chooseFamily">
                    <p class="chooseFamily__txt">（输入城市小区看看有没有匹配户型）</p>
                    <p class="chooseFamily__txt chooseFamily__txt--red">未搜索到当前小区户型</p>
                    <a class="chooseFamily__link--active chooseFamily__link" href="javascript:;"><img class="chooseFamily__img" src="../images/temp/huxing.png" />
                        <p class="chooseFamily__name">北北京 富贵新苑 2016京 富贵新苑 2016</p>
                    </a>
                    <a class="chooseFamily__link" href="javascript:;"><img class="chooseFamily__img" src="../images/temp/huxing.png" />
                        <p class="chooseFamily__name">北北京 富贵新苑 2016京 富贵新苑 2016</p>
                    </a>
                    <a class="chooseFamily__link" href="javascript:;"><img class="chooseFamily__img" src="../images/temp/huxing.png" />
                        <p class="chooseFamily__name">北北京 富贵新苑 2016京 富贵新苑 2016</p>
                    </a>
                    <a class="chooseFamily__link" href="javascript:;"><img class="chooseFamily__img" src="../images/temp/huxing.png" />
                        <p class="chooseFamily__name">北北京 富贵新苑 2016京 富贵新苑 2016</p>
                    </a>
                    <a class="chooseFamily__link" href="javascript:;"><img class="chooseFamily__img" src="../images/temp/huxing.png" />
                        <p class="chooseFamily__name">北北京 富贵新苑 2016京 富贵新苑 2016</p>
                    </a>
                    <a class="chooseFamily__link" href="javascript:;"><img class="chooseFamily__img" src="../images/temp/huxing.png" />
                        <p class="chooseFamily__name">北北京 富贵新苑 2016京 富贵新苑 2016</p>
                    </a>
                </div>
            </li>
            {{/showType}}
            <li class="eidtFamilyInfo__item">
                <label class="eidtFamilyInfo__label">选择格局：</label>
                <div class="eidtBox">
                    <input class="eidtInput eidtInput--xs newRoom" value="{{room}}" type="tel" /><span class="eidt__tips">室</span>
                    <input class="eidtInput eidtInput--xs newHall" value="{{hall}}" type="tel" /><span class="eidt__tips">厅</span>
                    <input class="eidtInput eidtInput--xs newToilet" value="{{toilet}}" type="tel" /><span class="eidt__tips">卫</span>
                    <input class="eidtInput eidtInput--xs newKitchen" value="{{kitchen}}" type="tel" /><span class="eidt__tips">厨</span>
                </div>
            </li>
            <li class="eidtFamilyInfo__item">
                <label class="eidtFamilyInfo__label">平方数：</label>
                <div class="eidtBox">
                    <input class="eidtInput newRoomSize" value="{{size}}" type="number" /><span class="eidt__tips">㎡</span>
                </div>
            </li>
        </ul><a class="btn btn-blue eidtBtn" href="javascript:;" confirm="true">确定</a> {{/info}}
    </script>
    <script type="text/template" id="houseTypeTmp">
        {{#info}}
        <div class="pbox">
            <p class="infoSimple__txt infoSimple__txt--tit"><span>{{name}}</span><a class="editDoorModel" href="javascript:;">编辑户型信息</a></p>
        </div>
        <div class="pbox">
            <p class="infoSimple__txt">所属城市：北京-朝阳</p>
            <p class="infoSimple__txt">所属小区：紫金新干线</p>
            <p class="infoSimple__txt">{{room}}室{{hall}}厅{{toilet}}卫{{kitchen}}厨<span class="m--l30">{{size}}平</span></p>
        </div>
        <div class="pbox">
            <p class="infoSimple__txt">方案数：<em class="txtColor--blue">12</em></p>
        </div>
        {{/info}}
    </script>
    <script src="../js/jquery/1.8.3/jquery.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/viewer-jquery.min.js"></script>
    <script src="../js/mangerTwoStep.js"></script>
</body>

</html>
