<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>管理方案二级</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/viewer.min.css"/>
  </head>
  <body class="bgF7">
    <div class="wrap wrap--bg">
      <div class="top">欢迎，设计师<em class="top__user-name">轩亦辰</em>|<a class="top__btn top__btn--blue" href="javascript:;">退出</a></div>
      <div class="head"><img class="head__logo" src="../images/icon-home/logo.png" alt=""/>
        <ul class="head__nav">
          <li class="head__nav-glfa head__nav--active"><a class="head__nav-item" href="">管理方案</a></li>
          <li class="head__nav-glkh"><a class="head__nav-item" href="">管理客户</a></li>
          <li class="head__nav-qb"><a class="head__nav-item" href="">钱包</a></li>
          <li class="head__nav-add"><a class="head__nav-item" href="">添加设计方案</a></li>
        </ul>
      </div>
      <div class="content scheme">
        <ul class="schemeList" id="schemeList">
          <li class="schemeList__item">
            <div class="infoSimple"><img class="infoSimple__img" src="../images/temp/glfa.png" alt=""/>
              <div class="infoSimple__txtBox">
                <p class="infoSimple__txt infoSimple__txt--tit">紫金新干线10号楼3单元201</p>
                <p class="infoSimple__txt">3室2厅2卫1厨<span class="m--l30">130平</span></p>
                <div class="pbox">
                  <p class="infoSimple__txt">客户：侯小刚</p>
                  <p class="infoSimple__txt">所属小区：紫金新干线</p>
                </div>
              </div>
              <div class="infoSimple__txtBox--poa">
                <p class="infoSimple__txt">方案数：<em class="txtColor--blue">12</em></p><a class="infoSimple__open" href="javascript:;"></a>
              </div>
            </div>
            <div class="infoDetail">
              <div class="infoDetail__item"></div>
              <div class="infoDetail__head">
                <h4 class="infoDetail__tit">方案1：简约第一版<span class="infoDetail__style">风格：简约</span></h4><a class="infoDetail__btn" href="javascript:;">漫游</a>
              </div>
              <div class="infoDetail__main">
                <div class="detailBlock detailBlock--photo">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="img_default detailList__link" href="javascript:;"><img class="detailList__img" src="../images/public/img_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                  </ul>
                </div>
                <div class="detailBlock detailBlock--vedio">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon detailList__link--default vedio_default" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="infoDetail__item"></div>
              <div class="infoDetail__head">
                <h4 class="infoDetail__tit">方案2：简约第一版<span class="infoDetail__style">风格：简约</span></h4><a class="infoDetail__btn" href="javascript:;">漫游</a>
              </div>
              <div class="infoDetail__main">
                <div class="detailBlock detailBlock--photo">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="img_default detailList__link" href="javascript:;"><img class="detailList__img" src="../images/public/img_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                  </ul>
                </div>
                <div class="detailBlock detailBlock--vedio">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon detailList__link--default vedio_default" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="infoDetail__item"></div>
              <div class="infoDetail__head">
                <h4 class="infoDetail__tit">方案3：简约第一版<span class="infoDetail__style">风格：简约</span></h4><a class="infoDetail__btn" href="javascript:;">漫游</a>
              </div>
              <div class="infoDetail__main">
                <div class="detailBlock detailBlock--photo">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="img_default detailList__link" href="javascript:;"><img class="detailList__img" src="../images/public/img_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                  </ul>
                </div>
                <div class="detailBlock detailBlock--vedio">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon detailList__link--default vedio_default" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="schemeList__item">
            <div class="infoSimple"><img class="infoSimple__img" src="../images/temp/glfa.png" alt=""/>
              <div class="infoSimple__txtBox">
                <p class="infoSimple__txt infoSimple__txt--tit">紫金新干线10号楼3单元201</p>
                <p class="infoSimple__txt">3室2厅2卫1厨<span class="m--l30">130平</span></p>
                <div class="pbox">
                  <p class="infoSimple__txt">客户：侯小刚</p>
                  <p class="infoSimple__txt">所属小区：紫金新干线</p>
                </div>
              </div>
              <div class="infoSimple__txtBox--poa">
                <p class="infoSimple__txt">方案数：<em class="txtColor--blue">12</em></p><a class="infoSimple__open" href="javascript:;"></a>
              </div>
            </div>
            <div class="infoDetail">
              <div class="infoDetail__item"></div>
              <div class="infoDetail__head">
                <h4 class="infoDetail__tit">方案1：简约第一版<span class="infoDetail__style">风格：简约</span></h4><a class="infoDetail__btn" href="javascript:;">漫游</a>
              </div>
              <div class="infoDetail__main">
                <div class="detailBlock detailBlock--photo">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="img_default detailList__link" href="javascript:;"><img class="detailList__img" src="../images/public/img_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                  </ul>
                </div>
                <div class="detailBlock detailBlock--vedio">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon detailList__link--default vedio_default" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="infoDetail__item"></div>
              <div class="infoDetail__head">
                <h4 class="infoDetail__tit">方案2：简约第一版<span class="infoDetail__style">风格：简约</span></h4><a class="infoDetail__btn" href="javascript:;">漫游</a>
              </div>
              <div class="infoDetail__main">
                <div class="detailBlock detailBlock--photo">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="img_default detailList__link" href="javascript:;"><img class="detailList__img" src="../images/public/img_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                  </ul>
                </div>
                <div class="detailBlock detailBlock--vedio">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon detailList__link--default vedio_default" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="infoDetail__item"></div>
              <div class="infoDetail__head">
                <h4 class="infoDetail__tit">方案3：简约第一版<span class="infoDetail__style">风格：简约</span></h4><a class="infoDetail__btn" href="javascript:;">漫游</a>
              </div>
              <div class="infoDetail__main">
                <div class="detailBlock detailBlock--photo">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="img_default detailList__link" href="javascript:;"><img class="detailList__img" src="../images/public/img_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                  </ul>
                </div>
                <div class="detailBlock detailBlock--vedio">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon detailList__link--default vedio_default" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="schemeList__item">
            <div class="infoSimple"><img class="infoSimple__img" src="../images/temp/glfa.png" alt=""/>
              <div class="infoSimple__txtBox">
                <p class="infoSimple__txt infoSimple__txt--tit">紫金新干线10号楼3单元201</p>
                <p class="infoSimple__txt">3室2厅2卫1厨<span class="m--l30">130平</span></p>
                <div class="pbox">
                  <p class="infoSimple__txt">客户：侯小刚</p>
                  <p class="infoSimple__txt">所属小区：紫金新干线</p>
                </div>
              </div>
              <div class="infoSimple__txtBox--poa">
                <p class="infoSimple__txt">方案数：<em class="txtColor--blue">12</em></p><a class="infoSimple__open" href="javascript:;"></a>
              </div>
            </div>
            <div class="infoDetail">
              <div class="infoDetail__item"></div>
              <div class="infoDetail__head">
                <h4 class="infoDetail__tit">方案1：简约第一版<span class="infoDetail__style">风格：简约</span></h4><a class="infoDetail__btn" href="javascript:;">漫游</a>
              </div>
              <div class="infoDetail__main">
                <div class="detailBlock detailBlock--photo">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="img_default detailList__link" href="javascript:;"><img class="detailList__img" src="../images/public/img_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                  </ul>
                </div>
                <div class="detailBlock detailBlock--vedio">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon detailList__link--default vedio_default" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="infoDetail__item"></div>
              <div class="infoDetail__head">
                <h4 class="infoDetail__tit">方案2：简约第一版<span class="infoDetail__style">风格：简约</span></h4><a class="infoDetail__btn" href="javascript:;">漫游</a>
              </div>
              <div class="infoDetail__main">
                <div class="detailBlock detailBlock--photo">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="img_default detailList__link" href="javascript:;"><img class="detailList__img" src="../images/public/img_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                  </ul>
                </div>
                <div class="detailBlock detailBlock--vedio">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon detailList__link--default vedio_default" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="infoDetail__item"></div>
              <div class="infoDetail__head">
                <h4 class="infoDetail__tit">方案3：简约第一版<span class="infoDetail__style">风格：简约</span></h4><a class="infoDetail__btn" href="javascript:;">漫游</a>
              </div>
              <div class="infoDetail__main">
                <div class="detailBlock detailBlock--photo">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="img_default detailList__link" href="javascript:;"><img class="detailList__img" src="../images/public/img_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                  </ul>
                </div>
                <div class="detailBlock detailBlock--vedio">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon detailList__link--default vedio_default" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="schemeList__item">
            <div class="infoSimple"><img class="infoSimple__img" src="../images/temp/glfa.png" alt=""/>
              <div class="infoSimple__txtBox">
                <p class="infoSimple__txt infoSimple__txt--tit">紫金新干线10号楼3单元201</p>
                <p class="infoSimple__txt">3室2厅2卫1厨<span class="m--l30">130平</span></p>
                <div class="pbox">
                  <p class="infoSimple__txt">客户：侯小刚</p>
                  <p class="infoSimple__txt">所属小区：紫金新干线</p>
                </div>
              </div>
              <div class="infoSimple__txtBox--poa">
                <p class="infoSimple__txt">方案数：<em class="txtColor--blue">12</em></p><a class="infoSimple__open" href="javascript:;"></a>
              </div>
            </div>
            <div class="infoDetail">
              <div class="infoDetail__item"></div>
              <div class="infoDetail__head">
                <h4 class="infoDetail__tit">方案1：简约第一版<span class="infoDetail__style">风格：简约</span></h4><a class="infoDetail__btn" href="javascript:;">漫游</a>
              </div>
              <div class="infoDetail__main">
                <div class="detailBlock detailBlock--photo">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="img_default detailList__link" href="javascript:;"><img class="detailList__img" src="../images/public/img_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                  </ul>
                </div>
                <div class="detailBlock detailBlock--vedio">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon detailList__link--default vedio_default" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="infoDetail__item"></div>
              <div class="infoDetail__head">
                <h4 class="infoDetail__tit">方案2：简约第一版<span class="infoDetail__style">风格：简约</span></h4><a class="infoDetail__btn" href="javascript:;">漫游</a>
              </div>
              <div class="infoDetail__main">
                <div class="detailBlock detailBlock--photo">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="img_default detailList__link" href="javascript:;"><img class="detailList__img" src="../images/public/img_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                  </ul>
                </div>
                <div class="detailBlock detailBlock--vedio">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon detailList__link--default vedio_default" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="infoDetail__item"></div>
              <div class="infoDetail__head">
                <h4 class="infoDetail__tit">方案3：简约第一版<span class="infoDetail__style">风格：简约</span></h4><a class="infoDetail__btn" href="javascript:;">漫游</a>
              </div>
              <div class="infoDetail__main">
                <div class="detailBlock detailBlock--photo">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="img_default detailList__link" href="javascript:;"><img class="detailList__img" src="../images/public/img_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                  </ul>
                </div>
                <div class="detailBlock detailBlock--vedio">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon detailList__link--default vedio_default" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="schemeList__item">
            <div class="infoSimple"><img class="infoSimple__img" src="../images/temp/glfa.png" alt=""/>
              <div class="infoSimple__txtBox">
                <p class="infoSimple__txt infoSimple__txt--tit">紫金新干线10号楼3单元201</p>
                <p class="infoSimple__txt">3室2厅2卫1厨<span class="m--l30">130平</span></p>
                <div class="pbox">
                  <p class="infoSimple__txt">客户：侯小刚</p>
                  <p class="infoSimple__txt">所属小区：紫金新干线</p>
                </div>
              </div>
              <div class="infoSimple__txtBox--poa">
                <p class="infoSimple__txt">方案数：<em class="txtColor--blue">12</em></p><a class="infoSimple__open" href="javascript:;"></a>
              </div>
            </div>
            <div class="infoDetail">
              <div class="infoDetail__item"></div>
              <div class="infoDetail__head">
                <h4 class="infoDetail__tit">方案1：简约第一版<span class="infoDetail__style">风格：简约</span></h4><a class="infoDetail__btn" href="javascript:;">漫游</a>
              </div>
              <div class="infoDetail__main">
                <div class="detailBlock detailBlock--photo">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="img_default detailList__link" href="javascript:;"><img class="detailList__img" src="../images/public/img_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                  </ul>
                </div>
                <div class="detailBlock detailBlock--vedio">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon detailList__link--default vedio_default" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="infoDetail__item"></div>
              <div class="infoDetail__head">
                <h4 class="infoDetail__tit">方案2：简约第一版<span class="infoDetail__style">风格：简约</span></h4><a class="infoDetail__btn" href="javascript:;">漫游</a>
              </div>
              <div class="infoDetail__main">
                <div class="detailBlock detailBlock--photo">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="img_default detailList__link" href="javascript:;"><img class="detailList__img" src="../images/public/img_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                  </ul>
                </div>
                <div class="detailBlock detailBlock--vedio">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon detailList__link--default vedio_default" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="infoDetail__item"></div>
              <div class="infoDetail__head">
                <h4 class="infoDetail__tit">方案3：简约第一版<span class="infoDetail__style">风格：简约</span></h4><a class="infoDetail__btn" href="javascript:;">漫游</a>
              </div>
              <div class="infoDetail__main">
                <div class="detailBlock detailBlock--photo">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="img_default detailList__link" href="javascript:;"><img class="detailList__img" src="../images/public/img_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                  </ul>
                </div>
                <div class="detailBlock detailBlock--vedio">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon detailList__link--default vedio_default" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="schemeList__item">
            <div class="infoSimple"><img class="infoSimple__img" src="../images/temp/glfa.png" alt=""/>
              <div class="infoSimple__txtBox">
                <p class="infoSimple__txt infoSimple__txt--tit">紫金新干线10号楼3单元201</p>
                <p class="infoSimple__txt">3室2厅2卫1厨<span class="m--l30">130平</span></p>
                <div class="pbox">
                  <p class="infoSimple__txt">客户：侯小刚</p>
                  <p class="infoSimple__txt">所属小区：紫金新干线</p>
                </div>
              </div>
              <div class="infoSimple__txtBox--poa">
                <p class="infoSimple__txt">方案数：<em class="txtColor--blue">12</em></p><a class="infoSimple__open" href="javascript:;"></a>
              </div>
            </div>
            <div class="infoDetail">
              <div class="infoDetail__item"></div>
              <div class="infoDetail__head">
                <h4 class="infoDetail__tit">方案1：简约第一版<span class="infoDetail__style">风格：简约</span></h4><a class="infoDetail__btn" href="javascript:;">漫游</a>
              </div>
              <div class="infoDetail__main">
                <div class="detailBlock detailBlock--photo">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="img_default detailList__link" href="javascript:;"><img class="detailList__img" src="../images/public/img_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                  </ul>
                </div>
                <div class="detailBlock detailBlock--vedio">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon detailList__link--default vedio_default" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="infoDetail__item"></div>
              <div class="infoDetail__head">
                <h4 class="infoDetail__tit">方案2：简约第一版<span class="infoDetail__style">风格：简约</span></h4><a class="infoDetail__btn" href="javascript:;">漫游</a>
              </div>
              <div class="infoDetail__main">
                <div class="detailBlock detailBlock--photo">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="img_default detailList__link" href="javascript:;"><img class="detailList__img" src="../images/public/img_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                  </ul>
                </div>
                <div class="detailBlock detailBlock--vedio">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon detailList__link--default vedio_default" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="infoDetail__item"></div>
              <div class="infoDetail__head">
                <h4 class="infoDetail__tit">方案3：简约第一版<span class="infoDetail__style">风格：简约</span></h4><a class="infoDetail__btn" href="javascript:;">漫游</a>
              </div>
              <div class="infoDetail__main">
                <div class="detailBlock detailBlock--photo">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">效果图</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt="" data-original="../images/public/img_default.png"/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                    <li class="detailList__item"><a class="img_default detailList__link" href="javascript:;"><img class="detailList__img" src="../images/public/img_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无图片</p>
                    </li>
                  </ul>
                </div>
                <div class="detailBlock detailBlock--vedio">
                  <div class="detailBlock__head">
                    <h5 class="detailBlock__tit">视频</h5><a class="detailBlock__all" href="javascript:;">查看全部</a>
                  </div>
                  <ul class="detailList">
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon" href="javascript:;"><img class="detailList__img" src="../images/temp/glfa.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                    <li class="detailList__item"><a class="detailList__link vedioIcon detailList__link--default vedio_default" href="javascript:;"><img class="detailList__img" src="../images/public/vedio_default.png" alt=""/></a>
                      <p class="detailList__txt">暂无视频</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul><a class="loadMore" href="javascript:;" id="loadMore"> 点击加载更多</a><a class="gotoTop" href="#">返回顶部</a>
      </div>
    </div>
    <input type="hidden" id="loadMoreURI" value="/"/>
    <script src="../js/jquery/1.8.3/jquery.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/viewer-jquery.min.js"></script>
    <script src="../js/mangerTwoStep.js"></script>
  </body>
</html>