<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>前台首页</title>
    <link rel="stylesheet" href="../css/style.css"/>
  </head>
  <body>
    <div class="wrap wrap--bg">
      <div class="top">欢迎，设计师<em class="top__user-name">轩亦辰</em>|<a class="top__btn top__btn--blue" href="">退出</a></div>
      <div class="head"><img class="head__logo" src="../images/icon-home/logo.png" alt=""/>
        <ul class="head__nav">
          <li class="head__nav-glfa head__nav--active"><a class="head__nav-item" href="">管理方案</a></li>
          <li class="head__nav-glkh"><a class="head__nav-item" href="">管理客户</a></li>
          <li class="head__nav-qb"><a class="head__nav-item" href="">钱包</a></li>
          <li class="head__nav-add"><a class="head__nav-item" href="">添加设计方案</a></li>
        </ul>
      </div>
      <div class="content index">
        <h2 class="index__title">共有效果图<em class="index__title-number">150</em>份</h2>
        <ul class="designList">
          <li class="designList__item"><a class="designList__link" href=""><img class="designList__img" src="../images/temp/design.jpg" alt=""/>
              <div class="designList__box">
                <p class="designList__tit">共有客户 12 人</p>
                <p class="designList__txt">有<em class="designList__num">9</em>人待完善</p>
              </div></a></li>
          <li class="designList__item"><a class="designList__link" href=""><img class="designList__img" src="../images/temp/design.jpg" alt=""/>
              <div class="designList__box">
                <p class="designList__tit">共有客户 12 人</p>
                <p class="designList__txt">有<em class="designList__num">9</em>人待完善</p>
              </div></a></li>
          <li class="designList__item"><a class="designList__link" href=""><img class="designList__img" src="../images/temp/design.jpg" alt=""/>
              <div class="designList__box">
                <p class="designList__tit">共有客户 12 人</p>
                <p class="designList__txt">有<em class="designList__num">9</em>人待完善</p>
              </div></a></li>
          <li class="designList__item"><a class="designList__link" href=""><img class="designList__img" src="../images/temp/design.jpg" alt=""/>
              <div class="designList__box">
                <p class="designList__tit">共有客户 12 人</p>
                <p class="designList__txt">有<em class="designList__num">9</em>人待完善</p>
              </div></a></li>
          <li class="designList__item"><a class="designList__link" href=""><img class="designList__img" src="../images/temp/design.jpg" alt=""/>
              <div class="designList__box">
                <p class="designList__tit">共有客户 12 人</p>
                <p class="designList__txt">有<em class="designList__num">9</em>人待完善</p>
              </div></a></li>
          <li class="designList__item"><a class="designList__link" href=""><img class="designList__img" src="../images/temp/design.jpg" alt=""/>
              <div class="designList__box">
                <p class="designList__tit">共有客户 12 人</p>
                <p class="designList__txt">有<em class="designList__num">9</em>人待完善</p>
              </div></a></li>
        </ul>
        <div class="indexFooer">钱包共有余额<em class="txtColor--orange">100</em>元，金币<em class="txtColor--orange">200</em>个  (  共消费<em>1500.00</em>元，金币<em>512</em>枚  )</div>
      </div>
    </div>
    <script src="../js/index.js"></script>
  </body>
</html>