include common/common.pug
+head({title: '3d内页'})
    +topBar({
        return:{
            type: 'icon',
            text: ''
        },
        title:{
         text:"标题标题"
        },
        shadow: false
       })
    .dWrap
        .roam
            img(src="../images/temp/bg1.png")
        .contact
            a(href="javascript:;").contact__user--link
                img.contact__userImg(src="../images/pubilc/default_avatar.png")
                span.userNmae 张三
            a(href="tel:1000000").contact__user--call 联系设计师


