include common/common.pug
+head({title: 'Z1'})
    +topBar({shadow: false})
    .wrap
        .z2
            .z2__title 使用手机号登录
            .z2Form
                .z2Form__item
                    .z2Form__address  国家/地区
                    select.select.select--icon
                        -for(var i = 0; i< 10; i++)
                            option 中国
                .z2Form__item
                    .z2Form__inpBox.z2Form__inpBox--small.z2Form__inpBox--border
                        input.z2Form__inp(type="text", value="+86")
                    .z2Form__inpBox
                        input.z2Form__inp(type="tel", placeholder="139 1182 6671")
                .z2Form__item
                    .z2Form__inpBox.z2Form__inpBox--small
                        .z2Form__address 密码
                    .z2Form__inpBox
                        input.z2Form__inp(type="password", placeholder="请填写密码")
                a(href="javascript:;").btn.btn--gary.m--t50 登 录
                a(href="").msgLogin 通过短信验证码登录
