include common/common.pug
+head({title: 'Z2'})
    +topBar({
        return:{
            type: 'text',
            text: '取消',
            color:'yellow'
        },
        shadow: false
       })
    .wrap
        .z2
            .z2__title 通过短信验证码登录
            .z2Form
                .z2Form__item
                    .z2Form__address  国家/地区
                    select.select.select--icon
                        -for(var i = 0; i< 10; i++)
                            option 中国
                .z2Form__item
                    .z2Form__inpBox.z2Form__inpBox--small.z2Form__inpBox--border
                        input.z2Form__inp(type="text", value="+86")
                    .z2Form__inpBox
                        input.z2Form__inp(type="tel", placeholder="139 1182 6671")
                a(href="javascript:;").btn.btn--yellow.m--t50 下一步
