include common/common.pug
+head({title: 'Z4', bgClass:'f5f7fa'})
    +topBar({
        return:{
            type: 'icon',
            text: '取消',
            color:'yellow'
        },
        menu: {
            type: 'text',
            text: '完成',
            color: 'yellow'
        },
        title: {
            color:'',
            text: '设置密码'
        },
        shadow: true
       })
    .wrap
        .setPassword
            .tipsTxt 请设置装8密码，之后您可以使用手机号13911826671+ 密码登录装
            ul.setPassList
                li.setPassList__item
                    label.setPassList__name.setPassList__name--dim(maxlength="11") 手机号
                    .setPassList__inpBox
                        input(type="tel", disabled, value="13911826671").setPassList__inp.setPassList__inp--dim
                li.setPassList__item
                    label.setPassList__name 密码
                    .setPassList__inpBox
                        input(type="password", placeholder="请输入密码").setPassList__inp
                        .clear clear
                li.setPassList__item
                    label.setPassList__name 重复密码
                    .setPassList__inpBox
                        input(type="password", placeholder="密码验证").setPassList__inp
                        .clear clear

