include common/common.pug
+head({title: '我的方案-相册'})
    +topBar({
        return:{
            type: 'icon'
        },
        title: {
            color:'',
            text: '设计效果图'
        },
        shadow: true
       })
    .wrap
        .design
            .designNav
                a(href="javascript:;").designNav__item.designNav__item--active 户型
                a(href="javascript:;").designNav__item 客厅
                a(href="javascript:;").designNav__item 卧室一
                a(href="javascript:;").designNav__item.designNav__item--active 卧室二
                a(href="javascript:;").designNav__item 书房
                a(href="javascript:;").designNav__item 厨房
                a(href="javascript:;").designNav__item 卫生间
                a(href="javascript:;").designNav__item 阳台
                a(href="javascript:;").designNav__item 健身房
            .designListWrap
                ul.designList
                    -for(var x= 0; x< 3; x++)
                        li.designList__item.designList__item--state01
                            a(href="#").designList__link
                                img(src="../images/temp/temp.jpg").designList__img
                        li.designList__item.designList__item--state02
                            a(href="#").designList__link
                                img(src="../images/temp/temp.jpg").designList__img
                        li.designList__item.designList__item--state03
                            a(href="#").designList__link
                                img(src="../images/temp/temp.jpg").designList__img
                        li.designList__item
                            a(href="#").designList__link
                                img(src="../images/temp/temp.jpg").designList__img
                .data--more 暂无数据
                .data--no 加载更多
                .data--loading 加载中...
