include common/common.pug
+head({title: '标点'})
    +topBar({
        return:{
            type: 'icon',
            text: ''
        },
        title:{
         text:"卧室/简约/大方"
        },
        shadow: false,
        isBlack: true
       })
    .markDot
        .markDotBox
            img(src="../images/temp/temp.jpg").markDot__img
            .dots
                .dotBox(style="left: 90%; top:50%;")
                    a(href="").dot
                    .dotMask.dotMask--right
                        p.dotTxt 大处着眼，既是设计师在家装设计时应考虑到的几个基本观点，也就是家装客户最迫切和最真实的一些家装要求和基本装修原则。
                        .praises
                            a(href="javascript:;").praises__link.praises__link--good.praises__link--active
                            a(href="javascript:;").praises__link.praises__link--bad
