include common/common.pug
+head({title: '添加评价', bgClass:'f5f7fa'})
    +topBar({
        return:{
            type: 'icon'
        },
        title: {
            text: '添加评价'
        },
        shadow: true
       })
    .wrap
        .addComments
            ul.addCommentsList
                li.addCommentsList__item
                    h3.addCommentsList__title 设计服务
                    .userInfo
                        img(src="../images/temp/user_img.jpg").userInfo__img
                        .userInfo__name Jonny lulu
                    .stars
                        .starsMain
                            - for(var a = 0; a < 5; a++)
                                a(href="javascript:;", class= (a < 3) ? "stars__item--active" : '').stars__item
                li.addCommentsList__item
                    h3.addCommentsList__title 装修服务
                    .userInfo
                        img(src="../images/temp/user_img.jpg").userInfo__img
                        .userInfo__name Jonny lulu
                    .stars
                        .starsMain
                            - for(var a = 0; a < 5; a++)
                                a(href="javascript:;", class= (a < 3) ? "stars__item--active" : '').stars__item
            .commentBox
                textarea.comment__textarea(placeholder="点评一下吧，您的意见很重要哦")
            .btnWrap
                a(href="javascript:;").commentSubmit.btn 确定
                a(href="javascript:;").commentSubmit.btn.btn--gary 已评价



