include common/common.pug
+head({title: '添加评价', bgClass:'f5f7fa'})
    +topBar({
        return:{
            type: 'icon'
        },
        menu: {
            type: 'text',
            text: '提交',
            color: 'yellow'
        },
        title: {
            text: '添加评价'
        },
        shadow: true
       })
    .wrap
        .addComments
            ul.addCommentsList
                - for(var x = 0; x < 10; x++)
                    li.addCommentsList__item
                        h3.addCommentsList__title 设计服务
                        .userInfo
                            img(src="../images/temp/user_img.jpg").userInfo__img
                            .userInfo__box
                                .userInfo__nameWrap
                                    .userInfo__name Jonny lulu
                                    .userInfo__tags
                                        span.userInfo__tagsItem 资深
                                        span.userInfo__tagsItem 明星
                                        span.userInfo__tagsItem 质保
                                .user__desc 北京/顶点设计工作室/５年设计经验
                        .stars
                            .starsMain
                                - for(var a = 0; a < 5; a++)
                                    a(href="javascript:;", class= (a < 3) ? "stars__item--active" : '').stars__item
            .commentBox
                textarea.comment__textarea(placeholder="点评一下吧，您的意见很重要哦")



