include common/common.pug
+head({title: '首页', bgClass:"f5f7fa"})
    +topBar2({shadow: false})
    .wrap.p--b100
        .headBanner
            a(href="javascript:;").headBanner__link.headBanner__link--quanwu
                img(src="../images/temp/temp2.jpg").headBanner__img
            .headBanner__desc
                h3.headBanner__title
                    | 北北欧-大连海湾城户型3室2厅北欧-大连海湾城户型3室2厅欧-3室2厅
                p.headBanner__txt
                    | 北京 | 芳华名苑小区
        ul.renderingList.none
            -for(var x = 0; x<4; x++)
                li.renderingList__item.divider
                    .dotImg.dotImg--are
                        img(src="../images/temp/temp.jpg").dotImg__img
                    .renderingList__box
                        .renderingList__headBox
                            .renderingList__haed
                                h3.renderingList__title 户型设计图
                                .renderingList__tags
                                    span.renderingList__tag.renderingList__tag--shipin 视频
                                    span.renderingList__tag.renderingList__tag--3d 3D
                                    span.renderingList__tag.renderingList__tag--quanwu 全屋
                            span.renderingList__date 2015.05.26
                        p.renderingList__desc
                            | 地板颜色能否暗一点，变成亚光色地板颜色能否暗一点，变成亚光色....
        .morePlan
            h3.morePlan__title 更多方案
            ul.morePlanList
                -for(var y = 0; y< 4; y++)
                    li.morePlan__item.divider
                        a(href="javascript:;").morePlan__link
                           .dotImg.dotImg--are
                                img(src="../images/temp/temp.jpg").dotImg__img
                           .morePlanMain
                               h3.morePlanMain__title
                                   | 侯先生的欧式简约方案
                               .morePlanMain__date
                                   | 2015.05.26
                                   em.morePlanMain__tiem 17:30
        a(href="tel: 1000000").phoneCall
