<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>3d内页</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <script src="../js/px2rem.min.js"></script>
  </head>
  <body>
    <div class="topBar"><a class="topBar__return topBar__return--icon" href="javascript:;"></a>
      <h1 class="topBar__title">标题标题</h1><a class="topBar__menu topBar__hidden" href="javascript:;"></a>
    </div>
    <div class="dWrap">
      <div class="roam"><img src="../images/temp/bg1.png"/></div>
      <div class="contact"><a class="contact__user--link" href="javascript:;"><img class="contact__userImg" src="../images/pubilc/default_avatar.png"/><span class="userNmae">张三</span></a><a class="contact__user--call" href="tel:1000000">联系设计师</a></div>
    </div>
    
  </body>
</html>