<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>Z4</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <script src="../js/px2rem.min.js"></script>
  </head>
  <body class="bodyBg--f5f7fa">
    <div class="topBar topBar--shadow"><a class="topBarColor--yellow topBar__return topBar__return--icon" href="javascript:;">取消</a>
      <h1 class="topBar__title">设置密码</h1><a class="topBarColor--yellow topBar__menu" href="javascript:;">完成</a>
    </div>
    <div class="wrap">
      <div class="setPassword">
        <div class="tipsTxt">请设置装8密码，之后您可以使用手机号13911826671+ 密码登录装</div>
        <ul class="setPassList">
          <li class="setPassList__item">
            <label class="setPassList__name setPassList__name--dim" maxlength="11">手机号</label>
            <div class="setPassList__inpBox">
              <input class="setPassList__inp" type="tel" placeholder="13911826671"/>
            </div>
          </li>
          <li class="setPassList__item">
            <label class="setPassList__name">性别</label>
            <div class="setPassList__sub">
              <label class="setPassList__name"><span class="setPassList__txt">男</span>
                <input class="setSex" type="radio" name="sex"/>
              </label>
              <label class="setPassList__name"><span class="setPassList__txt">女</span>
                <input class="setSex" type="radio" name="sex"/>
              </label>
            </div>
          </li>
          <li class="setPassList__item">
            <label class="setPassList__name">所在城市</label>
            <div class="setPassList__inpBox">
              <input class="setPassList__inp" type="所在城市" placeholder="北京"/>
              <div class="clear">clear</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>