<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>我的方案-相册</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <script src="../js/px2rem.min.js"></script>
  </head>
  <body>
    <div class="topBar topBar--shadow"><a class="topBar__return topBar__return--icon" href="javascript:;"></a>
      <h1 class="topBar__title">设计效果图</h1><a class="topBar__menu topBar__hidden" href="javascript:;"></a>
    </div>
    <div class="wrap">
      <div class="design">
        <div class="designNav"><a class="designNav__item designNav__item--active" href="javascript:;">户型</a><a class="designNav__item" href="javascript:;">客厅</a><a class="designNav__item" href="javascript:;">卧室一</a><a class="designNav__item designNav__item--active" href="javascript:;">卧室二</a><a class="designNav__item" href="javascript:;">书房</a><a class="designNav__item" href="javascript:;">厨房</a><a class="designNav__item" href="javascript:;">卫生间</a><a class="designNav__item" href="javascript:;">阳台</a><a class="designNav__item" href="javascript:;">健身房</a></div>
        <div class="designListWrap">
          <ul class="designList">
            <li class="designList__item designList__item--state01"><a class="designList__link" href="#"><img class="designList__img" src="../images/temp/temp.jpg"/></a></li>
            <li class="designList__item designList__item--state02"><a class="designList__link" href="#"><img class="designList__img" src="../images/temp/temp.jpg"/></a></li>
            <li class="designList__item designList__item--state03"><a class="designList__link" href="#"><img class="designList__img" src="../images/temp/temp.jpg"/></a></li>
            <li class="designList__item"><a class="designList__link" href="#"><img class="designList__img" src="../images/temp/temp.jpg"/></a></li>
            <li class="designList__item designList__item--state01"><a class="designList__link" href="#"><img class="designList__img" src="../images/temp/temp.jpg"/></a></li>
            <li class="designList__item designList__item--state02"><a class="designList__link" href="#"><img class="designList__img" src="../images/temp/temp.jpg"/></a></li>
            <li class="designList__item designList__item--state03"><a class="designList__link" href="#"><img class="designList__img" src="../images/temp/temp.jpg"/></a></li>
            <li class="designList__item"><a class="designList__link" href="#"><img class="designList__img" src="../images/temp/temp.jpg"/></a></li>
            <li class="designList__item designList__item--state01"><a class="designList__link" href="#"><img class="designList__img" src="../images/temp/temp.jpg"/></a></li>
            <li class="designList__item designList__item--state02"><a class="designList__link" href="#"><img class="designList__img" src="../images/temp/temp.jpg"/></a></li>
            <li class="designList__item designList__item--state03"><a class="designList__link" href="#"><img class="designList__img" src="../images/temp/temp.jpg"/></a></li>
            <li class="designList__item"><a class="designList__link" href="#"><img class="designList__img" src="../images/temp/temp.jpg"/></a></li>
          </ul>
          <div class="data--more">暂无数据</div>
          <div class="data--no">加载更多</div>
          <div class="data--loading">加载中...</div>
        </div>
      </div>
    </div>
  </body>
</html>