<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>我的装修日记</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <script src="../js/px2rem.min.js"></script>
  </head>
  <body class="bodyBg--f5f7fa">
    <div class="topBarNav"><a class="topBarNav__return" href="javascript:;"></a>
      <ul class="topBarNav__list">
        <li class="topBarNav__item topBarNav__item--active"><a class="topBarNav__link" href="javascript:;">我的方案</a></li>
        <li class="topBarNav__item"><a class="topBarNav__link" href="javascript:;">装修日记</a></li>
        <li class="topBarNav__item"><a class="topBarNav__link" href="javascript:;">评价打分</a></li>
      </ul>
    </div>
    <div class="wrap">
      <div class="headBanner"><a class="headBanner__link" href="javascript:;"><img class="headBanner__img" src="../images/temp/temp2.jpg"/></a>
        <div class="headBanner__desc headBanner__desc--photo"><img class="headBanner__userImg" src="../images/temp/user_img.jpg"/>
          <div class="headBanner__descBox">
            <h3 class="headBanner__title">北北欧-大连海湾城户型3室2厅北欧</h3>
            <p class="headBanner__txt">北京 | 芳华名苑小区</p>
          </div>
        </div>
      </div>
      <div class="diary"><a class="openMenu" href="javascript:;"></a>
        <ul class="diaryList">
          <li class="diaryList__item">
            <h3 class="diaryList__title">装修准备</h3>
            <div class="diaryList__main">
              <div class="diaryList__data">2015年05月26日</div>
              <div class="diaryList__content">
                <p>好像一直没有上传过去户型图，补一张，很常见的那种三居户型</p>
                <p>好好像一直没有上传过去户型图好像一直没有上传过去户型图像一直没有上传过去户型图，补一张，很常见的那种三居户型</p><img src="../images/temp/temp2.jpg"/><img src="../images/temp/temp2.jpg"/>
              </div>
            </div>
            <div class="diaryList__main">
              <div class="diaryList__data">2015年05月26日</div>
              <div class="diaryList__content">
                <p>好像一直没有上传过去户型图，补一张，很常见的那种三居户型</p>
                <p>好好像一直没有上传过去户型图好像一直没有上传过去户型图像一直没有上传过去户型图，补一张，很常见的那种三居户型</p><img src="../images/temp/temp2.jpg"/><img src="../images/temp/temp2.jpg"/>
              </div>
            </div>
            <div class="diaryList__main">
              <div class="diaryList__data">2015年05月26日</div>
              <div class="diaryList__content">
                <p>好像一直没有上传过去户型图，补一张，很常见的那种三居户型</p>
                <p>好好像一直没有上传过去户型图好像一直没有上传过去户型图像一直没有上传过去户型图，补一张，很常见的那种三居户型</p><img src="../images/temp/temp2.jpg"/><img src="../images/temp/temp2.jpg"/>
              </div>
            </div>
          </li>
          <li class="diaryList__item">
            <h3 class="diaryList__title">装修准备</h3>
            <div class="diaryList__main">
              <div class="diaryList__data">2015年05月26日</div>
              <div class="diaryList__content">
                <p>好像一直没有上传过去户型图，补一张，很常见的那种三居户型</p>
                <p>好好像一直没有上传过去户型图好像一直没有上传过去户型图像一直没有上传过去户型图，补一张，很常见的那种三居户型</p><img src="../images/temp/temp2.jpg"/><img src="../images/temp/temp2.jpg"/>
              </div>
            </div>
            <div class="diaryList__main">
              <div class="diaryList__data">2015年05月26日</div>
              <div class="diaryList__content">
                <p>好像一直没有上传过去户型图，补一张，很常见的那种三居户型</p>
                <p>好好像一直没有上传过去户型图好像一直没有上传过去户型图像一直没有上传过去户型图，补一张，很常见的那种三居户型</p><img src="../images/temp/temp2.jpg"/><img src="../images/temp/temp2.jpg"/>
              </div>
            </div>
            <div class="diaryList__main">
              <div class="diaryList__data">2015年05月26日</div>
              <div class="diaryList__content">
                <p>好像一直没有上传过去户型图，补一张，很常见的那种三居户型</p>
                <p>好好像一直没有上传过去户型图好像一直没有上传过去户型图像一直没有上传过去户型图，补一张，很常见的那种三居户型</p><img src="../images/temp/temp2.jpg"/><img src="../images/temp/temp2.jpg"/>
              </div>
            </div>
          </li>
          <li class="diaryList__item">
            <h3 class="diaryList__title">装修准备</h3>
            <div class="diaryList__main">
              <div class="diaryList__data">2015年05月26日</div>
              <div class="diaryList__content">
                <p>好像一直没有上传过去户型图，补一张，很常见的那种三居户型</p>
                <p>好好像一直没有上传过去户型图好像一直没有上传过去户型图像一直没有上传过去户型图，补一张，很常见的那种三居户型</p><img src="../images/temp/temp2.jpg"/><img src="../images/temp/temp2.jpg"/>
              </div>
            </div>
            <div class="diaryList__main">
              <div class="diaryList__data">2015年05月26日</div>
              <div class="diaryList__content">
                <p>好像一直没有上传过去户型图，补一张，很常见的那种三居户型</p>
                <p>好好像一直没有上传过去户型图好像一直没有上传过去户型图像一直没有上传过去户型图，补一张，很常见的那种三居户型</p><img src="../images/temp/temp2.jpg"/><img src="../images/temp/temp2.jpg"/>
              </div>
            </div>
            <div class="diaryList__main">
              <div class="diaryList__data">2015年05月26日</div>
              <div class="diaryList__content">
                <p>好像一直没有上传过去户型图，补一张，很常见的那种三居户型</p>
                <p>好好像一直没有上传过去户型图好像一直没有上传过去户型图像一直没有上传过去户型图，补一张，很常见的那种三居户型</p><img src="../images/temp/temp2.jpg"/><img src="../images/temp/temp2.jpg"/>
              </div>
            </div>
          </li>
        </ul>
        <div class="directory none">
          <div class="directory__links"><a class="directory__item" href="javascript:;">装修</a><a class="directory__item" href="javascript:;">装修</a><a class="directory__item" href="javascript:;">装修</a><a class="directory__item" href="javascript:;">装修</a><a class="directory__item" href="javascript:;">装修</a><a class="directory__item" href="javascript:;">装修</a><a class="directory__item" href="javascript:;">装修</a><a class="directory__item" href="javascript:;">装修</a><a class="directory__item" href="javascript:;">装修</a><a class="directory__item" href="javascript:;">装修</a>
          </div><a class="directory__close" href="javascript:;">✕</a>
        </div>
      </div>
    </div>
  </body>
</html>