<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>标点</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <script src="../js/px2rem.min.js"></script>
  </head>
  <body>
    <div class="topBar topBar--black"><a class="topBar__return topBar__return--icon" href="javascript:;"></a>
      <h1 class="topBar__title">卧室/简约/大方</h1><a class="topBar__menu topBar__hidden" href="javascript:;"></a>
    </div>
    <div class="markDot">
      <div class="markDotBox"><img class="markDot__img" src="../images/temp/temp.jpg"/>
        <div class="dots">
          <div class="dotBox" style="left: 90%; top:50%;"><a class="dot" href=""></a>
            <div class="dotMask dotMask--right">
              <p class="dotTxt">大处着眼，既是设计师在家装设计时应考虑到的几个基本观点，也就是家装客户最迫切和最真实的一些家装要求和基本装修原则。</p>
              <div class="praises"><a class="praises__link praises__link--good praises__link--active" href="javascript:;"></a><a class="praises__link praises__link--bad" href="javascript:;"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>