<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>添加评价</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <script src="../js/px2rem.min.js"></script>
  </head>
  <body class="bodyBg--f5f7fa">
    <div class="topBar topBar--shadow"><a class="topBar__return topBar__return--icon" href="javascript:;"></a>
      <h1 class="topBar__title">添加评价</h1><a class="topBarColor--yellow topBar__menu" href="javascript:;">提交</a>
    </div>
    <div class="wrap">
      <div class="addComments">
        <ul class="addCommentsList">
          <li class="addCommentsList__item">
            <h3 class="addCommentsList__title">设计服务</h3>
            <div class="userInfo"><img class="userInfo__img" src="../images/temp/user_img.jpg"/>
              <div class="userInfo__box">
                <div class="userInfo__nameWrap">
                  <div class="userInfo__name">Jonny lulu</div>
                  <div class="userInfo__tags"><span class="userInfo__tagsItem">资深</span><span class="userInfo__tagsItem">明星</span><span class="userInfo__tagsItem">质保</span></div>
                </div>
                <div class="user__desc">北京/顶点设计工作室/５年设计经验</div>
              </div>
            </div>
            <div class="stars">
              <div class="starsMain"><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a>
              </div>
            </div>
          </li>
          <li class="addCommentsList__item">
            <h3 class="addCommentsList__title">设计服务</h3>
            <div class="userInfo"><img class="userInfo__img" src="../images/temp/user_img.jpg"/>
              <div class="userInfo__box">
                <div class="userInfo__nameWrap">
                  <div class="userInfo__name">Jonny lulu</div>
                  <div class="userInfo__tags"><span class="userInfo__tagsItem">资深</span><span class="userInfo__tagsItem">明星</span><span class="userInfo__tagsItem">质保</span></div>
                </div>
                <div class="user__desc">北京/顶点设计工作室/５年设计经验</div>
              </div>
            </div>
            <div class="stars">
              <div class="starsMain"><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a>
              </div>
            </div>
          </li>
          <li class="addCommentsList__item">
            <h3 class="addCommentsList__title">设计服务</h3>
            <div class="userInfo"><img class="userInfo__img" src="../images/temp/user_img.jpg"/>
              <div class="userInfo__box">
                <div class="userInfo__nameWrap">
                  <div class="userInfo__name">Jonny lulu</div>
                  <div class="userInfo__tags"><span class="userInfo__tagsItem">资深</span><span class="userInfo__tagsItem">明星</span><span class="userInfo__tagsItem">质保</span></div>
                </div>
                <div class="user__desc">北京/顶点设计工作室/５年设计经验</div>
              </div>
            </div>
            <div class="stars">
              <div class="starsMain"><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a>
              </div>
            </div>
          </li>
          <li class="addCommentsList__item">
            <h3 class="addCommentsList__title">设计服务</h3>
            <div class="userInfo"><img class="userInfo__img" src="../images/temp/user_img.jpg"/>
              <div class="userInfo__box">
                <div class="userInfo__nameWrap">
                  <div class="userInfo__name">Jonny lulu</div>
                  <div class="userInfo__tags"><span class="userInfo__tagsItem">资深</span><span class="userInfo__tagsItem">明星</span><span class="userInfo__tagsItem">质保</span></div>
                </div>
                <div class="user__desc">北京/顶点设计工作室/５年设计经验</div>
              </div>
            </div>
            <div class="stars">
              <div class="starsMain"><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a>
              </div>
            </div>
          </li>
          <li class="addCommentsList__item">
            <h3 class="addCommentsList__title">设计服务</h3>
            <div class="userInfo"><img class="userInfo__img" src="../images/temp/user_img.jpg"/>
              <div class="userInfo__box">
                <div class="userInfo__nameWrap">
                  <div class="userInfo__name">Jonny lulu</div>
                  <div class="userInfo__tags"><span class="userInfo__tagsItem">资深</span><span class="userInfo__tagsItem">明星</span><span class="userInfo__tagsItem">质保</span></div>
                </div>
                <div class="user__desc">北京/顶点设计工作室/５年设计经验</div>
              </div>
            </div>
            <div class="stars">
              <div class="starsMain"><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a>
              </div>
            </div>
          </li>
          <li class="addCommentsList__item">
            <h3 class="addCommentsList__title">设计服务</h3>
            <div class="userInfo"><img class="userInfo__img" src="../images/temp/user_img.jpg"/>
              <div class="userInfo__box">
                <div class="userInfo__nameWrap">
                  <div class="userInfo__name">Jonny lulu</div>
                  <div class="userInfo__tags"><span class="userInfo__tagsItem">资深</span><span class="userInfo__tagsItem">明星</span><span class="userInfo__tagsItem">质保</span></div>
                </div>
                <div class="user__desc">北京/顶点设计工作室/５年设计经验</div>
              </div>
            </div>
            <div class="stars">
              <div class="starsMain"><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a>
              </div>
            </div>
          </li>
          <li class="addCommentsList__item">
            <h3 class="addCommentsList__title">设计服务</h3>
            <div class="userInfo"><img class="userInfo__img" src="../images/temp/user_img.jpg"/>
              <div class="userInfo__box">
                <div class="userInfo__nameWrap">
                  <div class="userInfo__name">Jonny lulu</div>
                  <div class="userInfo__tags"><span class="userInfo__tagsItem">资深</span><span class="userInfo__tagsItem">明星</span><span class="userInfo__tagsItem">质保</span></div>
                </div>
                <div class="user__desc">北京/顶点设计工作室/５年设计经验</div>
              </div>
            </div>
            <div class="stars">
              <div class="starsMain"><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a>
              </div>
            </div>
          </li>
          <li class="addCommentsList__item">
            <h3 class="addCommentsList__title">设计服务</h3>
            <div class="userInfo"><img class="userInfo__img" src="../images/temp/user_img.jpg"/>
              <div class="userInfo__box">
                <div class="userInfo__nameWrap">
                  <div class="userInfo__name">Jonny lulu</div>
                  <div class="userInfo__tags"><span class="userInfo__tagsItem">资深</span><span class="userInfo__tagsItem">明星</span><span class="userInfo__tagsItem">质保</span></div>
                </div>
                <div class="user__desc">北京/顶点设计工作室/５年设计经验</div>
              </div>
            </div>
            <div class="stars">
              <div class="starsMain"><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a>
              </div>
            </div>
          </li>
          <li class="addCommentsList__item">
            <h3 class="addCommentsList__title">设计服务</h3>
            <div class="userInfo"><img class="userInfo__img" src="../images/temp/user_img.jpg"/>
              <div class="userInfo__box">
                <div class="userInfo__nameWrap">
                  <div class="userInfo__name">Jonny lulu</div>
                  <div class="userInfo__tags"><span class="userInfo__tagsItem">资深</span><span class="userInfo__tagsItem">明星</span><span class="userInfo__tagsItem">质保</span></div>
                </div>
                <div class="user__desc">北京/顶点设计工作室/５年设计经验</div>
              </div>
            </div>
            <div class="stars">
              <div class="starsMain"><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a>
              </div>
            </div>
          </li>
          <li class="addCommentsList__item">
            <h3 class="addCommentsList__title">设计服务</h3>
            <div class="userInfo"><img class="userInfo__img" src="../images/temp/user_img.jpg"/>
              <div class="userInfo__box">
                <div class="userInfo__nameWrap">
                  <div class="userInfo__name">Jonny lulu</div>
                  <div class="userInfo__tags"><span class="userInfo__tagsItem">资深</span><span class="userInfo__tagsItem">明星</span><span class="userInfo__tagsItem">质保</span></div>
                </div>
                <div class="user__desc">北京/顶点设计工作室/５年设计经验</div>
              </div>
            </div>
            <div class="stars">
              <div class="starsMain"><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item--active stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a><a class="stars__item" href="javascript:;"></a>
              </div>
            </div>
          </li>
        </ul>
        <div class="commentBox">
          <textarea class="comment__textarea" placeholder="点评一下吧，您的意见很重要哦"></textarea>
        </div>
      </div>
    </div>
  </body>
</html>