<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>首页</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <script src="../js/px2rem.min.js"></script>
  </head>
  <body class="bodyBg--f5f7fa">
    <div class="topBarNav"><a class="topBarNav__return" href="javascript:;"></a>
      <ul class="topBarNav__list">
        <li class="topBarNav__item topBarNav__item--active"><a class="topBarNav__link" href="javascript:;">我的方案</a></li>
        <li class="topBarNav__item"><a class="topBarNav__link" href="javascript:;">装修日记</a></li>
        <li class="topBarNav__item"><a class="topBarNav__link" href="javascript:;">评价打分</a></li>
      </ul>
    </div>
    <div class="wrap p--b100">
      <div class="headBanner"><a class="headBanner__link headBanner__link--quanwu" href="javascript:;"><img class="headBanner__img" src="../images/temp/temp2.jpg"/></a>
        <div class="headBanner__desc">
          <h3 class="headBanner__title">北北欧-大连海湾城户型3室2厅北欧-大连海湾城户型3室2厅欧-3室2厅</h3>
          <p class="headBanner__txt">北京 | 芳华名苑小区</p>
        </div>
      </div>
      <ul class="renderingList none">
        <li class="renderingList__item divider">
          <div class="dotImg dotImg--are"><img class="dotImg__img" src="../images/temp/temp.jpg"/></div>
          <div class="renderingList__box">
            <div class="renderingList__headBox">
              <div class="renderingList__haed">
                <h3 class="renderingList__title">户型设计图</h3>
                <div class="renderingList__tags"><span class="renderingList__tag renderingList__tag--shipin">视频</span><span class="renderingList__tag renderingList__tag--3d">3D</span><span class="renderingList__tag renderingList__tag--quanwu">全屋</span></div>
              </div><span class="renderingList__date">2015.05.26</span>
            </div>
            <p class="renderingList__desc">地板颜色能否暗一点，变成亚光色地板颜色能否暗一点，变成亚光色....</p>
          </div>
        </li>
        <li class="renderingList__item divider">
          <div class="dotImg dotImg--are"><img class="dotImg__img" src="../images/temp/temp.jpg"/></div>
          <div class="renderingList__box">
            <div class="renderingList__headBox">
              <div class="renderingList__haed">
                <h3 class="renderingList__title">户型设计图</h3>
                <div class="renderingList__tags"><span class="renderingList__tag renderingList__tag--shipin">视频</span><span class="renderingList__tag renderingList__tag--3d">3D</span><span class="renderingList__tag renderingList__tag--quanwu">全屋</span></div>
              </div><span class="renderingList__date">2015.05.26</span>
            </div>
            <p class="renderingList__desc">地板颜色能否暗一点，变成亚光色地板颜色能否暗一点，变成亚光色....</p>
          </div>
        </li>
        <li class="renderingList__item divider">
          <div class="dotImg dotImg--are"><img class="dotImg__img" src="../images/temp/temp.jpg"/></div>
          <div class="renderingList__box">
            <div class="renderingList__headBox">
              <div class="renderingList__haed">
                <h3 class="renderingList__title">户型设计图</h3>
                <div class="renderingList__tags"><span class="renderingList__tag renderingList__tag--shipin">视频</span><span class="renderingList__tag renderingList__tag--3d">3D</span><span class="renderingList__tag renderingList__tag--quanwu">全屋</span></div>
              </div><span class="renderingList__date">2015.05.26</span>
            </div>
            <p class="renderingList__desc">地板颜色能否暗一点，变成亚光色地板颜色能否暗一点，变成亚光色....</p>
          </div>
        </li>
        <li class="renderingList__item divider">
          <div class="dotImg dotImg--are"><img class="dotImg__img" src="../images/temp/temp.jpg"/></div>
          <div class="renderingList__box">
            <div class="renderingList__headBox">
              <div class="renderingList__haed">
                <h3 class="renderingList__title">户型设计图</h3>
                <div class="renderingList__tags"><span class="renderingList__tag renderingList__tag--shipin">视频</span><span class="renderingList__tag renderingList__tag--3d">3D</span><span class="renderingList__tag renderingList__tag--quanwu">全屋</span></div>
              </div><span class="renderingList__date">2015.05.26</span>
            </div>
            <p class="renderingList__desc">地板颜色能否暗一点，变成亚光色地板颜色能否暗一点，变成亚光色....</p>
          </div>
        </li>
      </ul>
      <div class="morePlan">
        <h3 class="morePlan__title">更多方案</h3>
        <ul class="morePlanList">
          <li class="morePlan__item divider"><a class="morePlan__link" href="javascript:;">
              <div class="dotImg dotImg--are"><img class="dotImg__img" src="../images/temp/temp.jpg"/></div>
              <div class="morePlanMain">
                <h3 class="morePlanMain__title">侯先生的欧式简约方案</h3>
                <div class="morePlanMain__date">2015.05.26<em class="morePlanMain__tiem">17:30</em></div>
              </div></a></li>
          <li class="morePlan__item divider"><a class="morePlan__link" href="javascript:;">
              <div class="dotImg dotImg--are"><img class="dotImg__img" src="../images/temp/temp.jpg"/></div>
              <div class="morePlanMain">
                <h3 class="morePlanMain__title">侯先生的欧式简约方案</h3>
                <div class="morePlanMain__date">2015.05.26<em class="morePlanMain__tiem">17:30</em></div>
              </div></a></li>
          <li class="morePlan__item divider"><a class="morePlan__link" href="javascript:;">
              <div class="dotImg dotImg--are"><img class="dotImg__img" src="../images/temp/temp.jpg"/></div>
              <div class="morePlanMain">
                <h3 class="morePlanMain__title">侯先生的欧式简约方案</h3>
                <div class="morePlanMain__date">2015.05.26<em class="morePlanMain__tiem">17:30</em></div>
              </div></a></li>
          <li class="morePlan__item divider"><a class="morePlan__link" href="javascript:;">
              <div class="dotImg dotImg--are"><img class="dotImg__img" src="../images/temp/temp.jpg"/></div>
              <div class="morePlanMain">
                <h3 class="morePlanMain__title">侯先生的欧式简约方案</h3>
                <div class="morePlanMain__date">2015.05.26<em class="morePlanMain__tiem">17:30</em></div>
              </div></a></li>
        </ul>
      </div><a class="phoneCall" href="tel: 1000000"></a>
    </div>
  </body>
</html>