include common/common.pug
+head({title: '2主页面-钱包-充值-支付', bgClass:'bgF7'})
    .wrap.wrap--bg
        .top 欢迎，设计师
            em.top__user-name 轩亦辰
            | |
            a(href="").top__btn.top__btn--blue 退出登录
        +headBar
        .content.pay
            .payHead
                .orderNumber 订单号：BJ2017052120180001
                .payNumWrap 支付 (¥):
                    em.payNum 4000
            .payType
                .payTypeHead
                    a(href="javascript:;").payTypeHead__item.payTypeHead__weixin 微信
                    a(href="javascript:;").payTypeHead__item.payTypeHead__alipay 支付宝
                .payEwmWrap
                    .payEwmWrapBox.payEwm--weixin
                        img(src="../images/temp/weixin_ewm.png").payEwm
                        p.payEwm__txt 扫码付款
                    .payEwmWrapBox.payEwm--alipay.none
                        img(src="../images/temp/alipay_ewm.png").payEwm
                        p.payEwm__txt 扫码付款
