include common/common.pug
+head({title: '2主页面-开始新设计-3D装修-智能装', bgClass: 'bgF7'})
    .choose
        .chooseHead
            a(href="javascript:;").chooseHead__btn.chooseHead__btn--my 自己装
            a(href="javascript:;").chooseHead__btn.chooseHead__btn--smart.chooseHead__btn--active 智能装
        .chooseMain
            .chooseMain__box.chooseMain__box--my.chooseMain__box--active.none
                .pubPopHead
                    h3.pubPopHead__tit 自己装
                ul.eidtFamilyInfo
                    li.eidtFamilyInfo__item
                        label.eidtFamilyInfo__label 户型小区：
                        .eidtBox
                            input.eidtInput(value="紫金新干线10号楼201", disabled).eidtInput--noborder
                    li.eidtFamilyInfo__item
                        label.eidtFamilyInfo__label 方案名称：
                        .eidtBox
                            input.eidtInput(value="紫金新干线10号楼201")
                    li.eidtFamilyInfo__item
                        label.eidtFamilyInfo__label 方案风格：
                        .eidtBox
                            .stylesTags
                                a(href="javascript:;").stylesTag 欧美风
                                a(href="javascript:;").stylesTag 北欧风
                                a(href="javascript:;").stylesTag.stylesTag--active 中国风
                                a(href="javascript:;").stylesTag 地中海风
                                a(href="javascript:;").stylesTag 复古风
                                a(href="javascript:;").stylesTag 现代风
                                a(href="javascript:;").stylesTag 简约风
                    li.eidtFamilyInfo__item
                        label.eidtFamilyInfo__label 客户姓名：
                        .eidtBox
                            input.eidtInput(value="", type="text").eidtInput--300
                            p.error 客户姓名填写后即不可更改请慎重填写
                    li.eidtFamilyInfo__item
                        label.eidtFamilyInfo__label 客户电话：
                        .eidtBox
                            input.eidtInput(value="", type="text").eidtInput--300
                            p.error 客户电话填写后即不可更改，且该电话为客户的手机端账号，请重填写。

                .price
                    p.price__tips 当前添加价格(钢镚)
                    h3.price__num 1600
                p.curprice 当前余额：2457钢镚
                a(href="javascript:;", confirm="true").btn.determineBtn 确  定
                //-a(href="javascript:;").btn.btn--gray.determineBtn 确  定
                //-a(href="javascript:;").btn.determineBtn 余额不足，去充值
                p.error 电话格式错误
            .chooseMain__box.chooseMain__box--smart.chooseMain__box--active
                .pubPopHead
                    h3.pubPopHead__tit 智能装
                ul.eidtFamilyInfo
                    li.eidtFamilyInfo__item
                        label.eidtFamilyInfo__label 户型小区：
                        .eidtBox
                            input.eidtInput(value="紫金新干线10号楼201", disabled).eidtInput--noborder
                    li.eidtFamilyInfo__item
                        label.eidtFamilyInfo__label 方案名称：
                        .eidtBox
                            input.eidtInput(value="紫金新干线10号楼201")
                    li.eidtFamilyInfo__item
                        label.eidtFamilyInfo__label 方案风格：
                        .eidtBox
                            .stylesTags
                                a(href="javascript:;").stylesTag 欧美风
                                a(href="javascript:;").stylesTag 北欧风
                                a(href="javascript:;").stylesTag.stylesTag--active 中国风
                                a(href="javascript:;").stylesTag 地中海风
                                a(href="javascript:;").stylesTag 复古风
                                a(href="javascript:;").stylesTag 现代风
                                a(href="javascript:;").stylesTag 简约风
                    li.eidtFamilyInfo__item
                        label.eidtFamilyInfo__label 主色调：
                        .eidtBox
                            .colors
                                a(href="javascript:;").color__item.color--01.color--active
                                a(href="javascript:;").color__item.color--02
                                a(href="javascript:;").color__item.color--03
                                a(href="javascript:;").color__item.color--04
                                a(href="javascript:;").color__item.color--05
                    li.eidtFamilyInfo__item
                        label.eidtFamilyInfo__label 客户姓名：
                        .eidtBox
                            input.eidtInput(value="", type="text").eidtInput--300
                            p.error 客户姓名填写后即不可更改请慎重填写
                    li.eidtFamilyInfo__item
                        label.eidtFamilyInfo__label 客户电话：
                        .eidtBox
                            input.eidtInput(value="", type="text").eidtInput--300
                            p.error 客户电话填写后即不可更改，且该电话为客户的手机端账号，请重填写。

                .price
                    p.price__tips 当前添加价格(钢镚)
                    h3.price__num 1600
                p.curprice 当前余额：2457钢镚
                a(href="javascript:;", confirm="true").btn.determineBtn 确  定
                //-a(href="javascript:;").btn.btn--gray.determineBtn 确  定
                //-a(href="javascript:;").btn.determineBtn 余额不足，去充值
                p.error 电话格式错误
