include common/common.pug
+head({title: '2主页面-钱包-充值-支付-支付成功', bgClass: 'bgF7'})
    .wrap.wrap--bg
        .top
            //- em.top__user-name 轩亦辰
            a(href="").top__btn 登录
            | |
            a(href="").top__btn 注册
        .head
            img(src="../images/icon-home/logo.png", alt="").head__logo
            ul.head__nav
                    li.head__nav-zc
                        a(href="").head__nav-item 注册
        .content.register
            .register__examine
                img(src="../images/public/examine_bg_1.png").register__examine-bg
                h3.register__examine-title 支付成功
                a(href="").register__btn.register__btn--blue.register__btn--max 确定


