include common/common.pug
+head({title: '注册审核'})
    .wrap.wrap--bg
        .top 
            //- em.top__user-name 轩亦辰
            a(href="").top__btn 登录
            | | 
            a(href="").top__btn 注册
        .head
            img(src="../images/icon-home/logo.png", alt="").head__logo
            ul.head__nav
                    li.head__nav-zc
                        a(href="").head__nav-item 注册
        .content.register
            .register__examine
                img(src="../images/public/examine_bg_1.png").register__examine-bg
                h3.register__examine-title 提交成功，审核中！请耐心等待~~~
                p.register__examine-subtitle 您是未认证设计师，审核还在进行。过程中不影响您的正常使用！
                a(href="").register__btn.register__btn--blue.register__btn--max 开始设计
                      
                      
