include common/common.pug
+head({title: '管理方案', bgClass: 'bgF7', scripts: ['viewer-jquery.min.js','mangerOneStep.js']})
    .wrap.wrap--bg
        .top 欢迎，设计师
            em.top__user-name 轩亦辰
            | |
            a(href="").top__btn.top__btn--blue 退出
        +headBar
        .content.manage#manage
            .manageHead
                h3.manageHead__title 紫金新干线10号楼3单元201（方案1：简约第一版）
                a(hrfef="javascript:;").manageHead__btn.none#btnConfirm  确定
                a(hrfef="javascript:;").manageHead__btn#btnEdit  编辑
            .manageMod
                h4.manageMod__tit 效果图
                ul.manageList
                    - for (var x = 0; x < 6; x++)
                        li.manageList__item
                            a(href="javascript:;").manageList__close ✕
                            a(href="javascript:;").manageList__link
                                img(src="../images/temp/glfa.png").manageList__img
                            .manageList__desc | 客厅 / 20平方米 / 美式简 约 / 淡蓝色
                            input(type="hidden", value="客厅 / 20平方米 / 美式简 约 / 淡蓝色", name='photo__input_' + x)
            .manageMod.manageMod--vedio
                h4.manageMod__tit 视频
                ul.manageList
                    - for (var x = 0; x < 6; x++)
                        li.manageList__item
                            a(href="javascript:;").manageList__close ✕
                            a(href="javascript:;").manageList__link.vedioIcon
                                img(src="../images/temp/glfa.png").manageList__img
                            .manageList__desc | 客厅 / 20平方米 / 美式简 约 / 淡蓝色
                            input(type="hidden", value="客厅 / 20平方米 / 美式简 约 / 淡蓝色", name='vedio__input_' + x)
    //- +pubPop
