include common/common.pug
+head({title: '前台首页'})
    .wrap.wrap--bg
        .top 欢迎，设计师
            em.top__user-name 轩亦辰
            | |
            a(href="").top__btn.top__btn--blue 退出
        +headBar
        .content.index
            h2.index__title
                |共有效果图
                em.index__title-number 150
                | 份
            ul.designList
                - for (var x = 0; x < 6; x++)
                    li.designList__item
                        a(href="").designList__link
                            img(src="../images/temp/design.jpg", alt="").designList__img
                            .designList__box
                                p.designList__tit 共有客户 12 人
                                p.designList__txt
                                    | 有
                                    em.designList__num 9
                                    | 人待完善
            .indexFooer
                | 钱包共有余额
                em.txtColor--orange 100
                | 元，金币
                em.txtColor--orange 200
                | 个  (  共消费
                em 1500.00
                | 元，金币
                em 512
                | 枚  )
