<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>10 详细详情</title>
    <script src="../libs/js/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body>
    <div class="head">
        <a class="head__return" href="">返回</a>
        <h2 class="head__title">消息详情</h2>
    </div>
    <div class="articleBox">
       <div class="articleHead">
            <h3 class="article__title">消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称</h3>
            <p class="article__date">2017.12.12</p>
       </div>
       <div class="articleMain">
            <p>消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称</p>
            <p>消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称</p>
            <p>消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称</p>
            <img src="../images/temp/img7.png" alt="">
            <p>消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称</p>
       </div>
    </div>
    <script src="../js/require.js"></script>
</body>

</html>
