<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>5首页-分类查找-产品-产品详情-购买</title>
    <script src="../libs/js/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body>
    <div class="head">
        <a class="head__return" href="">返回</a>
        <h2 class="head__title">消息</h2>
    </div>
    <div class="msgList" id="cList">
        <div class="msgList__item newMsg">
            <h3 class="msgList__title">消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称</h3>
            <p class="msgList__date">2017.03.22</p>
        </div>
        <div class="msgList__item">
            <h3 class="msgList__title">消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称</h3>
            <p class="msgList__date">2017.03.22</p>
        </div>
        <div class="msgList__item">
            <h3 class="msgList__title">消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称消息名称</h3>
            <p class="msgList__date">2017.03.22</p>
        </div>
        <div id="noData" class="tipsText none">暂无消息</div>
        <div id="noMore" class="tipsText none">加载更多</div>
        <div id="loading" class="tipsText loading none">Loading...</div>
    </div>
    <script src="../js/require.js"></script>
    <script>
    require.config({　　　　
        baseUrl: "../js"　　
    });
    </script>
    <script src="../js/messages.js"></script>
</body>

</html>
