<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>1我的店铺-清库特价</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="../css/postcss.css" />
</head>

<body class="bem">
    <!-- wrap S -->

    <div class="wrap">

        <!-- sideBar S -->
        <div class="sidebar">
            <!-- info S -->
            <div class="sidebar__user info">
                <a href="" class="info__box">
                    <img class="info__avatar" src="../images/temp/img.jpg" alt="" />
                    <p class="info__name">阿凡达阿凡达阿凡达</p>
                </a>
                <div class="user clearfix">
                    <div class="user__info"> 账号：<em class="user__id">18610996127</em>
                    </div>
                    <a href="javascript:;" class="user__logout">退出</a>
                </div>
            </div>
            <!-- info E -->

            <!-- sider menu S -->
            <div class="sidebar__menu menu">
                <div class="menu__item active">
                    <h3 class="menu__tit isType--1">我的店铺</h3>
                    <ul class="menu__subMenu subItem">
                        <li class="subItem__item active">
                            <a href="" class="subItem__link">清库特价</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">热销产品</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">普通产品</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">下架产品</a>
                        </li>
                    </ul>
                </div>
                <div class="menu__item">
                    <h3 class="menu__tit isType--2">我的订单</h3>
                    <ul class="menu__subMenu subItem">
                        <li class="subItem__item">
                            <a href="" class="subItem__link">当前订单</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">完成订单</a>
                        </li>
                    </ul>
                </div>
                <div class="menu__item">
                    <h3 class="menu__tit isType--3">承接求购</h3>
                    <ul class="menu__subMenu subItem">
                        <li class="subItem__item">
                            <a href="" class="subItem__link">求购信息</a>
                        </li>
                    </ul>
                </div>

                <div class="menu__item">
                    <h3 class="menu__tit isType--4">店铺信息</h3>
                    <ul class="menu__subMenu subItem">
                        <li class="subItem__item">
                            <a href="" class="subItem__link">店铺信息</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">店铺动态</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- sider menu E -->
        </div>

        <!-- sideBar E -->
        <div class="content">
            <!-- nav S -->
            <ul class="nav">
                <li class="nav__item active">
                    <a href="" class="nav__link">清库特价</a>
                </li>

                <li class="nav__item ">
                    <a href="" class="nav__link">热销产品</a>
                </li>
                <li class="nav__item ">
                    <a href="" class="nav__link">普通产品</a>
                </li>
                <li class="nav__item ">
                    <a href="" class="nav__link">下架产品</a>
                </li>
            </ul>
            <!-- nav E -->

            <!-- main S -->
            <div class="main">

                <!-- Selection screening S -->
                <div class="filter tool clearfix">
                    <div class="check">
                        <div class="check__sel simuSelect">
                            <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                            <i class="simuSelect__ico"></i>
                        </div>
                        <span class="check__txt">全选</span>
                        <div class="checkBtns">
                            <a href="javascript:;" class="checkBtns__btn">删除</a>
                            <a href="javascript:;" class="checkBtns__btn">下架</a>
                        </div>
                    </div>
                    <div class="tool__right">
                        <a href="" class="btn btn--md">添加清库特价商品</a>
                    </div>
                </div>
                <!-- Selection screening E -->

                <!-- Goods list S -->
                <ul class="goods clearfix">
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>

                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                    <li class="goods__item">
                        <div class="thumb">
                            <div class="goods__sel simuSelect">
                                <input class="simuSelect__inp" type="checkbox" name="x2" id="" />
                                <i class="simuSelect__ico"></i>
                            </div>
                            <a href="" class="thumb__link">
                                <img src="../images/temp/img.jpg" class="thumb__img" alt=""/>
                            </a>
                        </div>
                        <div class="goods__info">
                            <a href="" class="goods__link">WOODSWOODS仿真木纹砖系列传</a>
                            <p class="goods__text">单价：<em class="txtRed">9.9</em></p>
                            <p class="goods__text">起购：<em class="txtRed">1000</em></p>
                            <div class="goods__labels">
                                <span class="label label--sale">特</span>
                                <span class="label label--hot">热</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- goods list E -->

                <!-- page S -->
                <div class="page">
                    <a href="" class="page__btn page__prev already">上一页</a>
                    <a href="" class="page__btn page__num active">1</a>
                    <a href="" class="page__btn page__num">2</a>
                    <a href="" class="page__btn page__num">3</a>
                    <span class="page__interval">...</span>
                    <a href="" class="page__btn page__num">4</a>
                    <a href="" class="page__btn page__num">5</a>
                    <a href="" class="page__btn page__num">888</a>
                    <a href="" class="page__btn page__next">下一页</a>
                </div>
                <!-- page E -->

            </div>
            <!-- main E -->

        </div>
    </div>
    <!-- wrap E -->

</body>

</html>
