<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>状态</title>
    <script src="../js/lib/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body>
    <section class="wrap">
        <header class="formHeader">
            <a href="" class="formHeader__return"></a>
            <h2 class="formHeader__title">夫妻店注册</h2>
            <a href="" class="formHeader__menu none">发布</a>
        </header>
        <!-- 成功 S -->
        <section class="formStatus">
            <img class="formStatus__img" src="../images/pulics/i-4.png" alt="">
            <p class="formStatus__txt">注册成功</p>
        </section>
        <!-- 成功 E -->
        <!-- 失败 S -->
        <section class="formStatus">
            <img class="formStatus__img" src="../images/pulics/i-5.png" alt="">
            <p class="formStatus__txt">注册失败</p>
        </section>
        <!-- 失败 E -->
        <a href="" class="formBtn">确定</a>
    </section>
</body>

</html>
