<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>注册表单</title>
    <script src="../js/lib/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body>
    <section class="wrap">
        <header class="formHeader">
            <a href="" class="formHeader__return"></a>
            <h2 class="formHeader__title">夫妻店注册</h2>
            <a href="" class="formHeader__menu none">发布</a>
        </header>
            <form action="" id="cForm">
        <section class="formRegist">
            <div class="formRegist__item arrow">
                <div class="formRegist__label">国家/地区</div>
                <div class="formRegist__box">
                    <select id="countries" disabled class="formRegist__sel">
                    <option value="1">中国</option>
                   </select>
                </div>
            </div>
            <div class="formRegist__item">
                <input class="formRegist__label formRegist__label--line" type="text" disabled name="" value="+86">
                <div class="formRegist__box">
                    <div class="formRegist__inpBox">
                        <input type="tel" class="formRegist__inp" name="" value="" placeholder="手机号" id="cPhone">
                    </div>
                </div>
            </div>
            <div class="formRegist__item">
                <div class="formRegist__label formRegist__label--line" for="cKeyCode">验证码</div>
                <div class="formRegist__box">
                    <div class="formRegist__inpBox">
                        <input type="tel" name="" class="formRegist__inp " value="" placeholder="验证码" id="cKeyCode">
                    </div>
                    <a href="javascript:;" id="cBtnCode" class="formRegist__vericode">获取验证码</a>
                </div>
            </div>
        </section>
        <section class="formRegist">
            <div class="formRegist__item clear">
                <a href="javasript:;" class="clearBtn">ㄨ</a>
                <div class="formRegist__label formRegist__label--line">商家名称</div>
                <div class="formRegist__box">
                    <div class="formRegist__inpBox">
                        <input type="text" class="formRegist__inp" name="" value="" placeholder="商家名称" id="shopName">
                    </div>
                </div>
            </div>
            <div class="formRegist__item clear">
                <a href="javasript:;" class="clearBtn">ㄨ</a>
                <div class="formRegist__label formRegist__label--line">商家性质</div>
                <div class="formRegist__box">
                    <div class="formRegist__inpBox">
                        <input type="text" class="formRegist__inp" name="" value="" placeholder="商家性质" id="shopType">
                    </div>
                </div>
            </div>
        </section>
        <a href="javascript:;" id="cBtn" class="formBtn">注 册</a>
        <!-- <p class="formError">验证码错误</p> -->
        </form>
    </section>
    <script src="../js/require.js"></script>
    <script>
        require.config({
            baseUrl: '../js/'
        })
    </script>
    <script src="../js/register.js"></script>
</body>

</html>
