<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>修改密码</title>
    <script src="../js/lib/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body>
    <section class="wrap changePwd">
        <header class="formHeader">
            <a href="" class="formHeader__return"></a>
            <h2 class="formHeader__title">供货商注册</h2>
            <a href="" class="formHeader__menu none">发布</a>
        </header>
        <div class="formTips">
            请设置装8-16位密码，之后您可以使用手机号13911826671密码登录
        </div>
        <section class="formRegist">
            <div class="formRegist__item gray">
                <div class="formRegist__label formRegist__label--line" >手机号码</div>
                <div class="formRegist__box">
                    <div class="formRegist__inpBox">
                        <input type="tel" class="formRegist__inp" name="" disabled value="138012312391" placeholder="手机号" id="">
                    </div>
                </div>
            </div>

            <div class="formRegist__item clear">
                <a href="javasript:;" class="clearBtn">ㄨ</a>
                <div class="formRegist__label formRegist__label--line" >输入密码</div>
                <div class="formRegist__box">
                    <div class="formRegist__inpBox">
                        <input type="password" class="formRegist__inp" name=""  value="138012312391" placeholder="手机号" id="">
                    </div>
                </div>
            </div>
            <div class="formRegist__item clear">
                <a href="javasript:;" class="clearBtn">ㄨ</a>
                <div class="formRegist__label formRegist__label--line" >再次输入</div>
                <div class="formRegist__box">
                    <div class="formRegist__inpBox">
                        <input type="password" class="formRegist__inp" name=""  value="138012312391" placeholder="手机号" id="">
                    </div>
                </div>
            </div>
        </section>
        <a href="" class="formBtn">注 册</a>
    </section>
</body>

</html>
