<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>5我的订单-当前订单</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="../css/postcss.css" />
</head>

<body class="bem">
    <!-- wrap S -->

    <div class="wrap">

        <!-- sideBar S -->
            <!-- info S -->
        <div class="sidebar">
            <div class="sidebar__user info">
                <a href="" class="info__box">
                    <img class="info__avatar" src="../images/temp/img.jpg" alt="" />
                    <p class="info__name">阿凡达阿凡达阿凡达</p>
                </a>
                <div class="user clearfix">
                    <div class="user__info"> 账号：<em class="user__id">18610996127</em>
                    </div>
                    <a href="javascript:;" class="user__logout">退出</a>
                </div>
            </div>
            <!-- info E -->

            <!-- sider menu S -->
            <div class="sidebar__menu menu">
                <div class="menu__item">
                    <h3 class="menu__tit isType--1">我的店铺</h3>
                    <ul class="menu__subMenu subItem">
                        <li class="subItem__item">
                            <a href="" class="subItem__link">清库特价</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">热销产品</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">普通产品</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">下架产品</a>
                        </li>
                    </ul>
                </div>
                <div class="menu__item active">
                    <h3 class="menu__tit isType--2">我的订单</h3>
                    <ul class="menu__subMenu subItem">
                        <li class="subItem__item active isAngle">
                            <a href="" class="subItem__link">当前订单<span class="subItem__angle">322</span></a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">完成订单</a>
                        </li>
                    </ul>
                </div>
                <div class="menu__item">
                    <h3 class="menu__tit isType--3">承接求购</h3>
                    <ul class="menu__subMenu subItem">
                        <li class="subItem__item">
                            <a href="" class="subItem__link">求购信息</a>
                        </li>
                    </ul>
                </div>

                <div class="menu__item">
                    <h3 class="menu__tit isType--4">店铺信息</h3>
                    <ul class="menu__subMenu subItem">
                        <li class="subItem__item">
                            <a href="" class="subItem__link">店铺信息</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">店铺动态</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- sider menu E -->
        </div>

        <!-- sideBar E -->
        <div class="content">
            <!-- nav S -->
            <ul class="nav">
                <li class="nav__item active">
                    <a href="" class="nav__link">当前订单</a>
                </li>
                <li class="nav__item ">
                    <a href="" class="nav__link">完成订单</a>
                </li>
            </ul>
            <!-- nav E -->

            <!-- main S -->
            <div class="main">
                <!-- Selection screening S -->
                <div class="filter tool clearfix">
                    <div class="formSelect formSelect--inline">
                        <label class="formSelect__label">排序：</label>
                        <select name="" id="" class="formSelect__sel">
                           <option value="默认排序">默认排序</option>
                           <option value="按产品排序">按产品排序</option>
                           <option value="按客户排序">按客户排序</option>
                        </select>
                    </div>
                    <div class="formSelect formSelect--inline">
                        <label class="formSelect__label">完成状态：</label>
                        <select name="" id="" class="formSelect__sel">
                           <option value="已完成">已完成</option>
                           <option value="已取消">已取消</option>
                        </select>
                    </div>
                    <div class="formSelect formSelect--inline">
                        <label class="formSelect__label">订单年份：</label>
                        <select name="" id="" class="formSelect__sel">
                           <option value="全部">全部</option>
                           <option value="2017">2017</option>
                        </select>
                    </div>
                </div>
                <!-- Selection screening E -->

                <!-- orders S -->
                <ul class="orders">
                    <li class="orders__item order clearfix order--new">
                        <div class="order__pic">
                            <img class="order__img" src="../images/temp/img.jpg" alt=""/>
                        </div>
                        <div class="order__info">
                            <h3 class="order__title">订单商品：<a href="" class="order__link">WOODS仿真木纹砖系列传</a></h3>
                            <div class="order__stati">
                                <div class="order__txt">
                                    下单时间：<em class="order__t">2017-4-20 21:33</em>
                                </div>
                                <div class="order__txt">
                                     订单数量：<em class="txtRed">1000</em>
                                </div>
                                <div class="order__txt">
                                    订单金额：<em class="txtRed">90000</em>
                                </div>
                            </div>
                            <div class="order__user">
                                <div class="order__userTxt">
                                    客户：<em class="order__t">轩亦辰（大望路五金店）</em>
                                </div>
                                <div class="order__userTxt">
                                    地址：<em class="order__t">北京市朝阳区建国路106号北京市朝阳区建国路106号</em>
                                </div>
                                <div class="order__userTxt">
                                    电话：<em class="order__t">18610996127</em>
                                </div>
                            </div>
                        </div>
                        <div class="order__btns">
                            <a href="" class="btn btn--md order__btn">完成订单</a>
                            <a href="" class="btn btn__line order__btn">取消订单</a>
                        </div>
                    </li>

                    <li class="orders__item order clearfix">
                        <div class="order__pic">
                            <img class="order__img" src="../images/temp/img.jpg" alt=""/>
                        </div>
                        <div class="order__info">
                            <h3 class="order__title">订单商品：<a href="" class="order__link">WOODS仿真木纹砖系列传</a></h3>
                            <div class="order__stati">
                                <div class="order__txt">
                                    下单时间：<em class="order__t">2017-4-20 21:33</em>
                                </div>
                                <div class="order__txt">
                                     订单数量：<em class="txtRed">1000</em>
                                </div>
                                <div class="order__txt">
                                    订单金额：<em class="txtRed">90000</em>
                                </div>
                            </div>
                            <div class="order__user">
                                <div class="order__userTxt">
                                    客户：<em class="order__t">轩亦辰（大望路五金店）</em>
                                </div>
                                <div class="order__userTxt">
                                    地址：<em class="order__t">北京市朝阳区建国路106号北京市朝阳区建国路106号</em>
                                </div>
                                <div class="order__userTxt">
                                    电话：<em class="order__t">18610996127</em>
                                </div>
                            </div>
                        </div>
                        <div class="order__btns">
                            <a href="" class="btn btn__none order__btn">已完成</a>
                            <a href="" class="btn btn__line order__btn">删除订单</a>
                        </div>
                    </li>
                </ul>
                <!-- orders E -->

                <!-- page S -->
                <div class="page">
                    <a href="" class="page__btn page__prev already">上一页</a>
                    <a href="" class="page__btn page__num active">1</a>
                    <a href="" class="page__btn page__num">2</a>
                    <a href="" class="page__btn page__num">3</a>
                    <span class="page__interval">...</span>
                    <a href="" class="page__btn page__num">4</a>
                    <a href="" class="page__btn page__num">5</a>
                    <a href="" class="page__btn page__num">888</a>
                    <a href="" class="page__btn page__next">下一页</a>
                </div>
                <!-- page E -->

            </div>
            <!-- main E -->

        </div>
    </div>
    <!-- wrap E -->

</body>

</html>
