<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>5首页-分类查找-供应商详情-商铺简介</title>
    <script src="../libs/js/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body>
    <div class="head">
        <a class="head__return" href="">返回</a>
        <h2 class="head__title">金牛管业</h2>
        <a class="head__menu head__focus" href="">关注</a>
    </div>
    <div class="wrap find userDetail">
        <div class="supplier__head">
            <div class="supplier__headFlex">
                <div class="supplier__info">
                    <img class="supplier__userImg" src="../images/temp/img2.png" alt="" />
                    <div class="supplier__infoTxts">
                        <h3 class="supplier__title">金牛管业</h3>
                        <p class="supplier__txt">北京金牛管业总代理</p>
                    </div>
                </div>
                <div class="userMarkBox">
                    <a class="userMark userCard" href="">名片</a>
                </div>
            </div>
            <p class="supplier__desc">本店所有转接口类型商品8.8折大促销，欢迎选购</p>
        </div>
        <div class="findHead">
            <div class="findBtns">
                <a class="findHead__btn" href=""><em class="text">产品</em></a>
                <a class="findHead__btn" href=""><em class="text">商铺动态</em></a>
                <a class="findHead__btn active" href=""><em class="text">商铺简介</em></a>
            </div>
        </div>
        <div class="introduction">
            <div class="introduction__item">
                <label class="introduction__label">经营年限：</label>
                <div class="introduction__content">
                    10年
                </div>
            </div>
            <div class="introduction__item">
                <label class="introduction__label">贸易类型：</label>
                <div class="introduction__content">
                    厂家直销
                </div>
            </div>
            <div class="introduction__item">
                <label class="introduction__label">主营产品：</label>
                <div class="introduction__content introduction__lines">各种金牛水管PPR管等管材各种金牛水管管等管材
                </div>
            </div>
            <div class="introduction__item">
                <label class="introduction__label">商铺荣誉：</label>
                <div class="introduction__content">市场认证商家
                </div>
            </div>
            <div class="introduction__item">
                <label class="introduction__label">经营品牌：</label>
                <div class="introduction__content">
                    金牛
                </div>
            </div>
            <div class="introduction__item">
                <label class="introduction__label">商铺简介：</label>
                <div class="introduction__content">本公司在武汉商贸城发展十余年，经营各种水管，产品远销海外
                </div>
            </div>
            <div class="introduction__item">
                <label class="introduction__label">商铺图片：</label>
                <div class="introduction__content introduction__imgs">
                    <div class="introduction__imgBox">
                        <img class="introduction__img" src="../images/temp/img5.png" alt="" />
                    </div>
                    <div class="introduction__imgBox">
                        <img class="introduction__img" src="../images/temp/img5.png" alt="" />
                    </div>
                    <div class="introduction__imgBox">
                        <img class="introduction__img" src="../images/temp/img5.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- card S -->
    <div class="cardWrap">
        <div class="card">
            <div class="card__banner">
                <img class="card__img" src="../images/temp/img3.png" alt="">
            </div>
            <div class="card__avatar">
                <img class="card__pic" src="../images/temp/img4.jpg" alt="">
            </div>
            <p class="card__name">阿凡达</p>
            <ul class="card__infos cardInfo">
                <li class="card__item">
                    <span class="card__label">地　址：</span> 北京市朝阳区建国路北京市朝阳区建国路北京市朝阳区建国路109号天洋运河一号
                </li>
                <li class="card__item">
                    <span class="card__label">电　话：</span> 010-23459998
                </li>
                <li class="card__item">
                    <span class="card__label">传　真：</span> 34123422143
                </li>
                <li class="card__item">
                    <span class="card__label">手　机：</span> 18610992342
                </li>
                <li class="card__item">
                    <span class="card__label">微　信：</span> 2390170NRewe
                </li>
            </ul>
            <a href="javascript:;" class="card__close">ㄨ</a>
        </div>
    </div>
    <!-- card E -->
</body>

</html>