<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>5首页-分类查找-产品</title>
    <script src="../libs/js/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body>
    <div class="head">
        <a class="head__return" href="">返回</a>
        <div class="head__input">
            <input type="text" class="input" value="产品分类标签" name="" id="" />
        </div>
    </div>
    <div class="wrap find">
        <div class="findHead">
            <div class="findBtns">
                <a class="findHead__btn active" href=""><em class="text">产品</em></a>
                <a class="findHead__btn" href=""><em class="text">供应商</em></a>
            </div>
            <div class="selects">
                <div class="selects__item">
                    <select class="select">
                        <option>全部</option>
                    </select>
                </div>
                <div class="selects__item">
                    <select class="select">
                        <option>按销量排序</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="">

        </div>
    </div>
</body>

</html>
