<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>5首页-分类查找-产品-产品详情-购买</title>
    <script src="../libs/js/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body>
    <div class="head">
        <a class="head__return" href="">返回</a>
        <h2 class="head__title">购买</h2>
    </div>
    <div class="wrap buy">
        <h3 class="productTit">水管转接口1000起，超低价单价9元</h3>
        <div class="buyItem">
            <label class="buyItem__label">购买单价：</label>
            <div class="buyItem__box red">
                9.2元
            </div>
        </div>
        <div class="buyItem">
            <label class="buyItem__label">购买数量：</label>
            <div class="buyItem__box red">
                <input type="number" value=""  class="input" placeholder="不低于1000个"  name="" id=""/>
            </div>
        </div>
        <div class="total">
            总计：<em class="red">12313元</em>
        </div>
        <div class="userInfo">
            <p class="userInfo__item">收件人：<span>轩亦辰</span></p>
            <p class="userInfo__item">联系电话：<span>13812388123</span></p>
            <p class="userInfo__item userInfo__multiple">收货地址：<span>北北京市朝阳区建国路北京市朝阳区建国路京市朝阳区建国路109号</span><a href="" class="user__address"></a></p>
        </div>
        <a class="orderBtn" href="">立即下单</a>
    </div>
</body>

</html>
