<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>5首页-分类查找-供应商</title>
    <script src="../libs/js/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body>
    <div class="head">
        <a class="head__return" href="">返回</a>
        <div class="head__input">
            <input type="text" class="input" value="产品分类标签" name="" id="" />
        </div>
    </div>
    <div class="wrap find">
        <div class="findHead">
            <div class="findBtns">
                <a class="findHead__btn" href=""><em class="text">产品</em></a>
                <a class="findHead__btn active" href=""><em class="text">供应商</em></a>
            </div>
            <div class="selects">
                <div class="selects__item">
                    <select class="select">
                        <option>全部</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="supplier">
            <div class="supplier__item">
                <div class="supplier__head">
                    <div class="supplier__headFlex">
                        <div class="supplier__info">
                            <img class="supplier__userImg" src="../images/temp/img2.png" alt="" />
                            <div class="supplier__infoTxts">
                                <h3 class="supplier__title">金牛管业</h3>
                                <p class="supplier__txt">北京金牛管业总代理</p>
                            </div>
                        </div>
                        <div class="btns">
                            <a class="btn btn--blue" href="">进店查看</a>
                        </div>
                    </div>
                    <p class="supplier__desc">本店所有转接口类型商品8.8折大促销，欢迎选购</p>
                </div>
                <ul class="pubSwiper__list listModelThree listModelFour">
                    <li class="pubSwiper__item">
                        <a class="thumbnailLink" href="">
                            <div class="thumbnail">
                                <span class="corner  corner--special">特</span>
                                <img class="thumbnail__img" src="../images/temp/img1.jpg" alt="">
                            </div>
                            <div class="commodityInfos">
                                <p class="commodityInfos__name">WOODS仿真木纹WOODS仿真木</p>
                                <p class="commodityInfos__unit">单价：<em class="commodityInfos__num">9.8</em>元</p>
                                <p class="commodityInfos__count">起拍：<em class="commodityInfos__num">1000</em></p>
                            </div>
                        </a>
                    </li>
                    <li class="pubSwiper__item">
                        <a class="thumbnailLink" href="">
                            <div class="thumbnail">
                                <span class="corner  corner--hot">特</span>
                                <img class="thumbnail__img" src="../images/temp/img1.jpg" alt="">
                            </div>
                            <div class="commodityInfos">
                                <p class="commodityInfos__name">WOODS仿真木纹WOODS仿真木</p>
                                <p class="commodityInfos__unit">单价：<em class="commodityInfos__num">9.8</em>元</p>
                                <p class="commodityInfos__count">起拍：<em class="commodityInfos__num">1000</em></p>
                            </div>
                        </a>
                    </li>
                    <li class="pubSwiper__item">
                        <a class="thumbnailLink" href="">
                            <div class="thumbnail">
                                <span class="corner  corner--special">特</span>
                                <img class="thumbnail__img" src="../images/temp/img1.jpg" alt="">
                            </div>
                            <div class="commodityInfos">
                                <p class="commodityInfos__name">WOODS仿真木纹WOODS仿真木</p>
                                <p class="commodityInfos__unit">单价：<em class="commodityInfos__num">9.8</em>元</p>
                                <p class="commodityInfos__count">起拍：<em class="commodityInfos__num">1000</em></p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="tipsText">上拉刷新</p>
        <p class="tipsText">暂无数据</p>
    </div>
    <div class="findTips">
        <p class="">未找到您想要的商品？试试<a class="findTips__link" href="">发布</a></p>
    </div>
</body>

</html>
