<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>5首页-分类查找-供应商详情</title>
    <script src="../libs/js/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body>
    <div class="head">
        <a class="head__return" href="">返回</a>
        <h2 class="head__title">金牛管业</h2>
        <a id="follow" href="javascript:;" class="head__btn head__focus"><i class="icon"></i><span>关注</span></a>
    </div>
    <div class="wrap find userDetail">
        <div class="supplier__head">
            <div class="supplier__headFlex">
                <div class="supplier__info">
                    <img class="supplier__userImg" src="../images/temp/img2.png" alt="" />
                    <div class="supplier__infoTxts">
                        <h3 class="supplier__title">金牛管业</h3>
                        <p class="supplier__txt">北京金牛管业总代理</p>
                    </div>
                </div>
                <div class="userMarkBox">
                    <a class="userMark userAddr" href="" >地址</a>
                    <a class="userMark userCard" href="" >名片</a>
                </div>
            </div>
            <p class="supplier__desc">本店所有转接口类型商品8.8折大促销，欢迎选购</p>
        </div>
        <div class="findHead">
            <div class="findBtns">
                <a class="findHead__btn active" href="javascript:;" name="a"><em class="text">产品</em></a>
                <a class="findHead__btn" href="javascript:;" name="b"><em class="text">商铺动态</em></a>
                <a class="findHead__btn" href="javascript:;" name="c"><em class="text">商铺简介</em></a>
            </div>
            <div id="selectCate" class="screening">
               <a class="screening__btn active" href="javascript:;">清库特价</a>
               <a class="screening__btn" href="javascript:;">热销产品</a>
               <a class="screening__btn" href="javascript:;">普通商品</a>
            </div>
            <div class="selects">
                <div class="selects__item">
                    <select id="sort" class="select">
                        <option value="0">按销量排序0</option>
                        <option value="1">按销量排序1</option>
                        <option value="2">按销量排序2</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="findProductList" id="findProductList">
            <div class="findProductItem">
                <div class="findProductItem__imgBox" style="background: url(../images/temp/img5.png); background-size: cover">
                    <span class="corner corner--special">特</span>
                    <img class="findProductItem__img" src="../images/publics/11.png" alt="" />
                </div>
                <div class="findProdInfos">
                    <div>
                        <h3 class="findProdInfo__title">水管转接口1000起，超低价单价9元</h3>
                        <p class="findProdInfo__item">单价：<em class="red">9元</em></p>
                        <p class="findProdInfo__item">起够：<em class="red">1000</em></p>
                    </div>
                    <a class="findProdInfo__itemLink" href="">金牛业管</a>
                </div>
            </div>
            <div class="findProductItem">
                <div class="findProductItem__imgBox" style="background: url(../images/temp/img5.png); background-size: cover">
                    <span class="corner corner--hot">热</span>
                    <img class="findProductItem__img" src="../images/publics/11.png" alt="" />
                </div>
                <div class="findProdInfos">
                    <div>
                        <h3 class="findProdInfo__title">水管转接口1000起，超低价单价9元</h3>
                        <p class="findProdInfo__item">单价：<em class="red">9元</em></p>
                        <p class="findProdInfo__item">起够：<em class="red">1000</em></p>
                    </div>
                    <a class="findProdInfo__itemLink" href="">金牛业管</a>
                </div>
            </div>
        </div>
        <p id="noData" class="tipsText none">暂无数据</p>
        <p id="loading" class="tipsText loading none ">Loading...</p>
        <p id="noMore" class="tipsText none">暂无更多</p>
    </div>
    <script src="../js/require.js"></script>
    <script>
    require.config({　　　　
        baseUrl: "../js"　　
    });
    </script>
    <script src="../js/supplier_detail.js"></script>
</body>

</html>
