<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>6首页-我的求购-求购详情</title>
    <script src="../libs/js/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body>
    <div class="head">
        <a class="head__return" href="">返回</a>
        <h2 class="head__title">求购详情</h2>
        <a class="head__btn head__edit" href=""><i class="icon"></i>编辑</a>
    </div>
    <div class="lookDetail">
        <div class="imgFiles">
            <div class="fileImgBox">
                <a href="javascript:;" class="imgItem" style="background:url(../images/temp/img1.jpg); background-size: cover">
                            <img class="imgItem__img" src="../images/publics/43.png" alt=""/>
                            </a>
            </div>
            <div class="fileImgBox">
                <a href="javascript:;" class="imgItem" style="background:url(../images/temp/img1.jpg); background-size: cover">
                            <img class="imgItem__img" src="../images/publics/43.png" alt=""/>
                        </a>
            </div>
            <div class="fileImgBox">
                <a href="javascript:;" class="imgItem" style="background:url(../images/temp/img1.jpg); background-size: cover">
                            <img class="imgItem__img" src="../images/publics/43.png" alt=""/>
                        </a>
            </div>
        </div>
        <div class="lookDetailMain">
            <h3 class="lookDetailMain__title">求购金牛PPR管</h3>
            <p class="lookDetailMain__desc">求V2型胶管转接口，要2000个，需要当天交货的联系</p>
            <div class="lookDetailMain__box">
                <p class="lookDetailMain__p">产品标签：PPR管</p>
                <p class="lookDetailMain__p">产品分类：水路辅材</p>
                <p class="lookDetailMain__p">交货日期：2017.04.20</p>
                <p class="lookDetailMain__p">求购数量：2000</p>
            </div>
        </div>
    </div>
    <script src="../js/require.js"></script>
</body>

</html>
