<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>7承接求购-求购信息</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="../css/postcss.css" />
</head>

<body class="bem">
    <!-- wrap S -->
    <div class="wrap">
        <!-- sideBar S -->
        <!-- info S -->
        <div class="sidebar">
            <div class="sidebar__user info">
                <a href="" class="info__box">
                    <img class="info__avatar" src="../images/temp/img.jpg" alt="" />
                    <p class="info__name">阿凡达阿凡达阿凡达</p>
                </a>
                <div class="user clearfix">
                    <div class="user__info"> 账号：<em class="user__id">18610996127</em>
                    </div>
                    <a href="javascript:;" class="user__logout">退出</a>
                </div>
            </div>
            <!-- info E -->
            <!-- sider menu S -->
            <div class="sidebar__menu menu">
                <div class="menu__item">
                    <h3 class="menu__tit isType--1">我的店铺</h3>
                    <ul class="menu__subMenu subItem">
                        <li class="subItem__item">
                            <a href="" class="subItem__link">清库特价</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">热销产品</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">普通产品</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">下架产品</a>
                        </li>
                    </ul>
                </div>
                <div class="menu__item active">
                    <h3 class="menu__tit isType--2">我的订单</h3>
                    <ul class="menu__subMenu subItem">
                        <li class="subItem__item active isAngle">
                            <a href="" class="subItem__link">当前订单<span class="subItem__angle">322</span></a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">完成订单</a>
                        </li>
                    </ul>
                </div>
                <div class="menu__item">
                    <h3 class="menu__tit isType--3">承接求购</h3>
                    <ul class="menu__subMenu subItem">
                        <li class="subItem__item">
                            <a href="" class="subItem__link">求购信息</a>
                        </li>
                    </ul>
                </div>
                <div class="menu__item">
                    <h3 class="menu__tit isType--4">店铺信息</h3>
                    <ul class="menu__subMenu subItem">
                        <li class="subItem__item">
                            <a href="" class="subItem__link">店铺信息</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">店铺动态</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- sider menu E -->
        </div>
        <!-- sideBar E -->
        <div class="content">
            <div class="topTool clearfix">
                <div class="topTool__l">
                    <h2 class="topTool__title">求购信息</h2>
                </div>
                <div class="topTool__r">
                    <div class="topTool__sel seachBar">
                        <i class="seachBar__icon"></i>
                        <input type="text" class="seachBar__inp" placeholder="搜索" name="" value="" id="">
                    </div>
                    <div class="topTool__btns">
                        <a href="" class="btn btn__black">筛选</a>
                    </div>
                </div>
            </div>
            <!-- main S -->
            <div class="main">
                <!-- Purchase information S -->
                <div class="buys">
                    <div class="buys__item buy" pid="1">
                        <!-- <div class="buySel"> -->
                        <!-- 选择 -->
                        <!-- </div> -->
                        <div class="buyMain">
                            <div class="buy__hd clearfix">
                                <div class="buy__info">
                                    <h3 class="buy__tit">【水路辅材-PPR管】求购金牛水管PPR管</h3>
                                    <div class="buy__hdTxts">
                                        <div class="buy__txt">
                                            交易日期：<em class="txtRed">2017-4-20</em>
                                        </div>
                                        <div class="buy__txt">
                                            求购数量：<em class="txtRed">1000</em>
                                        </div>
                                    </div>
                                    <p class="buy__t">2017-03-22</p>
                                </div>
                                <div class="buy__remaDate">
                                    剩余时间：<em class="buy__rd jsCountTime" time="2017/10/01 00:00:00"><span day="true">00</span>天<span hour="true">00</span>小时<span minute="true">00</span>分<span second="true">00</span>秒</em>
                                </div>
                            </div>
                            <div class="buy__bd">
                                <div class="buy__desc"> 求PPR胶管转接口，要2000个，需要当天交货的联系求PPR胶管转接口，要2000个，需要当天交货的联系求PPR胶管转接口，要2000个，需要当天交货的联系求PPR胶管转接口求PPR胶管转接口，要2000个，需要当天交货的联系求PPR胶管转接口，要2000个，需要当天交货的联系
                                </div>
                                <div class="pics">
                                    <div class="pics__pic">
                                        <img class="pics__img" src="../images/temp/img.jpg" alt="">
                                    </div>
                                    <div class="pics__pic">
                                        <img class="pics__img" src="../images/temp/img.jpg" alt="">
                                    </div>
                                    <div class="pics__pic">
                                        <img class="pics__img" src="../images/temp/img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="buy__ft">
                                <div class="buy__tItem">
                                    发布人：<em class="buy__tEm">轩亦辰（金牛管业大望路店）</em>
                                </div>
                                <div class="buy__tItem">
                                    联系电话：<em class="txtRed">18737840711</em>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="buys__item buy" pid="2">
                        <!-- <div class="buySel"> -->
                        <!-- 选择 -->
                        <!-- </div> -->
                        <div class="buyMain">
                            <div class="buy__hd clearfix">
                                <div class="buy__info">
                                    <h3 class="buy__tit">【水路辅材-PPR管】求购金牛水管PPR管</h3>
                                    <div class="buy__hdTxts">
                                        <div class="buy__txt">
                                            交易日期：<em class="txtRed">2017-4-20</em>
                                        </div>
                                        <div class="buy__txt">
                                            求购数量：<em class="txtRed">1000</em>
                                        </div>
                                    </div>
                                    <p class="buy__t">2017-03-22</p>
                                </div>
                                <div class="buy__remaDate">
                                    剩余时间：<em class="buy__rd jsCountTime" time="2017/10/01 00:00:00"><span day="true">00</span>天<span hour="true">00</span>小时<span minute="true">00</span>分<span second="true">00</span>秒</em>
                                </div>
                            </div>
                            <div class="buy__bd">
                                <div class="buy__desc"> 求PPR胶管转接口，要2000个，需要当天交货的联系求PPR胶管转接口，要2000个，需要当天交货的联系求PPR胶管转接口，要2000个，需要当天交货的联系求PPR胶管转接口求PPR胶管转接口，要2000个，需要当天交货的联系求PPR胶管转接口，要2000个，需要当天交货的联系
                                </div>
                                <div class="pics">
                                    <div class="pics__pic">
                                        <img class="pics__img" src="../images/temp/img.jpg" alt="">
                                    </div>
                                    <div class="pics__pic">
                                        <img class="pics__img" src="../images/temp/img.jpg" alt="">
                                    </div>
                                    <div class="pics__pic">
                                        <img class="pics__img" src="../images/temp/img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="buy__ft">
                                <div class="buy__tItem">
                                    发布人：<em class="buy__tEm">轩亦辰（金牛管业大望路店）</em>
                                </div>
                                <div class="buy__tItem">
                                    联系电话：<em class="txtRed">18737840711</em>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Purchase information E -->
                <!-- page S -->
                <div class="page">
                    <a href="" class="page__btn page__prev already">上一页</a>
                    <a href="" class="page__btn page__num active">1</a>
                    <a href="" class="page__btn page__num">2</a>
                    <a href="" class="page__btn page__num">3</a>
                    <span class="page__interval">...</span>
                    <a href="" class="page__btn page__num">4</a>
                    <a href="" class="page__btn page__num">5</a>
                    <a href="" class="page__btn page__num">888</a>
                    <a href="" class="page__btn page__next">下一页</a>
                </div>
                <!-- page E -->
            </div>
            <!-- main E -->
        </div>
    </div>
    <!-- wrap E -->
    <script src="../js/lib/require.js"></script>
    <script>
    require.config({
        baseUrl: '../js',
    })
    </script>
    <script src="../js/buy_cj.js"></script>
</body>

</html>