<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>7首页-我的订单</title>
    <script src="../libs/js/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body>
    <div class="head">
        <a class="head__return hidden" href="">返回</a>
        <h2 class="head__title">我的交易</h2>
        <a href="javascript:;" class="head__btn hidden"></a>
    </div>
    <div class="wrap trading">
        <div class="findHead">
            <div class="findBtns">
                <a class="findHead__btn active" href=""><em class="text">我的求购</em></a>
                <a class="findHead__btn" href=""><em class="text">我的订单</em></a>
            </div>
            <div class="screening">
                <a class="screening__btn active" href="javascript:;">进行中</a>
                <a class="screening__btn" href="javascript:;">已完成</a>
            </div>
            <div class="editBox">
                <div class="none">
                    <a href="javascript:;" class="editBtn">编辑</a>
                </div>
                <div class="">
                    <a href="javascript:;" class="editBtn">删除</a>
                    <a href="javascript:;" class="editBtn">取消</a>
                </div>
            </div>
        </div>
        <div class="tradingList">
            <div class="tradItem none">
                <div class="tradItemMain">
                    <div class="tradItemMain__select none">
                        <input type="checkbox" name="" value="" id="">
                        <span class="icon"></span>
                    </div>
                    <a class="tradItemMain__main" href="">
                        <div class="tradItemMain__img" style="background: url(../images/temp/img5.png); background-size: cover">
                            <img class="" src="../images/publics/11.png" alt="">
                        </div>
                        <div class="tradItemMain__content">
                            <h3 class="tradItemMain__title">V2型胶管转接口</h3>
                            <div class="tradItemMain__txt">单价：<span class="red">9.9元</span>订单数量：<span class="red">9999</span></div>
                            <div class="tradItemMain__txt">2017.3.22</div>

                        </div>
                    </a>
                    <div class="tradItemMain__btns">
                        <a href="javascript:;" class="btn btn--line">取消购买</a>
                    </div>
                </div>
                <div class="tradItem__tips red">商家已确认完成</div>
            </div>

            <div class="tradItem">
                <div class="tradItemMain">
                    <a class="tradItemMain__main" href="">
                        <div class="tradItemMain__img" style="background: url(../images/temp/img5.png); background-size: cover">
                            <img class="" src="../images/publics/11.png" alt="">
                        </div>
                        <div class="tradItemMain__content">
                            <h3 class="tradItemMain__title">V2型胶管转接口</h3>
                            <div class="tradItemMain__txt">单价：<span class="red">9.9元</span>订单数量：<span class="red">9999</span></div>
                            <div class="tradItemMain__txt">2017.3.22</div>

                        </div>
                    </a>
                    <div class="tradItemMain__btns">
                        <a href="javascript:;" class="btn btn--line">取消购买</a>
                    </div>
                </div>
            </div>

            <div class="tradItem">
                <div class="tradItemMain">
                    <div class="tradItemMain__select">
                        <input type="checkbox" name="" value="" id="">
                        <span class="icon"></span>
                    </div>
                    <a class="tradItemMain__main" href="">
                        <div class="tradItemMain__img" style="background: url(../images/temp/img5.png); background-size: cover">
                            <img class="" src="../images/publics/11.png" alt="">
                        </div>
                        <div class="tradItemMain__content">
                            <h3 class="tradItemMain__title">求购V2型胶管转接口</h3>
                            <div class="tradItemMain__txt">求购时间：2017.3.22-2017.3.29</div>
                            <div class="tradItemMain__txt red">已过期</div>
                            <div class="tradItemMain__txt">已关闭</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="tradItem">
                <div class="tradItemMain">
                    <a class="tradItemMain__main" href="">
                        <div class="tradItemMain__img" style="background: url(../images/temp/img5.png); background-size: cover">
                            <img class="" src="../images/publics/11.png" alt="">
                        </div>
                        <div class="tradItemMain__content">
                            <h3 class="tradItemMain__title">求购V2型胶管转接口</h3>
                            <div class="tradItemMain__txt">求购时间：2017.3.22-2017.3.29</div>
                        </div>
                    </a>
                    <div class="tradItemMain__btns">
                        <a href="javascript:;" class="btn btn--line">关闭</a>
                    </div>
                </div>
            </div>

            <div class="tradItem">
                <div class="tradItemMain">
                    <a class="tradItemMain__main" href="">
                        <div class="tradItemMain__img" style="background: url(../images/temp/img5.png); background-size: cover">
                            <img class="" src="../images/publics/11.png" alt="">
                        </div>
                        <div class="tradItemMain__content">
                            <h3 class="tradItemMain__title">求购V2型胶管转接口</h3>
                            <div class="tradItemMain__txt">求购时间：2017.3.22-2017.3.29</div>
                            <div class="tradItemMain__txt red">已关闭</div>
                        </div>
                    </a>
                    <div class="tradItemMain__btns">
                        <a href="javascript:;" class="btn btn--line">再次发布</a>
                    </div>
                </div>
            </div>

            <div class="tradItem">
                <div class="tradItemMain">
                    <a class="tradItemMain__main" href="">
                        <div class="tradItemMain__img" style="background: url(../images/temp/img5.png); background-size: cover">
                            <img class="" src="../images/publics/11.png" alt="">
                        </div>
                        <div class="tradItemMain__content">
                            <h3 class="tradItemMain__title">V2型胶管转接口</h3>
                            <div class="tradItemMain__txt">单价：<span class="red">9.9元</span>订单数量：<span class="red">9999</span></div>
                            <div class="tradItemMain__txt">2017.3.22</div>

                        </div>
                    </a>
                </div>
                <div class="tradItem__tips red">商家已确认完成</div>
                <div class="tradItem__tips ">商家已确认完成</div>
            </div>
        </div>
        <p id="noMore" class="tipsText none">暂无数据</p>
        <p id="loading" class="tipsText loading none">Loading...</p>

    </div>
</body>

</html>
