<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>8店铺信息-信息-编辑</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="../css/postcss.css" />
</head>

<body class="bem">
    <!-- wrap S -->
    <div class="wrap">
        <!-- sideBar S -->
        <div class="sidebar">
            <!-- info S -->
            <div class="sidebar__user info">
                <a href="" class="info__box">
                    <img class="info__avatar" src="../images/temp/img.jpg" alt="" />
                    <p class="info__name">阿凡达阿凡达阿凡达</p>
                </a>
                <div class="user__info"> 账号：<em class="user__id">18610996127</em></div>
                <div class="user clearfix">
                    <a href="javascript:;" class="user__logout">修改密码</a>
                    <a href="javascript:;" class="user__logout">退出</a>
                </div>
            </div>
            <!-- info E -->
            <!-- sider menu S -->
            <div class="sidebar__menu menu">
                <div class="menu__item active">
                    <h3 class="menu__tit isType--1">我的店铺</h3>
                    <ul class="menu__subMenu subItem">
                        <li class="subItem__item active">
                            <a href="" class="subItem__link">清库特价</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">热销产品</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">普通产品</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">下架产品</a>
                        </li>
                    </ul>
                </div>
                <div class="menu__item">
                    <h3 class="menu__tit isType--2">我的订单</h3>
                    <ul class="menu__subMenu subItem">
                        <li class="subItem__item">
                            <a href="" class="subItem__link">当前订单</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">完成订单</a>
                        </li>
                    </ul>
                </div>
                <div class="menu__item">
                    <h3 class="menu__tit isType--3">承接求购</h3>
                    <ul class="menu__subMenu subItem">
                        <li class="subItem__item">
                            <a href="" class="subItem__link">求购信息</a>
                        </li>
                    </ul>
                </div>
                <div class="menu__item">
                    <h3 class="menu__tit isType--4">店铺信息</h3>
                    <ul class="menu__subMenu subItem">
                        <li class="subItem__item">
                            <a href="" class="subItem__link">店铺信息</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">店铺名片</a>
                        </li>
                        <li class="subItem__item">
                            <a href="" class="subItem__link">店铺动态</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- sider menu E -->
        </div>
        <!-- sideBar E -->
        <div class="content">
            <div class="release">
                <h3 class="release__hd">编辑店铺基本信息</h3>
                <ul class="release__form form">
                    <li class="form__item">
                        <div class="form__group">
                            <label>
                                <span class="form__label">商家头像：</span>
                                <div class="form__group">
                                   <img class="merchants__pic" src="../images/temp/img.jpg" alt="">
                                   <div class="merchants__txt">
                                       上传图像
                                       <input type="file" class="merchants__inp" name="" value="" id="">
                                   </div>
                                </div>
                            </label>
                        </div>
                    </li>
                    <li class="form__item">
                        <div class="form__group">
                            <label>
                                <span class="form__label">商家名称：</span>
                                <div class="form__group">
                                    <div class="form__group form--lg">
                                        <input type="text" class="form__inp" value="" name="" id="" />
                                    </div>
                                </div>
                            </label>
                        </div>
                    </li>
                    <li class="form__item">
                        <div class="form__group">
                            <label>
                                <span class="form__label">商家性质：</span>
                                <div class="form__group">
                                    <div class="form__group form--lg">
                                        <input type="text" class="form__inp" value="" name="" id="" />
                                    </div>
                                </div>
                            </label>
                        </div>
                    </li>
                    <li class="form__item">
                        <div class="form__group">
                            <label>
                                <span class="form__label">商家标签：</span>
                                <div class="form__group">
                                    <div class="merchants__tags">
                                        <a href="" class="merchants__tag active">水路</a>
                                        <a href="" class="merchants__tag">电路</a>
                                        <a href="" class="merchants__tag">木工</a>
                                        <a href="" class="merchants__tag">油漆</a>
                                        <a href="" class="merchants__tag">泥工</a>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </li>
                    <li class="form__item">
                        <div class="form__group">
                            <label>
                                <span class="form__label">经营年限：</span>
                                <div class="form__group">
                                    <select class="form__sel form__sel--inline">
                                        <option value="1">10年+</option>
                                    </select>
                                </div>
                            </label>
                        </div>
                    </li>
                    <li class="form__item">
                        <div class="form__group">
                            <label>
                                <span class="form__label">贸易类型：</span>
                                <div class="form__group form--lg">
                                    <input type="text" class="form__inp" value="" name="" id="" />
                                </div>
                            </label>
                        </div>
                    </li>
                    <li class="form__item">
                        <div class="form__group">
                            <label>
                                <span class="form__label">主营产品：</span>
                                <div class="form__group form--lg">
                                    <input type="text" class="form__inp" value="" name="" id="" />
                                </div>
                            </label>
                        </div>
                    </li>
                    <li class="form__item">
                        <div class="form__group">
                            <label>
                                <span class="form__label">商家荣誉：</span>
                                <div class="form__group form--lg">
                                    <input type="text" class="form__inp" value="" name="" id="" />
                                </div>
                            </label>
                        </div>
                    </li>
                    <li class="form__item">
                        <div class="form__group">
                            <label>
                                <span class="form__label">经营品牌：</span>
                                <div class="form__group form--lg">
                                    <input type="text" class="form__inp" value="" name="" id="" />
                                </div>
                            </label>
                        </div>
                    </li>
                    <li class="form__item">
                        <div class="form__group">
                            <label>
                                <span class="form__label">商家简介：</span>
                                <div class="form__group">
                                    <textarea name="" maxlength="200" class="form__textarea"></textarea>
                                    <div class="form__tips">最多可输入200字</div>
                                </div>
                            </label>
                        </div>
                    </li>
                    <li class="form__item">
                        <div class="form__group">
                            <label>
                                <span class="form__label">产品图片：</span>
                                <div class="form__group">
                                    <div class="upfile">
                                        <div class="upfile__item">
                                            <a href="" class="upfile__del">✕</a>
                                            <img class="upfile__img" src="../images/temp/img.jpg" alt="">
                                        </div>
                                        <div class="upfile__item upfile__default">
                                            <input class="upfile__inp" type="file" name="" value="" id="">
                                        </div>
                                    </div>
                                    <div class="form__tips2">您最多上传三张商品图片</div>
                                </div>
                            </label>
                        </div>
                    </li>
                    <li class="form__item submit">
                        <div class="form__group">
                            <label>
                                <span class="form__label"></span>
                                <div class="form__group">
                                    <a href="" class="btn ">确定</a>
                                    <a href="" class="btn btn__line">取消</a>
                                </div>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- wrap E -->
</body>

</html>
