<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>我的详细资料</title>
    <script src="../libs/js/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body>
    <div class="head">
        <a class="head__return" href="">返回</a>
        <h2 class="head__title">供货商注册</h2>
    </div>
    <section class="wrap changeMsg">
        <section class="formRegist">
            <div class="formRegist__item">
                <div class="formRegist__label">头像</div>
                <div class="formRegist__box">
                    <div class="formRegist__inpBox">
                        <div class="formRegist__upimg">
                            <input type="file" class="formRegist__file" name="">
                            <img class="formRegist__pic" src="../images/temp/img4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="formRegist__item clear">
                <a href="javasript:;" class="formRegist__clear">ㄨ</a>
                <div class="formRegist__label">用户名</div>
                <div class="formRegist__box">
                    <div class="formRegist__inpBox">
                        <input type="text" class="formRegist__inp" name="" value="138012312391" placeholder="手机号" id="">
                    </div>
                </div>
            </div>
            <div class="formRegist__item clear">
                <a href="javasript:;" class="formRegist__clear">ㄨ</a>
                <div class="formRegist__label">我的店铺</div>
                <div class="formRegist__box">
                    <div class="formRegist__inpBox">
                        <input type="text" class="formRegist__inp" name="" value="大望路水管店" placeholder="手机号" id="">
                    </div>
                </div>
            </div>
            <div class="formRegist__item clear">
                <a href="javasript:;" class="formRegist__clear">ㄨ</a>
                <div class="formRegist__label">电话</div>
                <div class="formRegist__box">
                    <div class="formRegist__inpBox">
                        <input type="text" class="formRegist__inp" name="" value="18610996127" placeholder="手机号" id="">
                    </div>
                </div>
            </div>
            <div class="formRegist__item clear">
                <a href="javasript:;" class="formRegist__clear">ㄨ</a>
                <div class="formRegist__label">收件地址</div>
                <div class="formRegist__box">
                    <div class="formRegist__inpBox">
                        <input type="text" class="formRegist__inp" name="" value="北京市朝阳区建国路106号" placeholder="手机号" id="">
                    </div>
                </div>
            </div>
        </section>
        <a href="" class="formBtn">修 改</a>
    </section>
</body>

</html>