<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>8首页-我的-关注店铺</title>
    <script src="../libs/js/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body>
    <div class="head line-b">
        <a class="head__return" href="">返回</a>
        <h3 class="head__title">关注的店铺</h3>
        <a class="head__menu hidden" href="javascript:;"></a>
    </div>
    <div class="wrap find">
        <div class="supplier">
            <div class="supplier__item">
                <div class="supplier__head">
                    <div class="supplier__headFlex">
                        <div class="supplier__info">
                            <img class="supplier__userImg" src="../images/temp/img2.png" alt="" />
                            <div class="supplier__infoTxts">
                                <h3 class="supplier__title">金牛管业</h3>
                                <p class="supplier__txt">北京金牛管业总代理</p>
                            </div>
                        </div>
                        <div class="btns">
                            <a class="btn btn--blue" href="">进店查看</a>
                        </div>
                    </div>
                    <p class="supplier__desc">本店所有转接口类型商品8.8折大促销，欢迎选购</p>
                </div>
                <ul class="pubSwiper__list listModelThree listModelFour" id="cList">
                    <li class="pubSwiper__item">
                        <a class="thumbnailLink" href="">
                            <div class="thumbnail" style="background: url(../images/temp/img1.jpg); background-size: cover">
                                <span class="corner  corner--special">特</span>
                                <img class="thumbnail__img" src="../images/publics/43.png" alt="">
                            </div>
                            <div class="commodityInfos">
                                <p class="commodityInfos__name">WOODS仿真木纹WOODS仿真木</p>
                                <p class="commodityInfos__unit">单价：<em class="commodityInfos__num">9.8</em>元</p>
                                <p class="commodityInfos__count">起拍：<em class="commodityInfos__num">1000</em></p>
                            </div>
                        </a>
                    </li>
                    <li class="pubSwiper__item">
                        <a class="thumbnailLink" href="">
                            <div class="thumbnail" style="background: url(../images/temp/img1.jpg); background-size: cover">
                                <span class="corner  corner--hot">特</span>
                                <img class="thumbnail__img" src="../images/publics/43.png" alt="">
                            </div>
                            <div class="commodityInfos">
                                <p class="commodityInfos__name">WOODS仿真木纹WOODS仿真木</p>
                                <p class="commodityInfos__unit">单价：<em class="commodityInfos__num">9.8</em>元</p>
                                <p class="commodityInfos__count">起拍：<em class="commodityInfos__num">1000</em></p>
                            </div>
                        </a>
                    </li>
                    <li class="pubSwiper__item">
                        <a class="thumbnailLink" href="">
                            <div class="thumbnail" style="background: url(../images/temp/img1.jpg); background-size: cover">
                                <span class="corner  corner--special">特</span>
                                <img class="thumbnail__img" src="../images/publics/43.png" alt="">
                            </div>
                            <div class="commodityInfos">
                                <p class="commodityInfos__name">WOODS仿真木纹WOODS仿真木</p>
                                <p class="commodityInfos__unit">单价：<em class="commodityInfos__num">9.8</em>元</p>
                                <p class="commodityInfos__count">起拍：<em class="commodityInfos__num">1000</em></p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="tipsText none">暂无数据</p>
        <p id="loading" class="tipsText loading none">Loading...</p>
        <p id="noMore" class="tipsText none">暂无数据</p>
    </div>
    <div class="findTips">
        <p class="">未找到您想要的商品？试试<a class="findTips__link" href="">发布</a></p>
    </div>
    <script src="../js/require.js"></script>
    <script>
        require.config({　　　　
            baseUrl: "../js"　　
        });
    </script>
    <script src="../js/concern_shop.js"></script>
</body>

</html>
