<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>独立注册</title>
    <script src="../js/lib/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body>
    <section class="wrap selectEntry">
        <div class="selectEntry__imgBox">
            <img class="selectEntry__bg" src="../images/pulics/bg.png" alt="">
        </div>
        <div class="selectEntry__btns">
           <a href="" class="selectEntry__btn i-1">供应商</a>
           <a href="" class="selectEntry__btn i-2">夫妻店</a>
        </div>
    </section>
</body>

</html>
