<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>mbase</title>
    <script src="../js/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/jquery.fullPage.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="z8" class="z8">
        <div id="form" class="section page4">
            <h4 class="page4__title"></h4>
            <div  class="form">
                <div class="form__item">
                    <label class="form__label form__label--name" for=""></label>
                    <input class="form__input form__input--name" type="text" name="" value="高宇" id="">
                </div>
                <div class="form__item">
                    <label class="form__label form__label--phone" for=""></label>
                    <input class="form__input form__input--tel" maxlength="11" type="tel" name="" value="" id="">
                </div>
                <div class="form__item">
                    <label class="form__label form__label--type" for=""></label>
                    <div class="form__radio">
                        <div class="radioBox">
                            <input class="radio radio--personal" checked type="radio" name="jstype" value="personal" id="">
                            <span class="radio__span radio__span1"></span>
                        </div>
                        <div class="radioBox">
                            <input class="radio radio--inc" type="radio" name="jstype" value="inc" id="">
                            <span class="radio__span radio__span2"></span>
                        </div>
                    </div>
                </div>
                <div class="inc form__item none">
                    <label class="form__label form__label--inc" for=""></label>
                    <input class="form__input form__input--inc" type="text" name="" value="" id="">
                </div>
            </div>
            <div class="btns">
                <a class="btn btn__page4" href="javascript:;"></a>
            </div>
        </div>
        <div class="section page1"></div>
        <div class="section page2 ">
            <div class="text">
                <img class="imgTemp" src="../images/temp/tempbg.png" alt="">
                <div class="text__item text__01"></div>
                <div class="text__item text__02"></div>
                <div class="text__item text__03"></div>
                <div class="text__item text__04"></div>
            </div>
        </div>
        <div class="section page3">
            <img class="page3_img" src="../images/temp/page3_1.png" alt="">
            <div class="btns">
                <a class="btn btn__page3" href="javascript:;">我要来</a>
            </div>
        </div>
        <div class="section page5"></div>
    </div>
    <script src="../js/jquery/2.4.1/jquery.js"></script>
    <script src="../js/jquery.fullPage.min.js"></script>
    <script src="../js/app.js"></script>
</body>

</html>
