<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>index</title>
    <script src="../libs/js/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body class="bg1">
    <!--  顶部导航 S -->
    <div class="headTool">
        <a class="headTool__link headTool__addr" href="">武汉</a>
        <a class="headTool__link headTool__seach" href="">搜索</a>
        <a class="headTool__link headTool__msg unread" href="">消息</a>
    </div>
    <!--  顶部导航 E -->
    <div class="wrap">
        <!--  Swiper S -->
        <div id="slider">
            <div class="swiper" id="scroller">
                <ul class="swiper__list">
                    <li class="swiper__item">
                        <a href="" class="swiper__link"><img class="swiper__img" src="../images/temp/swiper.jpg" alt=""></a>
                    </li>
                    <li class="swiper__item">
                        <a href="" class="swiper__link"><img class="swiper__img" src="../images/temp/swiper.jpg" alt=""></a>
                    </li>
                </ul>
                <div class="swiper__dots" id="handler">
                    <a href="javascript:;" class="swiper__dotLink active"></a>
                    <a href="javascript:;" class="swiper__dotLink"></a>
                </div>
            </div>
            <!--  Swiper E -->
        </div>
        <!--  HeadMenu S -->
        <nav class="headMenu">
            <li class="headMenu__item"><a class="headMenu__link headMenu__emit" href="" title="">发布求购</a></li>
            <li class="headMenu__item"><a class="headMenu__link headMenu__offer" href="" title="">清库特价</a></li>
            <li class="headMenu__item"><a class="headMenu__link headMenu__hot" href="" title="">热销产品</a></li>
            <li class="headMenu__item"><a class="headMenu__link headMenu__class" href="" title="">分类购买</a></li>
        </nav>
        <!--  HeadMenu E -->
        <!--  ItemSwiper S -->
        <div class="pubSwiper pubSwiper--overflow pubSwiper--noMore">
            <header class="pubSwiper__head">
                <h3 class="pubSwiper__title">常购商品</h3>
                <a href="" class="pubSwiper__more">查看更多</a>
            </header>
            <ul class="pubSwiper__list listModelOne">
                <li class="pubSwiper__item">
                    <a class="thumbnailLink" href="">
                        <div class="thumbnail" style="background: url(../images/temp/img1.jpg); background-size: cover">
                            <span class="corner corner--hot corner--special">热</span>
                            <img class="thumbnail__img" src="../images/publics/43.png" alt="">
                        </div>
                        <div class="commodityInfos">
                            <p class="commodityInfos__name">WOODS仿真木纹WOODS仿真木</p>
                            <p class="commodityInfos__unit">单价：<em class="commodityInfos__num">9.8</em>元</p>
                            <p class="commodityInfos__count">起拍：<em class="commodityInfos__num">1000</em></p>
                        </div>
                    </a>
                    <a href="" class="shop">
                        <img class="shop__img" src="../images/temp/img2.png" alt="">
                        <p class="shop__name">陈阳水汽</p>
                    </a>
                </li>
            </ul>
        </div>
        <!--  ItemSwiper E -->
        <!--  ItemSwiper S -->
        <div class="pubSwiper pubSwiper--overflow ">
            <header class="pubSwiper__head">
                <h3 class="pubSwiper__title">常逛店铺</h3>
            </header>
            <ul class="pubSwiper__list listModelTwo">
                <li class="pubSwiper__item">
                    <a class="thumbnailLink" href="">
                        <div class="thumbnail" style="background: url(../images/temp/img3.png); background-size: cover">
                            <img class="thumbnail__img" src="../images/publics/43.png" alt="">
                        </div>
                        <div class="commodityInfos">
                            <img class="commodityInfos__logo" src="../images/temp/img4.jpg" alt="">
                            <p class="commodityInfos__item">得力建筑用笔</p>
                            <p class="commodityInfos__item tl">主营各种得力建筑用笔测绘笔等</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!--  ItemSwiper E -->
        <!--  ItemSwiper S -->
        <div class="pubSwiper">
            <header class="pubSwiper__head">
                <h3 class="pubSwiper__title">清库特价</h3>
                <a href="" class="pubSwiper__more">查看更多</a>
            </header>
            <ul class="pubSwiper__list listModelThree">
                <li class="pubSwiper__item">
                    <a class="thumbnailLink" href="">
                        <div class="thumbnail" style="background: url(../images/temp/img1.jpg);background-size: cover">
                            <span class="corner  corner--special">特</span>
                            <img class="thumbnail__img" src="../images/publics/43.png" alt="">
                        </div>
                        <div class="commodityInfos">
                            <p class="commodityInfos__name">WOODS仿真木纹WOODS仿真木</p>
                            <p class="commodityInfos__unit">单价：<em class="commodityInfos__num">9.8</em>元</p>
                            <p class="commodityInfos__count">起拍：<em class="commodityInfos__num">1000</em></p>
                        </div>
                    </a>
                    <a href="" class="shop">
                        <img class="shop__img" src="../images/temp/img2.png" alt="">
                        <p class="shop__name">陈阳水汽</p>
                    </a>
                </li>
            </ul>
        </div>
        <!--  ItemSwiper E -->
        <!--  ItemSwiper S -->
        <div class="pubSwiper">
            <header class="pubSwiper__head">
                <h3 class="pubSwiper__title">热销产品</h3>
                <a href="" class="pubSwiper__more">查看更多</a>
            </header>
            <ul class="pubSwiper__list listModelThree">
                <li class="pubSwiper__item">
                    <a class="thumbnailLink" href="">
                        <div class="thumbnail" style="background: url(../images/temp/img1.jpg);background-size: cover">
                            <span class="corner  corner--hot">热</span>
                            <img class="thumbnail__img" src="../images/publics/43.png" alt="">
                        </div>
                        <div class="commodityInfos">
                            <p class="commodityInfos__name">WOODS仿真木纹WOODS仿真木</p>
                            <p class="commodityInfos__unit">单价：<em class="commodityInfos__num">9.8</em>元</p>
                            <p class="commodityInfos__count">起拍：<em class="commodityInfos__num">1000</em></p>
                        </div>
                    </a>
                    <a href="" class="shop">
                        <img class="shop__img" src="../images/temp/img2.png" alt="">
                        <p class="shop__name">陈阳水汽</p>
                    </a>
                </li>
            </ul>
        </div>
        <!--  ItemSwiper E -->
    </div>
    <!--  底部导航 S -->
    <nav class="footMenu">
        <li class="footMenu__item"><a class="footMenu__link footMenu__btn1 active" href="javascript:;" title="">首页</a></li>
        <li class="footMenu__item"><a class="footMenu__link footMenu__btn2 " href="javascript:;" title="">分类</a></li>
        <li class="footMenu__item"><a class="footMenu__link footMenu__btn3 " href="javascript:;" title=""></a></li>
        <li class="footMenu__item"><a class="footMenu__link footMenu__btn4 " href="javascript:;" title="">交易</a></li>
        <li class="footMenu__item"><a class="footMenu__link footMenu__btn5 " href="javascript:;" title="">我的</a></li>
    </nav>
    <!--  底部导航 E -->
    <script src="../js/require.js"></script>
    <script>
    require.config({　　　　
        baseUrl: "../js"　　
    });
    </script>
    <script src="../js/index.js"></script>
</body>

</html>
