<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>Z1</title>
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../js/px2rem.min.js"></script>
</head>

<body>
    <div class="topBar">
        <a class="topBar__return topBar__hidden" href="javascript:;"></a>
        <h1 class="topBar__title topBar__hidden"></h1>
        <a class="topBar__menu topBar__hidden" href="javascript:;"></a>
    </div>
    <div class="wrap">
        <form id="cForm">
            <div class="z2">
                <div class="z2__title">使用手机号登录</div>
                <div class="z2Form">
                    <div class="z2Form__item">
                        <div class="z2Form__address"> 国家/地区</div>
                        <select class="select select--icon">
                            <option>中国</option>
                            <option>中国</option>
                            <option>中国</option>
                            <option>中国</option>
                            <option>中国</option>
                            <option>中国</option>
                            <option>中国</option>
                            <option>中国</option>
                            <option>中国</option>
                            <option>中国</option>
                        </select>
                    </div>
                    <div class="z2Form__item">
                        <div class="z2Form__inpBox z2Form__inpBox--small z2Form__inpBox--border">
                            <input class="z2Form__inp" type="text" value="+86" />
                        </div>
                        <div class="z2Form__inpBox">
                            <input id="cPhone" class="z2Form__inp" type="tel" placeholder="请输入您的手机号 " />
                        </div>
                    </div>
                    <div class="z2Form__item">
                        <div class="z2Form__inpBox z2Form__inpBox--small">
                            <div class="z2Form__address">密码</div>
                        </div>
                        <div class="z2Form__inpBox">
                            <input id="cPass" class="z2Form__inp" type="password" placeholder="请填写密码" />
                        </div>
                    </div><a id="cBtn" class="btn m--t50" href="javascript:;">登 录</a><a class="msgLogin" href="">通过短信验证码登录</a>
                </div>
            </div>
        </form>
    </div>
    <script src="../js/require.js"></script>
    <script>
    require.config({　　　　
        baseUrl: "../js"　　
    });
    </script>
    <script src="../js/loginPass.js"></script>
</body>

</html>
