<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>产品详情</title>
    <script src="../libs/js/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body>
    <div class="head">
        <a class="head__return" href="">返回</a>
        <h2 class="head__title">金牛PPR管</h2>
        <a id="collectionBtn" class="head__btn head__collection" href="javascript:;"><i class="icon"></i><span>收藏</span></a>
    </div>
    <!--  Swiper S -->
    <div id="slider">
        <div class="swiper swiperFull" id="scroller">
            <ul class="swiper__list">
                <li class="swiper__item">
                    <a href="" class="swiper__link"><img class="swiper__img" src="../images/temp/img7.png" alt=""></a>
                </li>
                <li class="swiper__item">
                    <a href="" class="swiper__link"><img class="swiper__img" src="../images/temp/swiper.jpg" alt=""></a>
                </li>
            </ul>
            <div class="swiper__dots" id="handler">
                <a href="javascript:;" class="swiper__dotLink active"></a>
                <a href="javascript:;" class="swiper__dotLink"></a>
            </div>
        </div>
        <!--  Swiper E -->
    </div>
    <div class="wrap detail">
        <header class="detail__head">
            <h3 class="detail__title">水管转接口1000起，超低价单价9元水管转接口1000起，超低价单价9元</h3>
            <div class="detail__infos">
                <div class="detail__infoItem">
                    单价：<em class="red">9元</em>
                </div>
                <div class="detail__infoItem">
                    起购：<em class="red">1000</em>
                </div>
            </div>
            <div class="productInfo">
                <p class="productInfo__label">产品名称：<span>金牛PPR管</span></p>
                <p class="productInfo__label">产品名称：<span>14cm*11cm</span></p>
                <p class="productInfo__label">产品名称：<span>武汉</span></p>
            </div>
        </header>
        <div class="detailArticle">
            <img src="../images/temp/img7.png" alt="" />
        </div>
    </div>
    <div class="detailFoot">
        <a href="" class="detailFoot__item detailFoot__1">进店</a>
        <a href="" class="detailFoot__item detailFoot__2">商家名片</a>
        <a href="" class="detailFoot__item detailFoot__3">联系商家</a>
        <a href="" class="detailFoot__link">购买</a>
    </div>
    <script src="../js/require.js"></script>
    <script>
    require.config({　　　　
        baseUrl: "../js"　　
    });
    </script>
    <script src="../js/pro_detail.js"></script>
</body>

</html>
