<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>发布求购</title>
    <script src="../libs/js/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body>
    <div class="head">
        <a class="head__return" href="">返回</a>
        <h2 class="head__title">发布求购</h2>
        <a class="head__menu head__send" href="">发布</a>
    </div>
    <div class="wrap release">
        <div class="tips">
            您的发布信息将最多为您保存7天，若超时请从新发布
        </div>
        <div class="formWrap">
            <div class="formGroup">
                <label class="controlLabel">产品名称：</label>
                <div class="inputGroup">
                    <input type="text" class="inputGroup__control"  placeholder="简易填写您求购的产品名称" value="" name="" id=""/>
                </div>
            </div>
            <div class="formGroup">
                <label class="controlLabel">产品描述：</label>
                <div class="inputGroup">
                    <textarea class="inputGroup__control inputGroup__textarea" name="" maxlength="200" id="" placeholder="如出口国家、价格、材质、规格等"></textarea>
                    <div class="textLenTips">0-200字</div>
                </div>
            </div>
            <div class="formGroup">
                <label class="controlLabel">产品分类：</label>
                <div class="inputGroup inputGroup--arrow">
                    <select class="inputGroup__control inputGroup__select">
                       <option value="option">生活用品</option>
                       <option value="option">option</option>
                       <option value="option">option</option>
                       <option value="option">中国</option>
                       <option value="option">option</option>
                    </select>
                </div>
            </div>
            <div class="formGroup">
                <label class="controlLabel">交货日期：</label>
                <div class="inputGroup inputGroup--arrow inputGroup__select">
                    <input class="inputGroup__control" type="date" value="" name="" id=""/>
                </div>
            </div>
            <div class="formGroup">
                <label class="controlLabel">求购数量：</label>
                <div class="inputGroup">
                    <input type="number" class="inputGroup__control"  placeholder="简易填写您求购的产品名称" value="" name="" id=""/>
                </div>
            </div>
            <div class="formGroup">
                <label class="controlLabel">添加照片：</label>
                <div class="inputGroup">
                    <div class="imgFiles">
                        <a href="javascript:;" class="imgItem">
                            <img class="imgItem__img" src="../images/temp/img6.png" alt=""/>
                        </a>
                        <a href="javascript:;" class="imgItem">
                            <img class="imgItem__img" src="../images/temp/img6.png" alt=""/>
                        </a>
                        <a href="javascript:;" class="imgItem default">
                            <img class="imgItem__img" src="../images/temp/img6.png" alt=""/>
                        </a>
                    </div>
                    <div class="textLenTips">最多添加3张</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
