<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>发布信息</title>
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../js/px2rem.min.js"></script>
    <style>
        .loading{
            position: fixed; 
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 100;
            -webkit-user-select:none
            -moz-user-select:none
            -o-user-select:none
            -ms-user-select:none
            user-select:none
            pointer-events: none;
        }
        .loading span{
            font-size: .373333rem;
            position: absolute;
            top: 49%;
            left: 0;
            right: 0;
            text-align: center;
            color: #fff;
        }
    </style>
</head>

<body class="">
    <div class="topBarNav topBarNav--shadow">
        <a href="" class="topBarNav__return"></a>
        <ul class="topBarNav__list">
            <li class="topBarNav__item topBarNav__item--active"><a class="topBarNav__link" href="javascript:;">发布信息</a></li>
        </ul>
        <a href="javascript:;" id="btnPublish" class="topBarNav__menu">发布</a>
    </div>
    <div class="wrap">
        <form id="cForm" action="">
            <div class="management">
            <div class="management__item management--link management--arrow" href="">
                <div class="labelName">装修进度</div>
                <div class="textBox">请选择</div>
                <select name="" id="cSelect" class="management__input management__input--poa">
                     <option value="0">请选择</option>
                     <option value="1">进度1</option>
                     <option value="2">进度2</option>
                     <option value="3">进度3</option>
                 </select>
            </div>
            <div class="management__item management--link management--arrow" href="">
                <div class="labelName">时间</div>
                <div class="textBox">2018-12-12</div>
                <input id="cDate" class="management__input management__input--poa" type="date" name="" value="" id="" placeholder="时间">
            </div>
            <div class="management__item management--link " href="">
                <textarea name="" class="management__textarea" placeholder="请编辑文章内容"></textarea>
            </div>
            <input type="hidden" name="file_ids" value="">
        </form>

            <div class="management__item management--link " href="">
                <div class="upfile">
                    <h3>上传图片</h3>
                    <ul class="imgList">
                        <!-- <li class="imgList__item ">
                            <img class="imgList__img" src="../images/temp/bg1.png" alt="">
                        </li>
                        <li class="imgList__item ">
                            <img class="imgList__img" src="../images/temp/bg1.png" alt="">
                        </li>
                        <li class="imgList__item ">
                            <img class="imgList__img" src="../images/temp/bg1.png" alt="">
                        </li> -->
                        <li class="imgList__item">
                            <form action="" id="cForm2">
                            <a href="javascript:;" class="fileBtn">
                                <input id="upLoadImg" type="file" class="fileBtn__input" name="fileUpload" value="" />
                            </a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
    </div>
    <div id="loading" class="loading none">
        <span>图片上传中，请稍等……</span>
    </div>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script src="../js/ajaxfileupload.js"></script>
    <script src="../js/require.js"></script>
    <script>
        require.config({　　　　
            baseUrl: "../js"　　
        });
    </script>
    <script src="../js/publishInfo.js"></script>
</body>

</html>
