<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>发布信息</title>
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../js/px2rem.min.js"></script>
</head>

<body class="">
    <div class="topBarNav topBarNav--shadow">
        <a href="" class="topBarNav__return"></a>
        <ul class="topBarNav__list">
            <li class="topBarNav__item topBarNav__item--active"><a class="topBarNav__link" href="javascript:;">发布信息</a></li>
        </ul>
        <a href="" class="topBarNav__menu">发布</a>
    </div>
    <div class="wrap">
        <div class="management">
            <div class="management__item management--link management--arrow" href="">
                <div class="labelName">装修进度</div>
                <div class="textBox">装修准备</div>
                <select name="" id="" class="management__input management__input--poa">
                     <option value="option">option</option>
                     <option value="option">option</option>
                     <option value="option">option</option>
                     <option value="option">option</option>
                 </select>
            </div>
            <div class="management__item management--link management--arrow" href="">
                <div class="labelName">时间</div>
                <div class="textBox">2018-12-12</div>
                <input class="management__input management__input--poa" type="date" name="" value="" id="" placeholder="时间">
            </div>
            <div class="management__item management--link " href="">
                <textarea name="" class="management__textarea" placeholder="请编辑文章内容"></textarea>
            </div>
            <div class="management__item management--link " href="">
                <div class="upfile">
                    <h3>上传图片</h3>
                    <ul class="imgList">
                        <li class="imgList__item ">
                            <img class="imgList__img" src="../images/temp/bg1.png" alt="">
                        </li>
                        <li class="imgList__item ">
                            <img class="imgList__img" src="../images/temp/bg1.png" alt="">
                        </li>
                        <li class="imgList__item ">
                            <img class="imgList__img" src="../images/temp/bg1.png" alt="">
                        </li>
                        <li class="imgList__item">
                            <a href="javascript:;" class="fileBtn">
                                <input type="file" class="fileBtn__input" name="fileUpload" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
