<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>我的</title>
    <script src="../libs/js/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body>
    <div class="wrap my">
        <div class="myHead">
            <a href="" class="myMsg"><i class="icon"></i>我的信息</a>
            <div class="myInfos">
                <img class="myInfos__userImg" src="../images/temp/img5.png" alt="">
                <p class="myInfos__userName">昵称</p>
                <p class="myInfos__userDesc">金明水路管材专卖</p>
            </div>
        </div>
        <div class="myMain">
            <div class="myFocus">
                <a href="" class="myFocus__btn myFocus__store">关注的店铺</a>
                <a href="" class="myFocus__btn myFocus__product">收藏的产品</a>
            </div>
            <div class="myContact">
                <p class="myContact__txt">电话：</p>
                <p class="myContact__txt">收货地址：</p>
            </div>
            <a href="javascript:;" class="exitBtn">退出</a>
        </div>
    </div>
    <!--  底部导航 S -->
    <nav class="footMenu">
        <li class="footMenu__item"><a class="footMenu__link footMenu__btn1 active" href="javascript:;" title="">首页</a></li>
        <li class="footMenu__item"><a class="footMenu__link footMenu__btn2 " href="javascript:;" title="">分类</a></li>
        <li class="footMenu__item"><a class="footMenu__link footMenu__btn3 " href="javascript:;" title=""></a></li>
        <li class="footMenu__item"><a class="footMenu__link footMenu__btn4 " href="javascript:;" title="">交易</a></li>
        <li class="footMenu__item"><a class="footMenu__link footMenu__btn5 " href="javascript:;" title="">我的</a></li>
    </nav>
    <!--  底部导航 E -->
    <script src="../js/require.js"></script>
</body>

</html>
