<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="../css/postcss.css" />
</head>

<body class="bem">
    <div class="login">
        <div class="login__main">
            <a href="" class="login__logo">
                <img class="logo__img" src="../images/login/logo.png" alt="">
            </a>
            <div class="login__form">
                <div class="login__sw none">
                    <h3 class="login__title">手机登录</h3>
                    <div class="login__item">
                        <label>
                        <i class="login__icon1 icon"></i>
                        <input type="text" class="login__inp" placeholder="手机号" name="" value="" id="">
                    </label>
                    </div>
                    <div class="login__item">
                        <label>
                        <i class="login__icon2 icon"></i>
                        <input type="text" class="login__inp login__inp--xs" placeholder="验证码" name="" value="" id="">
                    </label>
                        <a href="javascript:;" class="login__verif gray">发送验证码</a>
                    </div>
                </div>
                <div class="login__sw">
                    <h3 class="login__title">密码登录</h3>
                    <div class="login__item">
                        <label>
                        <i class="login__icon1 icon"></i>
                        <input type="text" class="login__inp" placeholder="手机号" name="" value="" id="">
                    </label>
                    </div>
                    <div class="login__item">
                        <label>
                        <i class="login__icon3 icon"></i>
                        <input type="text" class="login__inp" placeholder="密码" name="" value="" id="">
                    </label>
                    </div>
                </div>
                <a href="" class="login__submit">登录</a>
                <div class="login__switch">
                    <a href="" class="login__switchLink login__icon--pwd login__icon--sj">
                        <span class="login__tips"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
