<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>分类查找</title>
    <script src="../libs/js/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body class="bg1">
    <div class="head">
        <a class="head__return" href="">返回</a>
        <h2 class="head__title">分类查找</h2>
        <a class="head__menu head__class" href="">菜单</a>
    </div>
    <!--  顶部导航 S -->
    <div class="headTool headTool--p30 hasHead">
        <a class="headTool__link headTool__seach" href="">搜索</a>
        <a class="headTool__link headTool__msg" href="">分类</a>
    </div>
    <!--  顶部导航 E -->
    <div class="classPop classPopPage">
        <div class="classTabs" id="ctabs">
            <div class="classTabs__left">
                <a href="javascript:;" class="classTabs__btn active">水路</a>
                <a href="javascript:;" class="classTabs__btn">水路</a>
            </div>
            <div class="btnsWrap">
                <div class="classTabs__right btns">
                    <a href="" class="btn btn--line">PPR水管1</a>
                    <a href="" class="btn btn--line">PPR水管</a>
                    <a href="" class="btn btn--line">全部</a>
                    <a href="" class="btn btn--line">PPR水管</a>
                    <a href="" class="btn btn--line">全部</a>
                    <a href="" class="btn btn--line">PPR水管</a>
                    <a href="" class="btn btn--line">PPR水管</a>
                </div>
                <div class="classTabs__right btns none">
                    <a href="" class="btn btn--line">PPR水管2</a>
                    <a href="" class="btn btn--line">PPR水管</a>
                    <a href="" class="btn btn--line">全部</a>
                    <a href="" class="btn btn--line">PPR水管</a>
                    <a href="" class="btn btn--line">全部</a>
                    <a href="" class="btn btn--line">PPR水管</a>
                    <a href="" class="btn btn--line">PPR水管</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/require.js"></script>
    <script>
        require.config({　　　　
            baseUrl: "../js"　　
        });
    </script>
    <script src="../js/find_category.js"></script>
</body>

</html>
