<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>热销产品</title>
    <script src="../libs/js/px2rem.min.js"></script>
    <link rel="stylesheet" href="../css/postcss.css">
</head>

<body class="bg1">
    <div class="head">
        <a class="head__return" href="">返回</a>
        <h2 class="head__title">热销产品</h2>
        <a class="head__menu hidden" href="">菜单</a>
    </div>
    <!--  顶部导航 S -->
    <div class="headTool headTool--p30 hasHead">
        <a class="headTool__link headTool__seach" href="">搜索</a>
        <a id="categoryBtn" class="headTool__link headTool__msg" href="javascript:;">分类</a>
    </div>
    <!--  顶部导航 E -->
    <div id="categoryPop" class="classPop none">
        <div class="classPop__head">
            <h4 class="" class="classPop__tit">分类</h4>
            <a href="javascript:;" class="classPop__close">✕</a>
        </div>
        <div class="classTabs" id="ctabs">
            <div class="classTabs__left">
                <a href="javascript:;" class="classTabs__btn active">水路</a>
                <a href="javascript:;" class="classTabs__btn">水路</a>
            </div>
            <div class="btnsWrap">
                <div class="classTabs__right btns">
                    <a href="" class="btn btn--line">PPR水管1</a>
                    <a href="" class="btn btn--line">PPR水管</a>
                    <a href="" class="btn btn--line">全部</a>
                    <a href="" class="btn btn--line">PPR水管</a>
                    <a href="" class="btn btn--line">全部</a>
                    <a href="" class="btn btn--line">PPR水管</a>
                    <a href="" class="btn btn--line">PPR水管</a>
                </div>
                <div class="classTabs__right btns none">
                    <a href="" class="btn btn--line">PPR水管2</a>
                    <a href="" class="btn btn--line">PPR水管</a>
                    <a href="" class="btn btn--line">全部</a>
                    <a href="" class="btn btn--line">PPR水管</a>
                    <a href="" class="btn btn--line">全部</a>
                    <a href="" class="btn btn--line">PPR水管</a>
                    <a href="" class="btn btn--line">PPR水管</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap bg2 clearLibr">
        <ul id="cLoadMore" class="clearLibrList">
            <li class="clearItem">
                <header class="clearItem__head">
                    <h3 class="clearItem__title">水管转接口1000起，超低价单价9元<i class="hot">热</i></h3>
                    <div class="clearItem__infos">
                        <span class="clearItem__info">单价：<em class="clearItem__infoEm">9元</em></span>
                        <span class="clearItem__info">起购：<em class="clearItem__infoEm">1000</em></span>
                    </div>
                </header>
                <ul class="clearItemImgs">
                    <li class="clearItemImgs__item">
                        <a href="" class="clearItemImgs__link" style="background: url(../images/temp/img5.png); background-size: cover">
                            <img class="clearItemImgs__img" src="../images/publics/11.png" alt="">
                        </a>
                    </li>
                    <li class="clearItemImgs__item">
                        <a href="" class="clearItemImgs__link" style="background: url(../images/temp/img5.png); background-size: cover">
                            <img class="clearItemImgs__img" src="../images/publics/11.png" alt="">
                        </a>
                    </li>
                    <li class="clearItemImgs__item">
                        <a href="" class="clearItemImgs__link" style="background: url(../images/temp/img5.png); background-size: cover">
                            <img class="clearItemImgs__img" src="../images/publics/11.png" alt="">
                        </a>
                    </li>
                </ul>
                <div class="clearItem__user">
                    <a href="" class="clearItem__shop">
                        <img class="clearItem__shopImg" src="../images/temp/img2.png" alt="">
                        <p class="clearItem__shopName">商铺名称名称</p>
                    </a>
                    <div class="btns">
                        <a class="btn btn--blue" href="">购买</a>
                        <a class="btn btn--line" href="">联系他</a>
                    </div>
                </div>
            </li>

            <li class="clearItem">
                <header class="clearItem__head">
                    <h3 class="clearItem__title">水管转接口1000起，超低价单价9元<i class="hot">热</i></h3>
                    <div class="clearItem__infos">
                        <span class="clearItem__info">单价：<em class="clearItem__infoEm">9元</em></span>
                        <span class="clearItem__info">起购：<em class="clearItem__infoEm">1000</em></span>
                    </div>
                </header>
                <ul class="clearItemImgs">
                    <li class="clearItemImgs__item">
                        <a href="" class="clearItemImgs__link">
                            <img class="clearItemImgs__img" src="../images/temp/img5.png" alt="">
                        </a>
                    </li>
                    <li class="clearItemImgs__item">
                        <a href="" class="clearItemImgs__link">
                            <img class="clearItemImgs__img" src="../images/temp/img5.png" alt="">
                        </a>
                    </li>
                    <li class="clearItemImgs__item">
                        <a href="" class="clearItemImgs__link">
                            <img class="clearItemImgs__img" src="../images/temp/img5.png" alt="">
                        </a>
                    </li>
                </ul>
                <div class="clearItem__user">
                    <a href="" class="clearItem__shop">
                        <img class="clearItem__shopImg" src="../images/temp/img2.png" alt="">
                        <p class="clearItem__shopName">商铺名称名称</p>
                    </a>
                    <div class="btns">
                        <a class="btn btn--blue" href="">购买</a>
                        <a class="btn btn--line" href="">联系他</a>
                    </div>
                </div>
            </li>
        </ul>
        <!-- <p class="tipsText">上拉刷新</p> -->
        <p class="tipsText">暂无数据</p>
        <p id="loading" class="tipsText loading">loading...</p>
        <p id="noMore" class="tipsText">没有更多</p>
    </div>
    <script src="../js/require.js"></script>
    <script>
        require.config({　　　　
            baseUrl: "../js"　　
        });
    </script>
    <script src="../js/sell_hot.js"></script>
</body>

</html>
