html, body 
    height: 100%
    font-size: 14px
    font-family: Segoe UI, Lucida Grande, Helvetica, Arial, Microsoft YaHei, FreeSans, Arimo, Droid Sans, wenquanyi micro hei, Hiragino Sans GB, Hiragino Sans GB W3, FontAwesome, sans-serif, SimHei
.wrap 
    min-width: $VAR_MIN_WIDTH
    min-height: 100%


input, textarea 
    outline: none
    border: none
    background: none
    &:focus 
        border-color: #66afe9!important
        outline: 0
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
a 
    text-decoration: none

