$VAR_LINE_01: #BFC5D1;
$VAR_LINE_02: #c6c6c6;
$VAR_C_HUISE_01: #42454c;
$VAR_C_HUISE_02: #2e2e35;
$VAR_C_LANSE_01: #508aff;
$VAR_C_HEISE_01: #2e3136;

















/*公共*/

.txtColor--orange {
    color: #ffb400;
}

.txtColor--blue {
    color: $VAR_C_LANSE_01;
}

.m--l30 {
    margin-left: 30px;
}

.hidden {
    overflow: hidden;
}














/****** 登录 S  *******/

.login {
    padding: 0;
    &:after {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: rgba(255, 255, 255, .35);
    }
    .loginVideo {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.loginMain {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    z-index: 2;
    .loginLogo {
        background: url(../images/public/login_logo.png) no-repeat center center;
        margin: 0 auto;
        overflow: hidden;
        width: 394px;
        height: 250px;
        font-size: 0;
    }
    .loginForm {
        margin-top: 40px;
        background-color: rgba(255, 255, 255, .85);
        padding: 52px 90px;
        .loginTitle {
            font-size: 28px;
            color: $VAR_C_HUISE_01;
            text-align: center;
            margin-bottom: 30px;
        }
    }
}

.loginInp {
    width: 350px;
    .loginInp__label {
        position: relative;
        border-bottom: 1px solid #D2D5DB;
        padding: 20px 0;
        display: block;
    }
    .loginInp__input {
        border: none;
        width: 100%;
        font-size: 16px;
        outline: none;
        text-indent: 47px;
        background: none;
        line-height: 20px;
        &:focus {
            box-shadow: none;
            border-color: none;
        }
    }
    .loginInp__label--id,
    .loginInp__label--password {
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
        }
    }
    .loginInp__label--id {
        &:before {
            background: url(../images/icon-login/user.png) no-repeat;
            width: 27px;
            height: 32px;
        }
    }
    .loginInp__label--password {
        &:before {
            background: url(../images/icon-login/password.png) no-repeat;
            width: 24px;
            height: 32px;
        }
    }
}

.loginSubmit {
    display: block;
    padding: 14px 10px;
    color: #fff;
    font-size: 24px;
    background: url(../images/login/submit.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    margin-top: 40px;
}

.loginAuxi {
    text-align: center;
    margin-top: 20px;
    .loginAuxi__item {
        text-decoration: underline;
        color: $VAR_C_HUISE_01;
        font-size: 14px;
        display: inline-block;
        padding: 20px 10px;
        .loginAuxi__item--active {
            color: $VAR_C_LANSE_01
        }
    }
}

.loginEwm {
    background: url(../images/icon-login/erw.png) no-repeat;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 52px;
    height: 56px;
    opacity: 0.5;
    transition: all .3s ease;
    &:hover {
        opacity: 1;
        .loginEwm__tips {
            opacity: 1;
            transform: translate(0, -30%);
        }
    }
    .loginEwm__tips {
        position: absolute;
        top: 50%;
        left: 80px;
        background: rgba(255, 255, 255, .85);
        transform: translate(-30%, -30%);
        padding: 10px;
        color: $VAR_C_HEISE_01;
        white-space: nowrap;
        opacity: 0;
        transition: all .3s ease;
        &:before {
            content: "";
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-right: 5px solid rgba(255, 255, 255, .85);
            border-bottom: 5px solid transparent;
            position: absolute;
            font-size: 0;
            left: -5px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}


















/****** 登录 E  *******/


/****** 前台公共 S  *******/

.wrap--bg {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 410px;
        background: url(../images/home/bg.jpg) no-repeat center top;
        background-size: cover;
        z-index: -1;
    }
}

.top {
    padding-top: 40px;
    color: #fff;
    text-align: right;
    font-size: 21px;
    padding-right: 50px;
    .top__user-name {
        padding: 0 20px;
    }
    .top__btn {
        display: inline-block;
        padding: 0 10px 0 10px;
        color: #fff;
        text-decoration: underline;
    }
    .top__btn--blue {
        color: $VAR_C_LANSE_01;
    }
}

.head {
    margin-top: 20px;
    .head__logo {
        display: block;
        width: 262px;
        margin: 0 auto;
    }
    .head__nav {
        width: $VAR_MAIN_WIDTH;
        margin: 0 auto;
        margin-top: 80px;
        display: flex;
        background: $VAR_C_HUISE_02;
        height: 90px;
        li {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: -4px;
                transform: translateY(-50%) rotate(15deg);
                height: 20px;
                background: #fff;
                width: 1px;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
        .head__nav-item {
            display: block;
            color: #fff;
            text-align: center;
            overflow: hidden;
            text-indent: -9999px;
            position: relative;
            height: 90px;
            flex: 1;
        }
    }
}

.head__nav-glfa,
.head__nav-glkh,
.head__nav-qb,
.head__nav-add,
.head__nav-zc {
    .head__nav-item {
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 190px;
            height: 46px;
            background-repeat: no-repeat;
        }
    }
}

.head__nav-glfa {
    .head__nav-item {
        &:after {
            background-image: url(../images/icon-home/nav_glfa_1.png);
        }
    }
}

.head__nav-glkh {
    .head__nav-item {
        &:after {
            background-image: url(../images/icon-home/nav_glkh_1.png);
        }
    }
}

.head__nav-qb {
    .head__nav-item {
        &:after {
            background-image: url(../images/icon-home/nav_qb_1.png);
        }
    }
}

.head__nav-add {
    .head__nav-item {
        background: #528AFC;
        &:after {
            background-image: url(../images/icon-home/nav_add_2.png)
        }
    }
}

.head__nav-zc {
    .head__nav-item {
        &:after {
            background-image: url(../images/icon-home/nav_zc_2.png)
        }
    }
}

.head__nav--active {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #fff;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
}

.head__nav--active.head__nav-glfa,
.head__nav-glfa:hover {
    .head__nav-item {
        &:after {
            background-image: url(../images/icon-home/nav_glfa_2.png);
        }
    }
}

.head__nav--active.head__nav-glkh,
.head__nav-glkh:hover {
    .head__nav-item {
        &:after {
            background-image: url(../images/icon-home/nav_glkh_2.png);
        }
    }
}

.head__nav--active.head__nav-qb,
.head__nav-qb:hover {
    .head__nav-item {
        &:after {
            background-image: url(../images/icon-home/nav_qb_2.png);
        }
    }
}

.content {
    width: $VAR_MAIN_WIDTH;
    margin: 0 auto;
}


















/****** 前台公共 E  *******/


/****** 首页 S  *******/

.index {
    margin-top: 100px;
    color: $VAR_C_HEISE_01;
    .index__title {
        font-size: 45px;
        line-height: 1;
        position: relative;
        padding-bottom: 25px;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 80px;
            height: 2px;
            background: $VAR_C_LANSE_01;
        }
    }
    .index__title-number {
        color: $VAR_C_LANSE_01;
        padding: 0 10px;
    }
    .designList {
        margin-top: 75px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .designList__item {
        flex: 0 0 47%;
        margin-bottom: 70px;
    }
    .designList__img {
        width: 100px;
        display: block;
        position: absolute;
        z-index: 1;
        box-shadow: 0px 0px 21px 0px rgba(35, 24, 21, 0.13);
    }
    .designList__link {
        color: $VAR_C_HEISE_01;
    }
    .designList__box {
        margin: 50px 0 0 50px;
        background: #f8f8f8;
        padding: 40px 0 35px 87px;
        font-size: 26px;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            top: 50%;
            right: 50px;
            border-right: 1px solid $VAR_LINE_02;
            border-top: 1px solid $VAR_LINE_02;
            transform: translateY(-50%) rotate(45deg);
        }
    }
    .designList__tit {
        margin-bottom: 10px;
    }
    .designList__num {
        color: $VAR_C_LANSE_01;
        padding: 0 10px;
    }
    .indexFooer {
        text-align: center;
        font-size: 24px;
        color: $VAR_C_HUISE_02;
        border-top: 1px solid $VAR_LINE_02;
        padding: 60px 0 100px;
        &:before {
            content: "";
            display: inline-block;
            width: 35px;
            height: 31px;
            margin-right: 30px;
            vertical-align: middle;
            line-height: 1;
            background: url(../images/icon-home/foot_i.png) no-repeat;
        }
    }
}


















/****** 首页 E  *******/


/****** 注册 S  *******/

.register {
    background: #fff;
    margin-top: 40px;
    .register__list {
        font-size: 16px;
        color: #42454c;
        padding: 40px;
    }
    .register__item {
        display: flex;
        margin-bottom: 30px;
    }
    .register__label {
        flex: 0 0 100px;
        padding-right: 20px;
        line-height: 50px;
        text-align: right;
    }
    .register__inp {
        flex: 1;
        display: flex;
        align-items: center;
        .input--checkbox[type="checkbox"],
        .input--radio[type="radio"] {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            z-index: 1;
            font-size: 30px;
            width: 30px;
        }
        .label__box {
            overflow: hidden;
            position: relative;
            display: inline-block;
            margin-right: 20px;
        }
        .label__name {
            display: inline-block;
            vertical-align: middle;
        }
        .label__radio {
            width: 20px;
            height: 20px;
            border-radius: 100px;
            border: 1px solid $VAR_LINE_02;
            display: inline-block;
            vertical-align: middle;
            margin-left: 4px;
            position: relative;
            margin-right: 4px;
            &:after {
                content: "";
                position: absolute;
                width: 10px;
                height: 8px;
                border-top: 1px solid $VAR_LINE_02;
                border-right: 1px solid $VAR_LINE_02;
                transform-origin: center center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -80%) rotate(130deg);
            }
        }
        input[type="radio"]:checked+i,
        input[type="radio"]:checked+i {
            border-color: $VAR_C_LANSE_01;
            background: $VAR_C_LANSE_01;
            &:after {
                border-color: #fff;
            }
        }
        input[type="radio"]:disabled+i,
        input[type="radio"]:disabled+i {
            border-color: $VAR_C_LANSE_01;
            background: $VAR_C_LANSE_01;
            &:after {
                border-color: #fff;
            }
        }
        input[type="radio"]:checked:disabled+i,
        input[type="radio"]:checked:disabled+i {
            border-color: $VAR_C_LANSE_01;
            background: $VAR_C_LANSE_01;
            &:after {
                border-color: #fff;
            }
        }
        .input__error {
            color: red;
            font-size: 16px;
            line-height: 50px;
            display: block;
            padding: 0 20px 0 20px;
            text-align: center;
        }
    }
    .register__input {
        width: 180px;
        padding: 15px 20px;
        font-size: 16px;
        border: 1px solid $VAR_LINE_02;
    }
    .register__input--max {
        width: 300px;
    }
    .register__btn {
        display: block;
        line-height: 48px;
        height: 48px;
        text-align: center;
        padding: 0 40px;
        font-size: 24px;
        border: 1px solid transparent;
        transition: all .3s ease-out;
        &:hover {
            background: #477be3;
        }
    }
    .register__btn--blue {
        color: #fff;
        background: $VAR_C_LANSE_01;
    }
    .register__btn--max {
        width: 350px;
    }
    .register__btn--line {
        background: #fff;
        border: 1px solid $VAR_LINE_02;
        color: $VAR_C_HUISE_01;
        &:hover {
            background: #fff;
        }
    }
    .register__textarea {
        border: 1px solid $VAR_LINE_02;
        min-height: 250px;
        width: 660px;
        resize: none;
        font-size: 16px;
        padding: 20px;
        &::placeholder {
            color: #c5c9d0;
        }
    }
    .register__examine{
        padding: 100px 40px 200px;
    }
    .register__submit {
        margin: 90px 0;
        display: flex;
    }
    .register__examine-bg {
        display: block;
        margin: 90px auto 80px;
    }
    .register__examine-title {
        color: $VAR_C_LANSE_01;
        font-size: 38px;
        font-weight: bold;
        text-align: center;
    }
    .register__examine-title--red {
        color: #ff1c2c;
    }
    .register__examine-subtitle {
        color: $VAR_C_HEISE_01;
        text-align: center;
        font-size: 26px;
        margin-top: 34px;
    }
    .register__examine {
        margin-bottom: 200px;
        .register__btn {
            margin: 74px auto 0;
        }
    }
}


















/****** 注册 E  *******/

.manage {
    background: #fff;
    padding: 28px 40px 100px;
    width: 1120px;
}

.manageUserInof {
    display: flex;
    padding: 0 30px;
    background: #F7F7F7;
    padding: 30px 0 20px;
    max-width: $VAR_MAIN_WIDTH;
    margin: auto;
    justify-content: space-between;
    .manageUserInof__item {
        padding: 0 40px;
    }
}

.manageHead {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $VAR_LINE_02;
    padding-bottom: 30px;
    margin-bottom: 40px;
    .manageHead__title {
        /*font-size: 16px;*/
        color: $VAR_C_HUISE_02;
        border: 1px solid transparent;
        span {
            padding: 10px;
        }
    }
    .manageHead__titleValue{
        font-size: 16px;
        width: 260px;
        padding: 10px;
        border: 1px solid transparent;
    }
    .manageHead__title--edit {
        span{
            border: 1px solid #D8DDE6;
        }
    }
    .manageHead__btn {
        background: #fff;
        color: $VAR_C_HUISE_02;
        border: 1px solid $VAR_C_HUISE_02;
        white-space: nowrap;
        height: 38px;
        line-height: 38px;
        cursor: pointer;
        padding: 0 60px;
        font-size: 16px;
        transition: all .2s ease-out;
        &:hover {
            background: $VAR_C_HUISE_02;
            color: #fff;
        }
    }
    .manageHead__tags {
        display: flex;
        align-items: baseline;
    }
    .manageHead__tagsLabel {
        display: inline-block;
        height: 22px;
        line-height: 22px;
    }
    .manageHead__tagsBox {
        display: flex;
        flex-wrap: wrap;
        max-width: 410px;
    }

    .manageHead__tag {
        display: inline-block;
        line-height: 22px;
        height: 22px;
    }
    .manageHead__tagsBox--edit {
        .manageHead__tag {
            background: #F2F2F2;
            font-size: 12px;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 0 10px;
            cursor: pointer;
        }
        .manageHead__tag:hover,
        .manageHead__tag--active {
            background: #528AFC;
            color: #fff;
        }
    }
}

.manageMod {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 40px;
    .manageMod__tit {
        font-size: 16px;
        color: $VAR_C_HUISE_02;
        margin-bottom: 20px;
    }
    .manageList__link {
        display: block;
    }
    .manageList {
        display: flex;
        flex-wrap: wrap;
        margin-left: -2%;
        .manageList__item {
            flex: 0 0 23%;
            position: relative;
            margin-left: 2%;
            margin-bottom: 40px;
        }
        .manageList__item--unread {
            &:before {
                content: "";
                position: absolute;
                width: 14px;
                height: 14px;
                border-radius: 100%;
                background: #ff5454;
                border: 2px solid #fff;
                right: -7px;
                top: -7px;
            }
        }
        .manageList__img {
            display: block;
            width: 100%;
        }
        .manageList__close {
            position: absolute;
            background: #ff5454;
            width: 28px;
            height: 28px;
            top: -14px;
            right: -14px;
            border-radius: 100%;
            overflow: hidden;
            color: #fff;
            text-align: center;
            line-height: 28px;
            font-weight: 200;
            z-index: 2;
            display: none;
        }
        .manageList__desc {
            font-size: 16px;
            color: $VAR_C_HUISE_02;
            border: 1px solid transparent;
            margin-top: 5px;
            line-height: 1.4;
            padding: 10px;
            text-align: center;
        }
    }
}

.manageMod--vedio {
    border-bottom: none;
}

.vedioIcon {
    position: relative;
    &:before,
    &:after {
        content: "";
        position: absolute;
    }
    &:before {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
    }
    &:after {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: url(../images/icon-public/vedio-i.png) no-repeat;
        width: 55px;
        height: 55px;
    }
}

.manage--edit {
    .manageHead__btn {
        background: $VAR_C_LANSE_01;
        border: 1px solid transparent;
        color: #fff;
        &:hover {
            background: #477be3;
        }
    }
    .manageList {
        .manageList__close {
            display: block;
        }
        .manageList__desc {
            border-color: #e9e9e9;
        }
    }
}


















/******  设计方案二级 S  *******/

.bgF7 {
    background: #f7f7f7;
}

.scheme {
    margin-top: 50px;
    .loadMore {
        display: block;
        text-align: center;
        font-size: 16px;
        color: $VAR_C_HUISE_02;
        height: 60px;
        line-height: 60px;
        background: #fff;
        margin-bottom: 20px;
        &:hover {
            background: #fefefe;
        }
    }
    .noData {
        padding: 100px;
        .noData__img {
            display: block;
            margin: 0 auto;
        }
        .noData__txt {
            text-align: center;
            font-size: 40px;
            font-weight: 200;
            margin-top: 10px;
            color: #2e2e35;
        }
    }
}

.schemeList {
    .schemeList__item {
        overflow: hidden;
        height: 200px;
        margin-bottom: 40px;
        background: #fff;
    }
    .schemeList__item--active {
        height: auto;
        transition: all .3s ease-out;
        .infoSimple__open {
            &:after {
                transform: translateX(-50%) rotate(45deg);
            }
        }
    }
    .editDoorModel {
        text-decoration: underline;
        font-size: 14px;
        color: $VAR_C_HEISE_01;
        margin-left: 30px;
    }
}

.infoSimple {
    padding: 40px;
    display: flex;
    position: relative;
    .infoSimple__img {
        display: block;
        flex: 0 0 120px;
        height: 120px;
        margin-right: 40px;
        background: #f6f6f6;
    }
    .pbox {
        display: flex;
        .infoSimple__txt {
            /*flex: 0 0 50%;*/
            /*width: 0;*/
            flex: 1;
        }
    }
    .infoSimple__txtBox {
        flex: 1;
        padding-right: 200px;
    }
    .infoSimple__txtBox--poa {
        position: absolute;
        top: 40px;
        right: 40px;
        bottom: 40px;
        width: 200px;
    }
    .infoSimple__txt {
        font-size: 16px;
        padding: 10px 0;
        .infoSimple__txt--tit {
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            max-width: 600px;
        }
        .infoSimple__txtBox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            position: relative;
            padding-right: 200px;
        }
    }
    .infoSimple__open {
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        &:after {
            content: "";
            position: absolute;
            right: 40px;
            bottom: 15px;
            width: 15px;
            height: 15px;
            border-right: 2px solid #393940;
            border-bottom: 2px solid #393940;
            transform: rotate(-135deg);
            transform-origin: center center;
            z-index: 20;
            transition: all .3s ease-out;
            transform-origin: center center;
        }
    }
    .addPlan {
        position: absolute;
        width: 150px;
        text-align: center;
        height: 40px;
        line-height: 40px;
        color: #fff;
        font-size: 16px;
        background: $VAR_C_LANSE_01;
        top: 0;
        right: 0;
        transition: all .3s ease-out;
        &:hover {
            background: #477be3;
        }
    }
}

.infoDetail__main {
    display: flex;
    justify-content: space-between;
    margin: 0 -40px;
    .detailBlock {
        overflow: hidden;
        flex: 1;
        margin: 0 40px;
    }
}

.screening {
    display: flex;
    padding: 40px;
    padding-top: 0;
    align-items: center;
    .screening__item {
        font-size: 16px;
        display: flex;
        align-items: center;
        margin-right: 40px;
    }
    .screening__label {
        height: 30px;
        line-height: 30px;
        display: inline-block;
    }
    .screening__select {
        height: 28px;
        line-height: 28px;
        min-width: 150px;
        padding-right: 40px;
        margin: 0;
        display: inline-block;
        background: #fff;
        font-size: 16px;
        color: $VAR_C_HEISE_01;
        border: 1px solid #d8dde6;
        padding-left: 1em;
        border-radius: 0;
        outline: none;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: #fff url("../images/public/select.png") no-repeat scroll right center transparent;
        background-position: right center;
    }
}

.infoDetail {
    overflow: hidden;
    padding: 40px;
    padding-top: 0;
    .infoDetail__item {
        padding-top: 40px;
        position: relative;
        &:before {
            content: "";
            background: #ebeef3;
            height: 1px;
            position: absolute;
            left: -40px;
            right: -40px;
            top: 0;
        }
    }
    .detailBlock__head {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        color: $VAR_C_HUISE_02;
        margin-bottom: 20px;
    }
    .detailBlock__all {
        color: $VAR_C_HUISE_02;
        font-size: 16px;
        position: relative;
        padding-right: 20px;
        padding-left: 20px;
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 5px;
            width: 10px;
            height: 10px;
            border-top: 1px solid $VAR_C_HUISE_02;
            border-right: 1px solid $VAR_C_HUISE_02;
            transform: translateY(-50%) rotate(45deg);
            transform-origin: center center;
            display: inline-block;
        }
    }
    .detailBlock__all--unread {
        &:before {
            content: "";
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background: #ff1c2c;
            margin-right: 10px;
            font-size: 0;
        }
    }
    .infoDetail__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        border-bottom: 1px solid #EBEEF3;
        padding-bottom: 20px;
    }
    .infoDetail__tit {
        font-size: 16px;
        color: $VAR_C_HUISE_02;
        font-weight: bold;
    }
    .infoDetail__style {
        font-weight: 400;
        margin-left: 40px;
        color: $VAR_C_HEISE_01;
        text-decoration: underline;
    }
    .userInof {
        display: flex;
        margin-top: 20px;
    }
    .userInof__item {
        flex: 1;
        white-space: nowrap;
        margin-right: 30px;
    }
    .infoDetail__btn {
        height: 40px;
        line-height: 40px;
        background: $VAR_C_HUISE_02;
        font-size: 16px;
        padding: 0 50px;
        transition: all .3s ease-out;
        background: #fff;
        color: $VAR_C_HUISE_02;
        border: 1px solid $VAR_C_HUISE_02;
        &:hover {
            color: #fff;
            background: #4d4d53;
        }
    }
}

.detailList {
    display: flex;
    margin-left: -35px;
    flex-wrap: wrap;
    .detailList__item {
        flex: 0 0 150px;
        margin-left: 35px;
        margin-bottom: 20px;
    }
    .detailList__link {
        display: block;
    }
    .detailList__img {
        display: block;
        width: 150px;
        height: 150px;
    }
    .detailList__txt {
        text-align: center;
        font-size: 16px;
        color: $VAR_C_HUISE_02;
        padding: 10px 0;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
    .img_default {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            z-index: 10;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
        }
    }
}

.detailBlock--vedio {
    .detailList__link--default {
        &:before {
            display: none;
        }
    }
    .vedio_default {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            z-index: 10;
            width: 150px;
            height: 150px;
            background: none;
        }
    }
}


















/******  设计方案二级 E  *******/

.pubPop {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    &:after {
        content: "";
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
    }
    .pubPop__main {
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: 200;
        transform: translate(-50%, -50%);
    }
    .pubPop__close {
        position: fixed;
        top: 100px;
        right: 100px;
        width: 60px;
        height: 60px;
        background: #fff;
        border-radius: 100%;
        color: $VAR_C_HUISE_02;
        text-align: center;
        line-height: 60px;
        font-size: 30px;
        font-weight: 200;
        z-index: 200;
    }
    .pubPop__video {
        max-width: 100%;
    }
    .pubPop__img {
        display: block;
        max-width: 100%;
    }
}


















/****** 返回顶部 S  *******/

.gotoTop {
    position: fixed;
    left: 50%;
    margin-left: 640px;
    z-index: 10;
    bottom: 100px;
    padding: 13px;
    background: #fff;
    color: $VAR_C_HUISE_01;
    &:before {
        content: "";
        display: block;
        height: 43px;
        width: 43px;
        background: url(../images/icon-public/gotoTop.png) no-repeat;
        margin: 0 auto 10px;
    }
}


















/****** 返回顶部 E  *******/


/****** 标记点 S  *******/

.dotWrap {
    margin-top: 40px;
    padding: 40px 0;
    background: #fff;
    .dot__title {
        font-size: 16px;
        color: #2e2e35;
    }
    .dot__title {
        padding-left: 40px;
    }
    .btnWrap {
        padding: 80px 0 120px 0;
        text-align: center;
        .btn {
            margin: 0 20px;
            width: 250px;
        }
    }
}

.imgWrap {
    margin: 40px;
    position: relative;
    .imgWrap__img {
        display: block;
        width: 100%;
    }
    .dot {
        position: absolute;
        z-index: 2;
        width: 28px;
        height: 28px;
        background: rgba(72, 122, 225, 0.8);
        border-radius: 100%;
        margin-left: -14px;
        margin-top: -14px;
    }
    .dot--unread {
        background: rgba(255, 80, 80, .8);
    }
    .dot--active {
        background: rgba(72, 122, 225, 0.8);
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: url(../images/icon-public/dotborder.png) no-repeat;
            width: 40px;
            height: 40px;
        }
    }
}

.replyWrap {
    padding: 0 40px;
    .replyBox {
        display: flex;
    }
    .textareaWrap {
        flex: 1;
        display: flex;
        border: 1px solid #D8DDE6;
        position: relative;
        margin-right: 20px;
    }
    .replyBox__textarea {
        padding: 20px;
        font-size: 16px;
        flex: 1;
        height: 88px;
        resize: none;
    }
    .textareaWrap__tips {
        position: absolute;
        font-size: 16px;
        color: #c5c9d0;
        bottom: 10px;
        right: 10px;
    }
    .replyStataWrap {
        flex: 0 0 130px;
        height: 130px;
        .replyStata {
            text-align: center;
            overflow: hidden;
            width: 130px;
            height: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: none;
            &:before {
                content: "";
                display: block;
                background-repeat: no-repeat;
                margin-bottom: 20px;
            }
        }
        .replyStata--praise {
            background: #528AFC;
            color: #fff;
            position: relative;
            &:before {
                width: 40px;
                height: 40px;
                background: url(../images/icon-public/zan.png);
            }
        }
        .replyStata--step {
            background: #f5465b;
            color: #fff;
            position: relative;
            &:before {
                width: 40px;
                height: 40px;
                background: url(../images/icon-public/cai.png);
            }
        }
        .replyStata--waiting {
            background: #2E2E35;
            color: #fff;
            position: relative;
            &:before {
                width: 41px;
                height: 38px;
                background: url(../images/icon-public/dengdai.png);
            }
        }
    }
    .replyStataWrap[data-active="0"] .replyStata--waiting {
        display: flex;
    }
    .replyStataWrap[data-active="1"] .replyStata--praise {
        display: flex;
    }
    .replyStataWrap[data-active="-1"] .replyStata--step {
        display: flex;
    }
}

.btn {
    display: inline-block;
    font-size: 24px;
    color: #fff;
    background: #508aff;
    height: 48px;
    line-height: 48px;
    text-align: center;
    padding: 0 30px;
    border: 1px solid transparent;
}

.btn--line {
    background: #fff;
    border: 1px solid #e1e1e1;
    color: #2E2E35;
}

.btn--gray {
    background: #999;
}
















/****** 标记点 E  *******/


/****** 公共弹窗 S  *******/

.pubPopLayout {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 300;
    overflow: hidden;
    .pubPopMain {
        overflow-y: auto;
        position: relative;
        z-index: 10;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pubPopMain--ov {
        align-items: baseline;
    }
    .pubPopContent {
        position: relative;
        background: #fff;
        padding: 40px 0;
    }
    .W700 {
        width: 700px;
    }
}

.pubPopHead {
    .pubPopHead__tit {
        margin: 0 40px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ebeef3;
        font-size: 18px;
    }
}

.pubPopClose {
    color: #333;
    font-size: 20px;
    font-weight: 200;
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px 40px 20px;
    &:hover {
        color: red;
    }
}

.eidtFamilyInfo {
    padding-top: 20px;
    margin: 0 40px;
    .eidtFamilyInfo__item {
        display: flex;
        margin-bottom: 40px;
        /*width: 730px;*/
    }
    .eidtBox {
        display: flex;
        position: relative;
        margin-left: 10px;
        .error {
            position: absolute;
            left: 0;
            right: 0;
            top: 50px;
            font-size: 12px;
            line-height: 1.5;
            text-align: left;
        }
    }
    .eidtInput--300 {
        width: 300px;
    }
    .eidtFamilyInfo__label {
        width: 80px;
        height: 40px;
        line-height: 40px;
        text-align: justify;
        text-align-last: justify;
    }
    .eidtInput {
        height: 38px;
        border: 1px solid #D8DDE6;
        font-size: 16px;
        padding: 0 20px;
    }
    .select--max {
        height: 38px;
        margin-right: 10px;
        line-height: 38px;
        font-size: 16px;
        min-width: 140px;
        color: $VAR_C_HEISE_01;
        border: 1px solid #d8dde6;
        padding-left: 1em;
        border-radius: 0;
        padding-right: 60px;
        outline: none;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: #fff url("../images/public/select2.png") no-repeat scroll right center transparent;
        background-position: right center;
    }
    .lenovo {
        position: relative;
        display: flex;
        margin-right: 10px;
        width: 200px;
    }
    .W300 {
        width: 300px;
    }
    .lenovo__inp {
        flex: 1;
        height: 38px;
        border: 1px solid #d8dde6;
        background: #fff url("../images/public/select2.png") no-repeat scroll right center transparent;
        padding: 0 20px;
        min-width: 140px;
        position: relative;
        z-index: 1;
        font-size: 16px;
    }
    .lenovoList {
        position: absolute;
        margin-top: -1px;
        top: 40px;
        right: 0;
        background: #fff;
        border: 1px solid #d8dde6;
        left: 0;
        min-width: 140px;
        display: none;
    }
    .lenovoList__item {
        padding: 20px;
        border-top: 1px solid #d8dde6;
        margin-top: -1px;
        cursor: pointer;
        &:hover{
            background: #e6efff;
        }
    }
    .lenovo--active {
        z-index: 20;
        .lenovoList {
            display: block;
            z-index: 30;
        }
    }
    .eidt__tips {
        line-height: 40px;
        font-size: 16px;
        margin: 0 10px;
    }
    .eidtInput--xs {
        width: 40px;
        min-width: 40px;
        text-align: center;
        padding: 0;
    }
    .eidtInput--noborder {
        border: none;
        height: 40px;
        line-height: 40px;
    }
    .stylesTags {
        width: 350px;
    }
    .stylesTag {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 12px;
        color: $VAR_C_HUISE_02;
        min-width: 70px;
        height: 22px;
        line-height: 22px;
        background: #F2F2F2;
        margin-right: 10px;
        text-align: center;
        &:hover {
            background: #528AFC;
            color: #fff;
        }
    }
    .stylesTag--active {
        background: #528AFC;
        color: #fff;
    }
    .eidt__tips--link{
        color: #528AFC;
        text-decoration: underline;
    }
}

.price {
    margin-top: 30px;
    position: absolute;
    left: -30px;
    background: url(../images/public/zhifubg.png) no-repeat;
    right: -30px;
    height: 171px;
    color: #fff;
    text-align: center;
    .price__tips {
        padding-top: 30px;
        margin-bottom: 10px;
    }
    .price__num {
        font-size: 80px;
        font-weight: bold;
    }
}

.curprice {
    text-align: center;
    color: $VAR_C_HUISE_02;
    font-size: 16px;
    padding-top: 220px;
}

.determineBtn {
    display: block;
    margin: 50px 15%;
}

.error {
    text-align: center;
    color: #ff1c2c;
    font-size: 16px;
}

.eidtBtn {
    display: block;
    margin: 0 auto;
    margin: 50px 30%;
    margin-top: 100px
}

.chooseFamily {
    display: flex;
    flex-wrap: wrap;
    max-width: 810px;
    .chooseFamily__link {
        display: block;
        position: relative;
        width: 178px;
        height: 178px;
        border: 2px solid transparent;
        margin: 0 20px 20px 0;
        background: #F6F6F6;
        overflow: hidden;
    }
    .chooseFamily__link:hover,
    .chooseFamily__link--active {
        border-color: #528AFC;
    }
    .chooseFamily__img {
        display: block;
        width: 180px;
        height: 180px;
    }
    .chooseFamily__name {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        color: #333;
        background: #F6F6F6;
        z-index: 1;
        padding: 10px;
    }
    .chooseFamily__txt {
        font-size: 16px;
        color: #508aff;
        line-height: 40px;
    }
    .chooseFamily__txt--red {
        font-size: 16px;
        color: #f5465b;
    }
}














/****** 公共弹窗 E  *******/


/****** 推荐工长 S  *******/

.master {
    background: #fff;
    margin-top: 40px;
    .masterList {
        width: 100%;
        table-layout: fixed;
        thead {
            border-bottom: 1px solid #EBEEF3;
        }
        th {
            padding: 37px 0;
            text-align: left;
            padding-left: 40px;
            font-weight: bold;
        }
        td {
            position: relative;
            padding: 20px 40px;
            text-align: left;
            line-height: 1.5;
            vertical-align: middle;
            &:first-child {
                &:after {
                    left: 40px;
                }
            }
            &:last-child {
                &:after {
                    right: 40px;
                }
            }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 1px;
                background: #EBEEF3;
            }
        }
        .recommended {
            padding: 20px 20px 20px 0;
            display: block;
        }
    }
    .green {
        color: #4dc455;
    }
    .red {
        color: #ff1c2c;
    }
    .blue {
        color: #528afc;
    }
    .masterList--topUp {
        table-layout: auto;
        .W300 {
            width: 300px;
            max-width: 300px;
        }
    }
    .recommendedBtn {
        display: block;
        margin: 100px 60px 50px;
    }
    .eidtInput--max {
        width: 300px;
    }
}

.masterPage {
    text-align: center;
    padding: 100px 0;
    .masterPage__btn {
        display: inline-block;
        border: 1px solid #EBEEF3;
        height: 22px;
        line-height: 22px;
        color: #333;
        font-size: 14px;
        padding: 0 10px;
        text-align: center;
        margin: 0 5px;
        &:hover {
            background: #528AFC;
            border-color: #528AFC;
            color: #fff;
        }
    }
    .masterPage__btn--active {
        border-color: transparent;
        cursor: default;
        &:hover {
            background: none;
            border-color: transparent;
            color: #333;
        }
    }
    .masterPage__btn--disable {
        color: #D5D5D5;
        cursor: default;
        &:hover {
            background: none;
            border: 1px solid #EBEEF3;
            color: #D5D5D5;
        }
    }
}











/****** 推荐工长 E  *******/


/******  智能装自己装 S  *******/

.choose {
    width: 537px;
    margin: 100px auto;
    .chooseHead {
        display: flex;
        margin-bottom: 40px;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 20px;
            bottom: 20px;
            width: 1px;
            background: #D8DDE6;
            left: 50%;
        }
    }
    .chooseHead__btn {
        flex: 1;
        width: 0;
        padding: 40px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        font-size: 18px;
        color: #333;
        flex-direction: column;
        &:before {
            content: "";
            display: block;
            margin-bottom: 10px;
        }
    }
    .chooseHead__btn--my {
        &:before {
            width: 49px;
            height: 47px;
            background: url(../images/icon-public/zhuangmy_1.png);
        }
    }
    .chooseHead__btn--my.chooseHead__btn--active {
        &:before {
            background: url(../images/icon-public/zhuangmy_2.png);
        }
    }
    .chooseHead__btn--smart {
        &:before {
            width: 47px;
            height: 45px;
            background: url(../images/icon-public/zhuangzhineng_1.png);
        }
    }
    .chooseHead__btn--smart.chooseHead__btn--active {
        &:before {
            background: url(../images/icon-public/zhuangzhineng_2.png);
        }
    }
}

.chooseMain {
    background: #fff;
    position: relative;
    .chooseMain__box {
        padding: 40px 0;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
            top: -10px;
        }
    }
}

.colors {
    display: flex;
    max-width: 300px;
    padding-top: 8px;
    .color__item {
        width: 23px;
        height: 23px;
        border: 1px solid transparent;
        outline: 1px solid transparent;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .color--01 {
        background: #528AFC;
        border-color: #528AFC;
        outline-color: #528AFC;
    }
    .color--02 {
        background: #FFEC5D;
        border-color: #FFEC5D;
        outline-color: #FFEC5D;
    }
    .color--03 {
        background: #FD556D;
        border-color: #FD556D;
        outline-color: #FD556D;
    }
    .color--04 {
        background: #4DC455;
        border-color: #4DC455;
        outline-color: #4DC455;
    }
    .color--05 {
        background: #FE9458;
        border-color: #FE9458;
        outline-color: #FE9458;
    }

    .color__item:hover,
    .color__item.color--active {
        border-color: #fff;
    }
}

.chooseMain__box--my {
    &:before {
        left: 130px;
    }
}

.chooseMain__box--smart {
    &:before {
        right: 130px;
    }
}

.btnWrap{
    padding: 50px 30px;
    display: flex;
    .btn{
        margin: 0 15px;
        flex:1;
    }
}







/******  智能装自己装 E  *******/


/****** 充值 S  *******/

.topUp {
    padding-top: 50px;
    text-align: center;
    .topUp__tit {
        font-size: 16px;
        color: #42454c;
        margin-bottom: 10px;
    }
    .topUp__number {
        font-size: 80px;
        color: #508aff;
        font-weight: bold;
    }
}

.balance {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    border-bottom: 1px solid #F5F5F5;
    .balanceNumWrap {
        font-size: 26px;
        color: #2e2e35;
        display: flex;
        align-items: center;
    }
    .balanceNumber {
        font-size: 53px;
        color: #508aff;
    }
    .topUpBtn {
        display: block;
        background: #508aff;
        color: #fff;
        width: 150px;
        text-align: center;
        line-height: 40px;
        height: 40px;
    }
}

.masterUserInof {
    width: $VAR_MAIN_WIDTH;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    align-items: center;
    .masterUserInof__img {
        width: 60px;
        height: 60px;
        display: block;
        margin-left: 40px;
    }
    .masterUserInof__txt {
        margin: 0 30px;
    }

    .masterUserInof__txt {
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }
    .masterUserInof__txt--xs {
        font-weight: 400;
    }
}

.balanceWrap {
    margin-top: 30px;
}





/****** 充值 E  *******/


/****** 支付 S  *******/

.pay {
    background: #fff;
    margin-top: 50px;
}

.payHead {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    margin: 0 40px;
    align-items: center;
    border-bottom: 1px solid #D8DDE6;
    .orderNumber {
        font-size: 18px;
        font-weight: bold;
        color: #333;
    }
    .payNumWrap {
        font-size: 26px;
        color: #333;
        display: flex;
        align-items: center;
        .payNum {
            color: #508aff;
            font-size: 53px;
            margin-left: 10px;
        }
    }
}

.payType {
    margin: 0 140px;
    .payTypeHead {
        display: flex;
        justify-content: center;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 40px;
            bottom: 50px;
            width: 1px;
            background: #D8DDE6;
            left: 50%;
        }
    }
    .payTypeHead__item {
        padding: 40px 100px;
        text-align: center;
        font-size: 18px;
        color: #333;
        &:before {
            content: "";
            display: block;
            width: 90px;
            height: 90px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    .payTypeHead__weixin {
        &:before {
            background: url(../images/icon-public/weixin.png) no-repeat;
        }
    }
    .payTypeHead__alipay {
        &:before {
            background: url(../images/icon-public/alipay.png) no-repeat;
        }
    }
}

.payEwmWrapBox {
    padding-bottom: 188px;
    border-top: 1px solid #DCE1E9;
    position: relative;
    text-align: center;
    .payEwm {
        width: 321px;
        height: 307px;
        margin: 80px auto 50px;
        display: block;
    }
    .payEwm__txt {
        font-size: 32px;
        color: #333;
    }
    &:before {
        content: "";
        position: absolute;
        top: -21px;
        background: url(../images/icon-public/arrow.png) no-repeat;
        width: 50px;
        height: 21px;
        left: 50%;
    }
}

.payEwm--weixin {
    &:before {
        margin-left: -170px;
    }
}

.payEwm--alipay {
    &:before {
        margin-left: 125px;
    }
}



/****** 支付 E  *******/
