@import '_base.css';
@import '_common.css';


html,
body {
    height: 100%;
}


select{
    outline: none;
}
.wrap{
    min-height: 100%;
}

.selectEntry {
    flex-direction: column;
    &__bg {
        display: block;
        width: 100%;
    }
    &__imgBox {}
    &__btns {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
    }
    &__btn {
        display: block;
        flex: 1;
        text-align: center;
        font-size: 45rm;
        color: #14263c;
        margin: 0 30rm;
        margin-bottom: 10rm;
        &:before {
            content: "";
            display: block;
            margin: 0 auto;
            width: 178rm;
            height: 180rm;
        }
    }
    .i-1 {
        &:before {
            background: url(../images/pulics/i-1.png) no-repeat;
            background-size: 100% 100%;
        }
    }
    .i-2 {
        &:before {
            background: url(../images/pulics/i-2.png) no-repeat;
            background-size: 100% 100%;
        }
    }
}



.formHeader {
    height: 88rm;
    line-height: 88rm;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #E5E7EB;
    &__title {
        text-align: center;
        font-weight: bold;
        font-size: 34pm;
        color: #000;
        padding: 0 150rm;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__return {
        position: absolute;
        left: 0;
        top: 0;
        height: 88rm;
        width: 100rm;
        &:before {
            content: "";
            background: url(../images/pulics/i-3.png) no-repeat;
            background-size: 100% 100%;
            position: absolute;
            top: 50%;
            left: 30rm;
            transform: translateY(-50%);
            width: 40rm;
            height: 48rm;
        }
    }
    &__menu {
        position: absolute;
        height: 88rm;
        width: 100rm;
        top: 0;
        right: 0;
        font-size: 34rm;
        color: #3997FB;

    }
}
.formStatus{
    margin-top: 124rm;
    margin-bottom: 168rm;
   &__img{
        display: block;
        width: 146rm;
        height: 145rm;
        margin: 0 auto;
   }
   &__txt{
    font-size: 34pm;
    text-align: center;
    margin: 0 30rm;
    color:#1d334a;
    margin-top: 30rm;
   }
}
.formBtn{
    display: block;
    height: 88rm;
    line-height: 88rm;
    text-align: center;
    color:#fff;
    background: #3997FB;
    font-size: 30pm;
    margin: 0 30rm;
    margin-top: 150rm;
}


/* 注册表单  */
.formRegist{
    background: #fff;
    padding: 10rm 30rm 0;
    overflow: hidden;
    &__item{
        display: flex;
        border-bottom: 1rm solid #F2F3F7;
        height: 100rm;
        font-size: 34pm;
        color:#1d334a;
        position: relative;
        &.arrow{
            &:after{
                content: "";
                background: url(../images/pulics/i-6.png) no-repeat;
                background-size: 100% 100%;
                width: 12rm;
                height: 24rm;
                position: absolute;
                top:50%;
                right:30rm;
                transform: translateY(-50%);
            }
        }
        &.gray{
            input,div{
                color:#8290A5;
            }
        }
        &.clear{
            .clearBtn{
                display: block;
            }
        }
    }
    .clearBtn{
        position: absolute;
        width: 30rm;
        height: 30rm;
        background: #D5DBE7;
        top:50%;
        right: 0;
        transform: translateY(-50%);
        color:#fff;
        text-align: center;
        line-height: 30rm;
        border-radius: 100%;
        font-size: 20rm;
        display: none;
    }
    &__inpBox{
        flex:1;
    }
    &__inp{
        font-size: 34pm;
        color:#1d334a;
        width: 100%;
        height: 88rm;
        padding-left: 32rm;
    }
    &__sel{
        font-size:34pm;
        flex:1;
        &:disabled{
            color:#1d334a;
        }
    }
    &__label{
        width: 180rm;
        line-height: 100rm;
        height: 100rm;
        font-size: 34pm;
        color:#1d334a;
        &:disabled{
            color:#1d334a;
        }
    }
    &__label--line{
        border-right: 1rm solid #F2F3F7;
    }
    &__box{
        flex:1;
        height: 100rm;
        line-height: 100rm;
        display: flex;
    }
    &__vericode{
        width: 235rm;
        color:#3598fe;
        font-size: 34pm;
        border-left: 1rm solid #F2F3F7;
        text-align: center;
        cursor: pointer;
        &.gray{
            color:#999;
        }
    }
}
.formError{
    text-align: center;
    font-size: 26pm;
    color:#ff0012;
    padding: 100rm 0;
    font-weight: bold;
}

.formTips{
    color:#8290a6;
    padding: 43rm 30rm;
    font-size: 28pm;
    line-height: 1.5;
}
.changePwd{
    background:#F5F7FA;
}

.none {
    display: none!important;
}
