/* ----------------------------------------------------------------------------
AUTHOR:  liujunhao
EMAIL: html.5@foxmail.com
SYNTAX: POSTCSS
CLASS: BEM
TOOL: gulp + webpack
HTML: PUG
---------------------------------------------------------------------------- */
@import '_global.css';
@import '_base.css';
@import '_common.css';
@import '_patch.css';
@import '_main.css';

.none{
    display: none!important;
}
.blur{
    filter: blur(10px);
}
